<div class="form-check-label support-results__form-input support-results__label--input-within" {{ extraAttributes is defined?extraAttributes:"" }}>
    <input type="checkbox"
           class="form-check-input"
           :id="category.id{{ isMobile?"+'-mobile'":"" }}"
           :value="category.id"
           :checked="params.{{ paramName }}.includes(category.id)"
           @click="checkboxUpdateCategory($event, '{{ categoryName }}', '{{ paramName }}')"
           :aria-labelledby="'input-'+category.id{{ isMobile?"+'-mobile'":"" }}"
{#           :aria-describedby="category.label.length?'`tooltip-${category.id}{{ isMobile? '-mobile':''}}`': false"#}
           {# todo: find out how to optionally render html attributes with twig and vue, optionally render aria-describedby when tooltip is vailable #}
    />
    <label class="support-results__label"
          v-html="category.title"
          :id="'input-'+category.id{{ isMobile?"+'-mobile'":"" }}"
          :for="category.id{{ isMobile?"+'-mobile'":"" }}" aria-hidden="true"
    ></label>
    <button class="btn support-results__form-input-tooltip"
            v-if="category.label.length"
            data-toggle="tooltip"
            data-placement="bottom"
            :title="category.label">
        <img src="{{ url("assets/img/svg/ic-questionmark.svg") }}" aria-hidden="true" alt="Tooltip icon question mark"/>
        <span class="sr-only">Tooltip for {* category.title *}</span>
    </button>
</div>
