{# example:
	{% include "_elements/banner-simplify" with ({
		heading: title,
		image: bannerImage,
		classes: 'banner--simple banner--blue-swirl',
		summary: null
	}) %}
#}
{% import '_macros' as macros %}
{% set textColumnClasses = image ? 'banner__column banner__column--text banner__column--with-media' : 'banner__column banner__column--text banner__column--full-width' %}
<section class="banner {{ classes }}">
	<div class="banner__row">
		<div class="{{ textColumnClasses }}">
			<div class="banner__text-content-wrap">
				{% if heading %}
					<h1 class="banner__text-content-heading">{{ heading }}</h1>
				{% endif %}
				{% if summary %}
					<div class="banner__text-content-summary">{{ summary | raw }}</div>
				{% endif %}
			</div>
		</div>
		{% if image %}
			<div class="banner__column banner__column--media">
				<div class="banner__media banner__media--image" style="{{ macros.thumbnail({ image: image, imagerSettings: { width: 1600, }, outputAsBackgroundImage: true, }) }}">
					<img class="banner__media--image-decoration--mobile"
					     src="{{ url("/assets/img/png/mobile-swirl@2x.png") }}"
					     aria-hidden="true"
					     alt="Dark blue image placed left bottom for banner curved edge."
					/>
					<img class="banner__media--image-decoration--desktop"
					     src="{{ url("/assets/img/png/swirl-left-side-swirl@2x.png") }}"
					     aria-hidden="true"
					     alt="Dark blue image placed left bottom for banner curved edge."
					/>
				</div>
			</div>
		{% endif %}
	</div>
</section>
