{# Banner can be seen as a extend of the richMedia block. (_content-blocks/rich-media.html)
	1. Banner is set up in src\styles\base\design-system-components\_ds-banner.scss and extended into banner.scss and rich-media.scss, if you want changes to apply to both - update ds-banner.scss
	2. Banner allows text-only version (simple-banner), but rich media requires 1 media column and 1 text column
#}

{% import '_macros' as macros %}
{% if custom is defined or (entry is defined and entry) %}
	{% set variation = variation is defined and variation ? variation : '' %}
	{% set banner = custom is defined and custom ? custom : entry is defined and entry ? craft.yump.getBanner(entry, variation) : custom %}
	{%- if banner -%}
{#		{% dd banner %}#}
		{% set variationClasses = banner.media ? banner.variationClasses : banner.variationClasses ~ ' banner--no-media' %}
		{% set textColumnClasses = banner.media ? 'banner__column banner__column--text' : 'banner__column banner__column--text banner__column--full-width' %}
		<section class="banner {{ variationClasses }}">
			<div class="banner__row">
				{# text column #}
				<div class="{{textColumnClasses}}">
					<div class="banner__text-content-wrap">

						<h1 class="banner__text-content-heading">{{ banner.heading }}</h1>

						{% if banner.summary %}
							<div class="banner__text-content-summary">{{ banner.summary | raw }}</div>
						{% endif %}

						{% if banner.buttons %}
							<div class="banner__text-content-ctas">
								{% for button in banner.buttons %}
									{{ macros.cta({
									    field: button,
									    additionalClasses: 'banner__text-content-cta',
									}) }}
								{% endfor %}
							</div>
						{% endif %}

						{% if linkBackLink is defined and linkBackLink %}
							<a class="btn btn--link-inline-underline banner__link-back support-results__link" href="{{ linkBackLink }}">{{linkBackLinkText}}</a>
						{% endif %}

					</div>
				</div>

				{# media column #}
				{% if banner.media %}
					<div class="banner__column banner__column--media">
						{#						{% elseif banner.media.type == 'image' %}#}
						{#							{% set image = banner.media.content %}#}
						{% set image = banner.media %}
						<div class="banner__media banner__media--image" style="{{ macros.thumbnail({ image: image, imagerSettings: { width: 1600, }, outputAsBackgroundImage: true, }) }}"></div>
						{# {% elseif banner.media.type == 'video' %}
							<div class="banner__media banner__media--video">
								{{ macros.video({
								    field: banner.media.content,
								    transcriptEntry: banner.media.settings.transcriptEntry,
								    videoHtmlTitle: banner.media.settings.videoHtmlTitle,
								}) }}
							</div> #}
						{#						{% endif %}#}
					</div>
				{% endif %}
			</div>
		</section>
	{%- endif -%}
{% endif %}
