{% import "_macros" as macros %}
{% if parent is defined and parent != null %}
    <div class="breadcrumbs--mobile-only">
        <div class="breadcrumbs__container">
            <div class="breadcrumbs__row">
                <div class="breadcrumbs__column">
                    {{
                        macros.button({
                            style:'link-arrow-left',
                            text: parent.title??"Back",
                            link: parent.url,
                        })
                    }}
                </div>
            </div>
        </div>
    </div>
{% endif %}
