{% import "_macros" as macros %}
{% set referrer = craft.app.request.referrer %}
{% if referrer is defined %}
    <div class="breadcrumbs">
        <div class="breadcrumbs__container">
            <div class="breadcrumbs__row">
                <div class="breadcrumbs__column">
                    {{
                        macros.button({
                            style:'back-to-results',
                            text: 'Back to results',
                            link: referrer,
                            id: "back-to-results-link"
                        })
                    }}
                </div>
            </div>
        </div>
    </div>
{% endif %}

<script>
    {% js %}
        const link = $("#back-to-results-link");
        if(link.attr('href') === undefined || link.attr('href') === null){
            if(document.referrer && document.referrer !== ""){
                link.attr('href', document.referrer);
            }else {
                link.attr('href', "{{ fallBackReferrer is defined? fallBackReferrer: "/" }}");
            }
        }
    {% endjs %}
</script>
