{# Included from templates\_elements\footer.html #}
{% import '_macros' as macros %}

<div class="row">
	{% set communities = footerSettings.communities.all() %}
	<div class="col-xl-5 col-lg-6 col-md-7 col-12 footer__top-logos">
	{% for community in communities %}
		<div class="footer__top-organisation">
			<div class="footer__top-organisation-image-wrap">
			{% for logo in community.logos.all() %}
					<img class="footer__top-organisation-image" src="{{ logo.url }}" alt="{{ logo.title }}" aria-hidden="true"/>
			{% endfor %}
			</div>
			<p class="footer__top-organisation-description">
				{{ community.description }}
			</p>
		</div>
	{% endfor %}
	</div>
    <ul class="col-xl-7 col-lg-6 col-md-5 col-12 footer__top-links">
        {% for link in footerSettings.footerLinks.all() %}
            {% set linkField = link.linkField %}
            <li>
                <a class="footer__top-link"
                   href="{{ linkField.getUrl() }}"
                        {{ linkField.title?'title="'~ linkField.title ~ '"':'' }}
                        {{ linkField.target?'target="' ~ linkField.target ~ '"': linkField.target }}
                ><span class="footer__top-link-text">{{ linkField.customText ?? linkField.getDefaultText() }}</span></a>
            </li>
        {% endfor %}
    </ul>
</div>
