{% import '_macros' as macros %}

<footer class="footer">
	<div class="footer__top">
		<div class="container">
			{% include "_elements/footer-top" %}
		</div>
		<div class="footer__top-funding">
			{{
				macros.svg({
					name: 'logo-australian-government-black',
					alt: seomatic.site.siteName ~ ' logo',
					attributes: {
						'class': 'footer__logo-phn-vic-gov'
					}
				})
			}}
			<p class="footer__top-funding-text">{{ footerSettings.label }}</p>
    	</div>
	</div>

	<div class="footer__copyright">
		<div class="container">
			<p class="footer__copyright-text">
				© Copyright {{ 'now' |date("Y") }} Ballarat Mental Health Support
			</p>
		</div>
	</div>
</footer>
