{% import '_macros' as macros %}
<div class="header__identity header__identity--{{variation}}">
	
	<a class="nav__brand nav__brand--bmhs" href="/" aria-hidden="true" tabindex="-1">
		<figure class="nav__brand-img">
			{{
				macros.svg({
					name: 'logo-bmhs',
					alt: seomatic.site.siteName ~ ' logo',
					attributes: { 'class' : 'nav__brand-svg nav__brand-svg--bmhs' }
				})
			}}
		</figure>
	</a>

	<span class="nav__brand nav__brand--suicide-prevention">
		<figure class="nav__brand-img">
			{{
				macros.svg({
					name: 'logo-bsppbt',
					alt: 'Ballarat Suicide Prevention Place Based Trial logo',
					attributes: { 'class' : 'nav__brand-svg nav__brand-svg--suicide-prevention' }
				})
			}}
		</figure>
	</span>
	
</div>
