{% import "_macros" as macros %}

{% set modalBody %}
    <div class="support-results__form custom-form">
        {% include "_elements/support-results-" ~ filter.slug ~ ".html" with {filter:filter} %}
    </div>
{% endset %}

{% set modalFooter %}
    <button class="btn btn--link-inline support-results__link support-results__link--bold"
            {% if filter.paramHandle %}
                @click="clearFilterByName('{{ filter.paramHandle }}')"
            {% else %}
                @click="clearFilterByName(['age', 'community', 'radius'])"
            {% endif %}
            aria-label="Clear all the filters applied in this modal"
{# data-dismiss="modal"#}
    >Clear</button>
    <button class="btn btn--primary support-results__save-link"
            @click="updateResults(true)" {# have to pass a false here, otherwise it's passing click event object #}
            data-dismiss="modal"
            aria-label="Save your filters and exit the modal"
    >Done</button>
{% endset %}

{{ macros.modal({
    id: "modal-"~ filter.slug,
    header: filter.title,
    body: modalBody,
    footer: modalFooter,
    extraClasses: "support-results__modal",
    modalExtraClasses: "modal-sm"
}) }}
