{% import "_macros" as macros %}

{% set modalHeader %}
    <button class="btn close support-results__mobile-filter-close" data-dismiss="modal" aria-label="Close Modal">
        <img src="{{ url("/assets/img/svg/ic-close-primary.svg") }}" alt="Close Icon" title="Close Icon"/>
    </button>
    <h3 class="modal-title" aria-label="Filters Modal" tabindex="-1">Filters</h3>
    <button class="btn btn--primary btn--sm support-results__filter-save"
            data-dismiss="modal"
            @click="updateResults"
            aria-label="save your filter and exit the modal"
    >Save</button>
{% endset %}

{% set modalBody %}
    <ul class="support-results__form custom-form">
        {% for filter in filters %}
            <li class="support-results__accordion" aria-label="Filter questions for {{ filter.title }}">
                <button class="btn support-results__accordion-header collapsed"
                        {% if filter.paramHandle != null %}
                            :class="{
                                    'show':
                                    params.{{ filter.paramHandle }}
                                    && params.{{ filter.paramHandle }}.length !== 0
                                }"
                        {% else %}
                            :class="{
                                    'show':
                                    params.radius
                                    && params.radius.length != 0
                                    || params.age
                                    && params.age.length != 0
                                    || params.community
                                    && params.community.length != 0
                                }"
                        {% endif %}
                        data-toggle="collapse"
                        aria-expanded="false"
                        data-target="#filter-accordion-{{ filter.slug }}"
                        aria-controls="filter-accordion-{{ filter.slug }}"
                        id="accordion-filter-parent-{{ filter.slug }}"
                >{{ filter.title }}</button>
                <div class="collapse support-results__accordion-body"
                        {% if filter.paramHandle != null %}
                            :class="{
                                    'show':
                                    params.{{ filter.paramHandle }}
                                    && params.{{ filter.paramHandle }}.length !== 0
                                }"
                        {% else %}
                            :class="{
                                    'show':
                                    params.radius
                                    && params.radius.length != 0
                                    || params.age
                                    && params.age.length != 0
                                    || params.community
                                    && params.community.length != 0
                                }"
                        {% endif %}
                     data-parent="#accordion-filter-parent-{{ filter.slug }}"
                     id="filter-accordion-{{ filter.slug }}">
                    {% include "_elements/support-results-" ~ filter.slug ~ ".html" with {filter:filter, isMobile: true} %}
                </div>
{#                <a class="sr-only" href="#header-modal-refine-your-results">Skip the rest of questions and save your filters.</a>#}
            </li>
        {% endfor %}
    </ul>
{% endset %}

{{ macros.modal({
    id: "modal-refine-your-results",
    customHeader: modalHeader,
    body: modalBody,
    extraClasses: "support-results__modal support-results__modal--mobile",
    modalExtraClasses: "modal-sm"
}) }}
