{% import "_macros" as macros %}

{# id of request a call back form default: 4 #}
{% set form = craft.freeform.form(4) %}

{% set modalBody %}
    <div class="request-a-callback__wrapper custom-form">
        <div class="request-a-callback__image-column">
            <img src="{{ url("assets/img/svg/friendly-staff.svg") }}" alt="" title=""/>
        </div>
        <div class="request-a-callback__form-column">
            {{ form.render() }}
        </div>
    </div>
{% endset %}

{{ macros.modal({
    id: "request-a-callback",
    body: modalBody,
    extraClasses: "request-a-callback custom-form",
    modalExtraClasses: "modal-lg"
}) }}

{% js at endBody %}
    {% if form.hasErrors() %}
        $("#request-a-callback").modal("show");
    {% endif %}
{% endjs %}
