{% set wrapperClass = wrapperClass is defined ? wrapperClass : '' %}
{% set searchQuery = searchQuery is defined ? searchQuery : 'I am searching for' %}
{% set closeButton = closeButton is defined ? closeButton : false %}
<div class="search-bar{{' ' ~ wrapperClass}}{% if closeButton == true %} search-bar--with-close{% endif %}">
    <div class="search-bar__container">
        <form class="search-bar-form" action="{{ url('/search') }}">
            <div class="search-bar-form__text">Showing results 27 for: </div>
{#            <i class="fas fa-search fa-flip-horizontal"></i>#}
            <label class="sr-only" for="searchInput">Search Site for:</label>
            <input id="searchInput" class="search-bar-form__input" type="search" name="q" placeholder="{{searchQuery}}">

            <button class="search-bar-form__btn btn" type="submit">Search</button>
        </form>
        {% if closeButton %}
            <a class="search-bar__close" href="#">
                <img src="/assets/svg/ic-search.svg" alt="Close Search Bar">
            </a>
        {% endif %}
    </div>
</div>
