<div class="search-result-item-breadcrumb crumbs-wrap" v-if="item.breadcrumb && item.breadcrumb.length">
    <ul class="breadcrumb">
        <template v-for="crumb,index in item.breadcrumb">
            <li class="breadcrumb__item">
                <a v-if="crumb.url" v-bind:href="crumb.url">{* crumb.text *}</a>
                <span v-else>{* crumb.text *}</span>
            </li>
            <li v-if="index !== item.breadcrumb.length - 1" class="breadcrumb__item-ico"><i class="fas fa-angle-right"></i></li>
        </template>
    </ul>
</div>
