{# Required:
	1. either:
	- pass in sectionHeading and sectionSummary directly
	or
	- obj: the obj which has the following two fields: heading and summary

	2. objHandle: the handle for the obj. E.g. form, cards. Just for css class naming purposes
#}
{% set sectionHeading = sectionHeading ?? (obj is defined and obj.heading ? obj.heading|trim : null) %}
{% set sectionSummary = sectionSummary ?? (obj.summary | default(null) ) %}
{% if sectionHeading or sectionSummary %}
	<div class="container">
		<div class="section-head section-head--{{ objHandle }}">
			{% if sectionHeading %}
				<h2 class="section-head__heading {{ objHandle }}-head__heading">{{ sectionHeading }}</h2>
			{% endif %}
			{% if sectionSummary %}
				<div class="section-head__summary {{ objHandle }}-head__summary">{{ sectionSummary | raw }}</div>
			{% endif %}
		</div>
	</div>
{% endif %}
