<aside class="sidebar sidebar--right sidebar-support-options">
    <div class="sidebar-support-options__container">
        <h2 class="sidebar-support-options__header">Support features</h2>

        {# fall back showing pathway 1 support category #}
        {# session for pathways are set at modules/supportConnectModule/variables/SupportConnectVariables.php:_getPathwayFromUrl() #}
        {# you can global search "getGoalFromRoleAndUrl" in twig template and find it's usage #}
        {% set userPathway =  craft.app.session.get("pathway") | default("1") %}

        {# see color tags settings in src/styles/elements/_color-tags.scss #}
        {% set tagGroup = [
            {color:"red", category: "supportCategoriesPathway" ~ userPathway , title: "Support category:", level: 1},
            {color:"grey", category: "supportCategoriesPathway" ~ userPathway , title: "Support type:", level: 2},
            {color:"blue", category: "deliveryMethod", title:"Delivery method:", level: 1},
            {color:"green", category: "referralType", title: "Referral Type:", level: 1},
            {color:"warm-purple", category: "fees", title:"Fees:", level: 1},
            {color:"yellow", category: "communityGroup", title:"Community Group:", level: 1},
        ] %}

        <div class="sidebar-support-options__tags color-tags">
            {% for tag in tagGroup %}
                {% if entry[tag.category] is defined and entry[tag.category].level(tag.level).count() != 0 %}
                    {# currently we only showing level 1 category  #}
                    {% set categories = [] %}
                    {% for category in entry[tag.category].level(tag.level).all() %}
                        {% if not category.hideCategoryInSupportOptionSiderbar %}
                            {% set categories = categories | merge([category]) %}
                        {% endif %}
                    {% endfor %}

                    {% if categories | length %}
                        <div class="sidebar-support-options__tag-title">{{ tag.title }}</div>
                        {% set uniqueTitles = [] %}
                        {% for category in categories %}
                            {% if category.title not in uniqueTitles %}
                                {% set uniqueTitles = uniqueTitles | merge([category.title]) %}
                                <div class="color-tags__tag color-tags__tag--{{ tag.color }}">{{ category.title }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</aside>
