{% import "_macros" as macros %}
<aside class="sidebar sidebar--right sidebar-callback">
	<div class="sidebar-callback__container" id="sidebar-callback">
		<h2 class="sidebar-callback__heading">Need help?</h2>
		<p class="sidebar-callback__summary">Freecall HeadtoHelp on
			<a href="tel:1800595212">
				<strong>1800 595 212</strong>
			</a>, and an experienced mental health professional will listen and work with you to find the best ways to get the help you need.
		</p>
		<div class="sidebar-callback__ctas">
			{{
            macros.button({
                tag: 'button',
                style:'phone',
                text: 'Call now',
                additionalClasses: "sidebar-callback__button btn--primary"
            })
        }}
		</div>
	</div>
</aside>

{% do view.registerJsFile('/dist/scripts/side-sticky-callback.js') %}
