{% set anchorLinks = craft.yump.getAnchorLinks(entry) %}

{% if anchorLinks | length != 0 %}
<aside class="sidebar sidebar-nav {{ extraClass??"" }}">
    <h2 class="sidebar-nav__heading">On this page:</h2>

    <ul class="sidebar-nav__nav">
        {% for anchor in anchorLinks %}
            <li class="sidebar-nav__nav--item">
                <span data-link="#{{ anchor.link }}" data-action="compare-hash" aria-label="In Page Anchor Link to {{anchor.label}}">{{ anchor.label }}</span>
            </li>
        {% endfor %}
    </ul>
</aside>
{% endif %}

{% do view.registerJsFile('/dist/scripts/compare-hash.js') %}
