{% import "_macros" as macros %}
<div class="support-finder__card support-finder__card--previous-step"
     :class="{ 'support-finder__card--show' : !initialising.supportCategory }"
     v-show="params.step > 2 && inCatchment">
    {{ macros.svg({
        name: 'checked',
        alt: 'decroation icon checked',
        attributes: {
            'class' : 'support-finder__card-icon',
            'aria-hidden': 'true'
        }
    }) }}
    <div class="support-finder__card-body">
        <div class="support-finder__card-title">Postcode: <span class="support-finder__card-text" v-if="!params.radius" v-html="params.postcode"></span></div>
        <div class="support-finder__card-text" v-if="params.radius">Within {* params.radius *} km from postcode {* params.postcode *}</div>
    </div>
    <button class="btn support-finder__card-link" @click="updateStep(2)" aria-label="Change your choice of second question about your postcode"><span class="btn__text">Change</span></button>
</div>
