<section class="support-finder__card support-finder__card--question support-finder__card--q1 custom-form"
     :class="{ 'support-finder__card--show' : !initialising.supportCategory }"
     v-show="params.step === 1"
     aria-labelledby="q1-section-title"
>
    <h2 class="support-finder__card-heading" id="q1-section-title" aria-label="question section, question 1 I'm looking for support options for">{{ heading | default("I am looking for") }}</h2>
    <span class="sr-only">you can skip this question by navigate to the end of this section</span>
    <div class="support-finder__card-body" v-show="categories.supportCategory.length !==0">
        <div class="support-finder__input-container" v-for="category in categories.supportCategory.filter(e=>e.level === '1')" :key="category.id">
            <label class="form-check-label support-finder__label--input-within" :for="category.id">
                <input type="checkbox"
                       class="form-check-input"
                       :name="category.id"
                       :id="category.id"
                       :value="category.id"
                       :checked="params.categories.includes(category.id)"
                       @change="q1"
                />
                <span v-html="category.heading?category.heading:category.title"></span>
            </label>
        </div>
        <div class="support-finder__error" v-if="error && params.step === 1">{* error *}</div>
    </div>
    <div class="support-finder__card-buttons">
        <button class="btn btn--primary" @click="nextStep"><span class="btn__text" aria-label="Next go to question 2 postcode">Next</span></button>
        <button class="btn btn--link-arrow-right" @click="params.step = 2" aria-label="Skip question one go to question 2 postcode"><span class="btn__text">Skip question</span></button>
    </div>
</section>
