{% import "_macros" as macros %}
<div class="support-finder__card support-finder__card--previous-step support-finder__card--q3-review"
     :class="{ 'support-finder__card--show' : !initialising.ageGroup }"
     v-show="params.step > 3 && inCatchment">
    {{ macros.svg({
        name: 'checked',
        alt: 'decroation icon checked',
        attributes: {
            'class' : 'support-finder__card-icon',
            'aria-hidden': 'true'
        }
    }) }}
    <div class="support-finder__card-body" v-if="params.age !== null">
        <div class="support-finder__card-title" v-for="category in categories.ageGroup.filter(e=>e.id === params.age)" :key="category.id">Age: <span class="support-finder__card-text">{* category.title *}</span></div>
    </div>
    <div class="support-finder__card-body" v-if="params.age === null">
        <div class="support-finder__card-title">Age: </div>
        <ul class="support-finder__card-list">
            <li v-for="category in categories.ageGroup" :key="category.id">{* category.title *}</li>
        </ul>
    </div>
    <button class="btn support-finder__card-link" @click="updateStep(3)"><span class="btn__text">Change</span></button>
</div>
