{% set isMobile = isMobile | default(false) %}
<div class="support-results__input-container {{ isMobile?"support-results__input-container--mobile" }}" v-if="params.postcode != null">
    <p class="support-results__form-title support-results__form-title--label">Postcode: {* params.postcode *} </p>
    <a class="support-results__link" href="{{ supportLandingPage?supportLandingPage.url:url("/") }}">Restart your search to change the postcode</a>
</div>
<div class="support-results__input-container {{ isMobile?"support-results__input-container--mobile" }}" v-if="params.postcode != null">
    <label class="support-results__form-title support-results__form-title--label" for="radius-button-group">Radius</label>
    <div class="support-results__radio-group" id="radius-button-group">
        <label for="5km">
            <input type="radio"
                   name="postcode-radius{{ isMobile?"-mobile":"" }}"
                   id="5km"
                   value="5"
                   :checked="params.radius === '5' || params.radius === null"
                   @change="params.radius = $event.target.value"
            /> 5km
        </label>
        <label for="20km">
            <input type="radio"
                   name="postcode-radius{{ isMobile?"-mobile":"" }}"
                   id="20km"
                   value="20"
                   :checked="params.radius === '20'"
                   @change="params.radius = $event.target.value"
            /> 20km
        </label>
        <label for="40km">
            <input type="radio"
                   name="postcode-radius{{ isMobile?"-mobile":"" }}"
                   id="40km"
                   value="40"
                   :checked="params.radius === '40'"
                   @change="params.radius = $event.target.value"
            /> 40km
        </label>
        <label for="any{{ isMobile?"-mobile":"" }}">
            <input type="radio"
                   name="postcode-radius{{ isMobile?"-mobile":"" }}"
                   id="any{{ isMobile?"-mobile":"" }}"
                   :checked="params.radius === null"
                   @change="params.radius = null"
            /> Any
        </label>
    </div>
</div>
<div class="support-results__input-container">
    <label class="support-results__form-title support-results__form-title--label" for="select-age{{ isMobile?"-mobile" }}">Age Group</label>
    <div class="support-results__dropdown">
        <select class="support-results__dropdown" id="select-age{{ isMobile?"-mobile":"" }}" @change="params.age = $event.target.value">
            <option value="" :selected="params.age === null">Please select one of the age group</option>
            <option :value="age.id" v-for="age in categories.ageGroup" :selected="params.age === age.id">{* age.title *}</option>
        </select>
    </div>
</div>
<p class="support-results__form-title support-results__form-title--label">Community Group</p>
<div class="support-results__input-container support-results__input-container--tighter"
     v-for="category in categories.communityGroup"
     :key="category.id{{ isMobile?"+'-mobile'":"" }}">
    {% include "_elements/_support-results-checkbox-template.html" with {
        isMobile: isMobile,
        categoryName: 'communityGroup',
        paramName: 'community'
    } %}
</div>
