{% import "_macros" as macros %}
<section class="support-finder__card support-finder__card--question support-finder__card--q2-error custom-form"
     :class="{ 'support-finder__card--show' : !initialising.supportOptions }" v-show="params.step > 2 && !inCatchment"
     aria-labelledby="q2-error-section-title"
>
    <img class="support-finder__q2-top-img support-finder__q2-top-img--desktop"
         src="{{ url('/assets/img/jpg/ballarat-map@2x.jpg') }}"
         alt="A dark blue background map shows suburb of ballarat"
         title="Ballarat suburb map"
    />
    <img class="support-finder__q2-top-img support-finder__q2-top-img--mobile"
         src="{{ url('/assets/img/jpg/ballarat-map-mobile@2x.jpg') }}"
         alt="A dark blue background map shows suburb of ballarat"
         title="Ballarat suburb map"
         aria-hidden="true"
    />
    <div class="support-finder__q2-container">
        <h2 class="support-finder__card-heading" data-tooltip="Postcode" id="q2-error-section-title">Postcode {* params.postcode *} is outside Ballarat's service region. </h2>
        <div class="support-finder__card-summary">To find out what supports are available in your area, please follow the link below to find your local PHN or call the team on 9800 1071 and we can help navigate you to your local PHN catchment.</div>
        <div class="support-finder__card-buttons">
            {{ macros.button({
                tag: 'a',
                text: 'Find my local PHN',
                icon: 'open-new-tab',
                iconPosition: 'right',
                additionalClasses: 'support-finder__external-link',
                link: 'https://www1.health.gov.au/internet/main/publishing.nsf/Content/PHN-Locator'
            }) }}
            {{ macros.button({
                tag: 'button',
                style: 'link',
                text: 'Try a different postcode',
                icon: 'ic-red-arrow-circle',
                iconPosition: 'left',
                additionalClasses: 'support-finder__refresh-button',
                additionalAttributes: '@click="resetPostcodeToEmpty"',
            }) }}
        </div>
        <div class="support-finder__card-body">
            <p class="support-finder__card-text">You can also access the following supports:</p>
            {% for externalLink in supportFinderSettings.outsideCatchmentAreaLinks.all() %}
                <div class="support-finder__q2-error-container">
                    {{ macros.cta ({
                        field: externalLink.nameAndLink,
                        style: 'link-external',
                        additionalClasses: 'support-finder__q2-error-title'
                    }) }}
                    <div class="support-finder__q2-error-summary">{{ externalLink.summary | raw }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

