{% import "_macros" as macros %}
<section class="support-finder__card support-finder__card--question support-finder__card--with-bg support-finder__card--q2 custom-form"
     :class="{ 'support-finder__card--show' : !initialising.supportOptions }" v-show="params.step === 2"
     aria-labelledby="q2-section-title"
>
    <h2 class="support-finder__card-heading" data-tooltip="Postcode" id="q2-section-title"  aria-label="question section, question 2 Postcode">Postcode{{ macros.svg({
            name: 'ic-question-tooltip',
            alt: 'Question tooltip',
            attributes: {
                "class": "support-finder__q2-tooltip-icon",
                "aria-hidden":'"true"',
                "tabindex":'"-1"'
            }
        }) }}</h2>
    <div class="support-finder__card-summary">We'd like to know the postcode so we can find the closest services. This can be the postcode of where you live, work or study. This information will be kept private and confidential.</div>
    <div class="support-finder__card-body">
        <label class="sr-only" for="autocomplete">Postcode</label>
        <span class="sr-only">Screen reader instructions for following field:
            The following text field uses google autocomplete widget, to correctly input your location information.
            You will need to use downward arrow or up arrow on keyboard to move around a dropdown list and use enter to select one of the address after you typed your postcode.
            You will hear the address each time you select a new address.
            After you hit the enter, you should hear the postcode again. That confirms you have provide the correct input, and you can move onto next questions radius.</span>
        <input type="text"
               name="postcode-input"
               :value='params.postcode'
               id="autocomplete"
               placeholder="Enter postcode or suburb"
               class="form-input support-finder__postcode-input"
               @keyup="q2postcode"
               @change="q2postcode"
        />
        <div class="support-finder__error" v-if="error && params.step === 2" :aria-label="'postcode input has error' + error">{* error *}</div>
        <p class="support-finder__card-text" v-if="params.lat !== null && params.lng !== null">Show me services within a radius of:</p>
        <div class="support-finder__radio-group" v-if="params.lat !== null && params.lng !== null">
            <label for="5km">
                <input type="radio"
                       name="postcode-radius"
                       id="5km"
                       value="5"
                       :checked="params.radius === '5'"
                       @change="q2radius"
                /> 5km
            </label>
            <label for="20km">
                <input type="radio"
                       name="postcode-radius"
                       id="20km"
                       value="20"
                       :checked="params.radius === '20'"
                       @change="q2radius"
                /> 20km
            </label>
            <label for="40km">
                <input type="radio"
                       name="postcode-radius"
                       id="40km"
                       value="40"
                       :checked="params.radius === '40'"
                       @change="q2radius"
                /> 40km
            </label>
            <label for="any">
                <input type="radio"
                       name="postcode-radius"
                       value=""
                       id="any"
                       :checked="params.radius === null"
                       @change="q2radius"
                /> Any
            </label>
        </div>
    </div>
    <div class="support-finder__card-buttons">
        <button class="btn btn--primary" @click="nextStep"><span class="btn__text" aria-label="Next go to question 3 Age group">Next</span></button>
    </div>
</section>
