<div class="support-finder__card support-finder__card--question support-finder__card--q3 custom-form"
     :class="{ 'support-finder__card--show' : !initialising.ageGroup }"
     v-show="params.step === 3 && inCatchment"
     aria-labelledby="q3-section-title"
>
    <h3 class="support-finder__card-heading" id="q3-section-title" aria-label="question section: question 3 age group">Age</h3>
    <span class="sr-only">you can skip this question by navigate to the end of this section</span>
    <div class="support-finder__summary">We'd like to know the age so we can find the services most appropriate. This information will be kept private and confidential.</div>
    <div class="support-finder__card-body" v-show="categories.supportCategory.length !==0">
        <div class="support-finder__input-container--age-group">
            <label :for="ageGroup.id" v-for="(ageGroup, index) in categories.ageGroup" :key="ageGroup.id">
                <input type="radio"
                       name="q3-age"
                       :id="ageGroup.id"
                       :value="ageGroup.id"
                       :checked="params.age === ageGroup.id || (params.age === null && index === 0)"
                       class="support-finder__age-group-input"
                       @change="q3"
                />
                <span class="support-finder__age-group-title">{* ageGroup.title *}</span>
            </label>
        </div>
        <div class="support-finder__error" v-if="error && params.step === 3">{* error *}</div>
    </div>
    <div class="support-finder__card-buttons">
        <button class="btn btn--primary" @click="nextStep" aria-label="Next go to question 4 the last question community group"><span class="btn__text">Next</span></button>
        <button class="btn btn--link-arrow-right" @click="params.step = 4" aria-label="Skip this question go to question 4 the last question community group"><span class="btn__text">Skip question</span></button>
    </div>
</div>
