{% set role = role | default(1) %}
<div class="support-finder__card support-finder__card--question support-finder__card--q4 custom-form"
     :class="{ 'support-finder__card--show' : !initialising.communityGroup }"
     v-show="params.step === 4 && inCatchment"
     aria-labelledby="q4-section-title"
>
    <h2 class="support-finder__card-heading" id="q4-section-title" aria-label="question section, question 4 Show me support options specifically for">Show me support options specifically for</h2>
    <span class="sr-only">you can skip this question by navigate to the end of this section</span>
    <div class="support-finder__card-body" v-show="categories.communityGroup.length !==0">
        <div class="support-finder__input-container" v-for="category in categories.communityGroup" :key="category.id">
            <label class="form-check-label support-finder__label--input-within" :for="category.id">
                <input type="checkbox"
                       class="form-check-input"
                       :name="category.id"
                       :id="category.id"
                       :value="category.id"
                       :checked="params.community.includes(category.id)"
                       @change="q4"
                />
                <span v-html="category.title"></span>
            </label>
        </div>
        <div class="support-finder__error" v-if="error && params.step === 4">{* error *}</div>
    </div>
    <div class="support-finder__card-buttons">
        <button class="btn btn--primary" @click="nextStep" aria-label="Next and view results"><span class="btn__text">View results</span></button>
        <a class="btn btn--link-arrow-right" :href="searchUrl" aria-label="Skip this question and view results"><span class="btn__text">Skip question and view results</span></a>
    </div>
</div>
