{% import "_macros" as macros %}
<div class="support-finder__card support-finder__card--previous-step"
     :class="{ 'support-finder__card--show' : !initialising.supportCategory }"
     v-show="params.step > 1">
    {{ macros.svg({
        name: 'checked',
        alt: 'decroation icon checked',
        attributes: {
            'class' : 'support-finder__card-icon',
            'aria-hidden': 'true'
        }
    }) }}
    <div class="support-finder__card-body">
        <p class="support-finder__card-title">I'm looking for: </p>
        <ul class="support-finder__card-list" v-if="params.categories.length !== 0">
            <li v-for="category in categories.supportCategory.filter(e=>e.level === '1' && params.categories.includes(e.id))">{* category.title *}</li>
        </ul>
        <ul class="support-finder__card-list" v-else="params.categories.length === 0">
            <li v-for="category in categories.supportCategory.filter(e=>e.level === '1')">{* category.title *}</li>
        </ul>
    </div>
    <button class="btn support-finder__card-link" @click="updateStep(1)" aria-label="Change your choice of first question about support category"><span class="btn__text">Change</span></button>
</div>
