{% set isMobile = isMobile | default(false) %}
<div class="support-results__input-container" v-for="category in categories.supportCategory"
     :key="category.id{{ isMobile?"+'-mobile'":"" }}"
>
    <h3 class="support-results__form-title {{ isMobile?"support-results__form-title--label" }}"
       v-if="category.level === '1'"
        :id="'support-results-support-types-section-title{{ isMobile?"-mobile":"" }}-'+ category.id"
        :aria-label="category.title"
        tabindex="-1"
    >{* category.title *}</h3>
    <a class="sr-only" v-if="category.level === '1'" tabindex="-1"
       :href="getSupportTypesNextSectionId(category.id, '#support-results-support-types-section-title-', {{ isMobile?"true":"false" }})">Skip to next section</a>
    {% set extraAttributes %}
        v-if="category.level === '2'"
    {% endset %}
    {% include "_elements/_support-results-checkbox-template.html" with {
        extraAttributes : extraAttributes,
        isMobile: isMobile,
        categoryName: 'supportCategory',
        paramName: 'categories'
    } %}
</div>
