{#
	Top menu rules:
	* Can only have maximum two levels of nav items.
#}

{% set entry = entry ?? null %} {# so we don't have to do entry is defined and entry in our if statements #}
{% set entryId = entry ? craft.yump.getEntryId(entry) : null %}
{% set navItems = craft.yump.getNav() %}
{% import '_macros' as macros %}

{% include '_elements/header-identity' with { variation: 'mobile' } %}

<div class="nav nav--main navbar navbar-expand-lg" id="nav-main">

	<button class="btn nav__hamburger navbar-toggler collapsed"
		data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent"
		aria-expanded="false"
		aria-label="Toggle navigation"
	 	data-action="#hamburger-bars"
	>
		<span class="nav__hamburger-text sr-only">Menu</span>
		<span class="nav__hamburger-bars" id="hamburger-bars" aria-hidden="true">
			<span class="nav__hamburger-bar-1"></span>
			<span class="nav__hamburger-bar-2"></span>
			<span class="nav__hamburger-bar-3"></span>
		</span>
	</button>

	<nav class="collapse navbar-collapse nav__menu" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
			{% for navItem in navItems %}
				{% set isCurrent = entry and entryId == navItem.id %}
				{% set isActive = (entry and entryId in navItem.descendantsIds) or isCurrent %}
				{% set hasChildren = navItem.level == 1 and navItem.children is not empty %}
				<li class="nav-item
					{{- hasChildren ? ' dropdown' : '' -}}
					{{- isActive ? ' active' : '' -}}
					{{- isCurrent ? ' current' : '' -}}
				">
					<a
						class="nav-link{{ hasChildren ? ' dropdown-toggle' : '' }}"
						href="{{ navItem.url }}"
						target="{{ navItem.target ?? '_self' }}"
						{% if hasChildren %}
							id="navbarDropdown-{{ navItem.id }}"
							role="button"
							data-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="false"
						{% endif %}
					>
						{{- navItem.title -}}
						{%- if isCurrent -%}
							<span class="sr-only"> (current page)</span>
						{%- endif -%}
					</a>
					{% if hasChildren %}
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown-{{ navItem.id }}">
							{% for childNavItem in navItem.children %}
								{% set childIsCurrent = entry and entryId == childNavItem.id %}
								{% set childIsActive = (entry and entryId in childNavItem.descendantsIds) or childIsCurrent %}
								<li>
									<a class="dropdown-item
										{{- childIsActive ? ' active' : '' -}}
										{{- childIsCurrent ? ' current' : '' -}}
									" href="{{ childNavItem.url }}" target="{{ childNavItem.target ?? '_self' }}">
										{{- childNavItem.title -}}
										{%- if childIsCurrent -%}
											<span class="sr-only"> (current page)</span>
										{%- endif -%}
									</a>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</li>
			{% endfor %}
			<li class="nav-item nav__desktop-hide">
				<a class="btn btn--primary btn--dulled nav__languages-link btn--block" href="#">Info in other languages</a>
			</li>
{#			<li class="nav-item nav__desktop-hide">#}
{#				{{#}
{#					macros.button({#}
{#						style:'callback',#}
{#						text: 'Request a callback',#}
{#						additionalClasses: 'nav__request-callback btn-block',#}
{#						GTMClass: "GTM-header-callback"#}
{#					})#}
{#				}}#}
{#				{{#}
{#					macros.button({#}
{#						style:'phone',#}
{#						text: headerSettings.primaryPhoneNumber,#}
{#						link: 'tel:' ~ craft.yump.sanitisePhoneNumber(headerSettings.primaryPhoneNumber),#}
{#						additionalClasses: 'btn-block nav__phone',#}
{#						GTMClass: "GTM-header-phone"#}
{#					})#}
{#				}}#}
{#			</li>#}
		</ul>
	</nav>
</div>
