{% import '_macros' as macros %}
<div class="nav--secondary" id="nav-secondary">
	<div class="nav--secondary-right">

		{# This form will show from desktop #}
		<form class="nav__search-form" role="search" action="{{ url('/search') }}">	
			<button type="submit" class="btn btn--primary nav__search-icon">
				{{ macros.svg({
					name: 'ic-search-bmhs',
					alt: 'Search Button',
					attributes: 'nav__search-icon-svg'
				}) }}
			</button>
			<label for="nav__search-text-input" class="sr-only">Site wide search</label>
			<input id="nav__search-text-input" required name="q" class="nav__search-text-input" type="text" placeholder="Search"/>
		</form>

		{% include "_elements/search-icon-link" with {variation: 'mobile'} %}

		{% set informationInOtherLanguage = headerSettings.informationInOtherLanguagesTemplate.one() %}
		<a class="btn btn--primary btn--dulled nav__languages-link nav__mobile-hide" href="{{ informationInOtherLanguage != null?informationInOtherLanguage.url:"#" }}">
			<span class="btn__text nav__languages-desktop-text">Info in other languages</span>
			<span class="btn__text nav__languages-tablet-text">Other languages</span>
		</a>


		<div class="nav--secondary-right-btns">
			{% set iNeedUrgentHelp = headerSettings.iNeedUrgentHelpTemplate.one() %}
			<a href="{{ iNeedUrgentHelp != null?iNeedUrgentHelp.url:"#" }}" class="btn btn--danger GTM-urgent-help">
				<span class="btn__text nav__mobile-hide">I need urgent help</span>
				<span class="btn__text nav__desktop-hide">Urgent help</span>
			</a>
			<button class="btn btn--exit GTM-quick-exit" data-action="quick-exit" aria-label="Quick exit">
				<span class="btn__text nav__mobile-hide">Quick exit</span>
				<span class="btn__text nav__desktop-hide" aria-hidden="true">Exit</span>
			</button>
		</div>
	</div>
</div>

{% js at endBody %}
+$(function(){
        $("[data-action='submit']").each(function(){
            $(this).click(function(){
                console.log("button clicked");
                $(this).closest(form).submit();
            });
        });
    });
{% endjs %}
