{% if generalSettings.alertEnabled is defined and generalSettings.alertEnabled %}
    {% set name = generalSettings.alertName ?? 'sitewide' %}
    {% set id = craft.yump.createJsFriendlySlug(name) %}
    <div class="site-wide-alert" data-alert="{{id}}">
        <div class="site-wide-alert__content">
            {{ generalSettings.sitewideAlert }}
        </div>
        <button data-alert-close="{{id}}" class="btn site-wide-alert__close-btn" name="Close Alert" aria-label="Dismiss Alert">
            <span class="site-wide-alert__close-btn-text">Dismiss</span>
        </button>
    </div>
{% endif %}
