/** 
	Project Specific Variations of BS buttons here
**/

.btn {
	$self: &;
	//font-size: 1.4rem;

	//button components
	&[disabled] {
		pointer-events: none;
	}

	&:focus-visible {
		outline-offset: 1px;
		outline: $primary auto 1px;
	}

	&:focus,
	&:active {
		outline: none;
		box-shadow: none !important;
	}

	&__icon-left {
		margin-right: 9px;
		color: inherit;
		height: 2rem;
		width: 2rem;
	}
	&__icon-right {
		margin-left: 9px;
		color: inherit;
		height: 2rem;
		width: 2rem;
	}

	&__text {
		color: inherit;
		display: inline-block;
		font-size: 14px;
		height: 20px;
		line-height: 1.43;
		&:first-letter {
			text-transform: capitalize;
		}
	}

	&__leading-text {
		@extend #{$self}__text;
		margin-right: 7px;
		display: inline-block;
		text-decoration: none !important; //prevent hover underline under a links
	}

	&--block {
		min-width: 100%;
		justify-content: center;
	}

	//button variation
	&--primary {
		@extend %button--primary;
		&:focus,
		&:active {
			outline: solid 4px rgba(0, 61, 105, 0.5);
		}
	}

	&--secondary {
		@extend %button--secondary;
		@extend %button--lg;
		&:focus,
		&:active {
			outline: solid 4px rgba(0, 61, 105, 0.5);
		}
	}

	//&--callback {
	//	@extend %button--secondary;
	//	@extend %button--callback;
	//}

	&--danger {
		@extend %button--danger;
		&:focus,
		&:active {
			outline: solid 4px rgba(0, 61, 105, 0.5);
		}
	}

	&--exit {
		@extend %button--exit;
		&:focus,
		&:active {
			outline: solid 4px rgba(0, 61, 105, 0.5);
		}
	}

	&--dulled {
		@extend %button--dulled;
		#{$self}__text {
			color: $phn-blue;
			//font-weight: $font-weight-bold;
		}
		&:hover{
			#{$self}__text {
				color: $phn-blue-dark;
			}
		}
	}

	&--dark-outline {
		@extend %button--dark-outline;
	}

	&--card {
		@extend %button--card;
	}

	&--phone {
		#{$self}__icon-left {
			margin-top: -5px;
			margin-right: 5px;
		}
	}

	&--link {
		@extend %button--link;
		color: $phn-blue;
		display: flex;
		align-items: center;
		#{$self}__text {
			color: $phn-blue;
		}
	}

	&--link-inline {
		@extend %button--link;
		display: inline-block;
		padding: 0;
		text-decoration: none;
		&:hover,
		&:focus {
			text-decoration: underline;
		}
		#{$self}__text {
			color: $phn-blue;
			text-decoration: none;
			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}

	&--link-inline-underline {
		@extend %button--link;
		display: inline-block;
		padding: 0;
		text-decoration: underline;
		&:hover,
		&:focus {
			text-decoration: none;
		}

		#{$self}__text {
			text-decoration: underline;
			color: $phn-blue;
			&:hover,
			&:focus {
				text-decoration: none;
			}
		}
	}

	&--text-dark {
		#{$self}__text {
			color: $black-two;
		}
	}

	&--link-external {
		@extend %button--link-external;
		#{$self}__text {
			&:first-letter {
				text-transform: none;
			}
		}
	}

	&--link-external-black {
		@extend %button--link-external-black;
	}

	&--link-arrow-right {
		@extend %button--link-arrow-right;
	}

	&--link-arrow-left {
		@extend %button--link-arrow-left;
	}

	&--back-to-results {
		@extend %button--back-to-results;
	}
}
