//Default Styles (also see src/styles/base/bs-variables/_forms.scss)
.form-control {
    //border-bottom: none;
    //box-shadow: none;
    overflow: visible;
    &:focus {
        //box-shadow: inset 0 -3px 0 $input-focus-border-color;
        box-shadow: 0 0 3px 3px $light-grey;
    }
}
label {
    @extend %body-text;
    //font-weight: 700;
}
legend {
    @extend %secondary-heading;
    color: $secondary;
}

legend.h4 {
    @extend %minor-heading;
}

.tab-hidden {
    display: none;
}

.custom-form {
    [data-freeform] {
        h1 {
            @extend %main-heading;
        }

        h2 {
            @extend %secondary-heading;
        }

        h3 {
            @extend %section-heading;
        }

        h4 {
            @extend %sub-heading;
        }
        p {
            @extend %body-text;
        }

        .input--has-error {
            border-color: $lipstick;
            &:focus, &:hover {
                border-color: $lipstick;
            }
        }

        label, .freeform-label{
            @extend %body-text;
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 5px;
            display: flex;
            align-items: center;
            font-weight: bold;

            &.input--label-optional {
                &:after {
                    content: "(Optional)";
                    font-style: italic;
                    font-size: 14px;
                    margin-left: 8px;
                    font-weight: normal;
                    line-height: 16px;
                    color: $brownish-grey;
                }
            }
            &.freeform-input-only-label {
                @extend %body-text;
                color: $greyish-brown;
                display: flex!important;//overwrite freeform-label
                font-size: 16px;
                line-height: 1.25;
                align-items: center;
                font-weight: normal;
            }
        }
        .freeform-checkbox-group {
            label{
                &:not(:first-child) {
                    line-height: 24px;
                    font-weight: normal;
                }
            }
        }

        table {
            margin-top: 16px;
            th {
                font-size: 14px;
                font-weight: normal;
                color: $greyish-brown;
            }
            td, th{
                padding: 5px 0;
            }
            input {
                margin: auto;
            }
            input:not([type='checkbox']) {
                height: 40px;
                width: auto;
            }
        }

        .form-rating-field-wrapper{
            padding: 20px 0;
            label {
                padding-right: 20px;
            }
        }
    }
    ul, li {
        padding: 0;
        display: inline-block;
        margin-bottom: 0;
    }
    .errors {
        @extend %body-text;
        color: $lipstick;
        line-height: 22px;
        display: inline;
        padding-left: 0;
        margin-top: 8px;
        margin-bottom: 0;

        p {
            @extend %body-text;
            color: $lipstick;
            line-height: 22px;
            display: inline;
            padding-left: 0;
            margin-top: 8px;
            margin-bottom: 0;
        }

        &:before{
            content: image-url('svg/ic-warning.svg');
            margin-right: 6px;
            vertical-align: middle;
        }
    }
    .freeform-row {
        margin-bottom: 8px;
    }
    .freeform-column{
        padding: 9px 0;
    }
    input[type="text"], input[type="email"], input[type="tel"], input[type="number"], input[type="url"], input[type="search"],select, textarea {
        @extend .form-control;
        //&:focus{outline: none;}
    }
    .tab {
        @include make-row();
        &.tab-hidden {
            display: none;
        }
    }
    header {
        @include make-col-ready();
        margin-top: 2.4rem;
        margin-bottom: 2.4rem;
    }
    label{
        @extend %body-text;
        color: $greyish-brown;
        display: flex!important;//overwrite freeform-label

        &.freeform-required:after {
            content: "*";
            margin-left: 5px;
            color: red;
        }

        &.freeform-input-only-label {
            font-weight: normal;
        }
    }
    select{
        background-image: image-url("svg/ic-chevron-down-darker.svg");
        background-repeat: no-repeat;
        background-size: 12px 8px;
        background-position: 97% center;
        appearance: none;
    }
    input[type="checkbox"]{
        appearance: none; //disable the platform default look
        margin-right: 16px!important;//overwrite freeform margin
        border: 1px solid #979797;
        width: 24px!important;//overwrite freeform width
        min-width: 24px; //prevent it get squeezed when mobile and label had two row
        height: 24px;
        border-radius: 7px;
        background-color: $white;
        &:checked{
            &:before{
                content: image-url('svg/checked.svg');
                margin-left: 5px;
            }
        }
    }
    input[type="radio"]{
        @extend %body-text;
        appearance: none;
        display: flex;
        min-width: 24px;
        min-height: 24px;
        margin-right: 8px;
        border: 1px solid $brown-grey;
        border-radius: 50%;

        &:before {
            content: '';
            //border-radius: 50%;
            //border: 1px solid $brown-grey;
            min-width: 24px;
            min-height: 24px;
            width: 24px;
            height: 24px;
        }
        &:checked {
            &:before {
                content: image-url('svg/radio-active.svg');
                padding: 0.5px 6px;
            }
        }
    }
    button:not(.btn):not([type='submit']) {
        @extend .btn;
        @extend .btn--link-inline-underline;
        color: $primary;
        font-size: 14px;
    }
    button[type="submit"]:not(.btn) {
        @extend %button--primary;
        @include fluid-property('margin-top', 24);
        border-radius: 25px;
        box-shadow: none;
        border: none;
    }
    .field {
        margin-bottom: 2.4rem;
        @include make-col-ready();
        @include media-breakpoint-up(md) {
            margin-bottom: 2.8rem;
        }
        @include media-breakpoint-up(xl) {
            margin-bottom: 3.2rem;
        }
        .instructions {
            font-size: 1.3rem;
            margin-top: 0.4rem;
        }
        .heading {
            font-size: 1.4rem;
            line-height: 1;
        }        
        &:not(.paragraph):not(.address):not(.multiplechoice):not(.checkboxes) {
            @include media-breakpoint-up(md) {
                @include make-col(6);
            }
        }
        &.multiplechoice, &.checkboxes {
            label {
                &:not(:last-child) {
                    margin-right: 1.2rem;
                }
            }
            input {
                margin-right: 3px;
            }
        }
        &.phone {
            .input {
                [class*="wrapper"] {
                    select {
                        display: none;
                    }
                }
            }
        }
        &.address {
            .input {
                & > .address {
                    .sprout-address-country-fields {
                        @include make-row();
                    }
                    .address-countrycode-field {
                        order: 1;
                    }
                }
            }
        }
    }
    .form-message-section {
        font-weight: 300;
        padding: 1.6rem;
        @include media-breakpoint-up(lg) {
            padding: 2.4rem;
        }
        margin-bottom: 2.4rem;
        border-radius: 4px;
        border: 1px solid $success;
        background-color: $success;
        &__error {
            background-color: transparentize($danger, 0.8);
            border-color: $danger;
        }
        .global-message {
            &__error {
                .fa-exclamation-triangle {
                    margin-right: 0.6rem;
                }
            }
        }
        .form-messages {
            margin-bottom: 0;
            &__error {

            }
        }
    }
    .text-recaptcha {
        margin-bottom: 12px;
        font-size: 12px!important;
        line-height: 24px;
        color: $text-light!important;
        a {
            color: inherit;
            font-size: inherit;
            text-decoration: underline;
            &:hover, &:focus {
                text-decoration: none;
            }
        }
    }
}

.neo-secondary-content {
    .form-head {
        margin-left: auto;
        margin-right: auto;
        @include media-breakpoint-up(lg) {
            width: 66.6666%;
            max-width: 100%;
        }
    }
    .custom-form {
        margin-left: auto;
        margin-right: auto;
        @include media-breakpoint-up(lg) {
            width: 66.6666%;
            max-width: 100%;
        }

        .field {
            &:not(.paragraph):not(.address):not(.multiplechoice):not(.checkboxes) {
                @include media-breakpoint-up(md) {
                    @include make-col(12);
                }
            }
        }
    }
}
