.section-head {
    $self: &;
    &__heading {
        @extend %section-head__heading;
    }
    &__summary {
        @extend %section-head__summary;
    }
    /* 
    &--cards {
        #{$self}__heading {
            ...
        }
    }
    */
}
.neo-secondary-content {
    .section-head {
        &__heading {
            text-align: center;
        }
    }
}