.modal {
    .modal-dialog {
        max-width: 100%;
    }
    .close {
        cursor: pointer;
        position: absolute;
        right: 24px;
        top:24px;
        display: flex;
        justify-content: center;
        align-content: center;
        height: 14px;
        width: 14px;
        z-index: 1;
    }
}

.modal-content {
    border-radius: 8px;
}

.modal-md {
    max-width: 600px;
}
