html {
	font-size: 62.5%; /* font-size 1rem = 10px on default browser settings */
}

body {
	font-family: $font-family-base;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: linear-gradient(to bottom, $pale-grey, $white 76%);
	color: $text-dark;
}

iframe {
	max-width: 100%;
	border: none;
}

.grecaptcha-badge { visibility: hidden; }

//h1 {@extend %main-heading;}
//h2 {@extend %secondary-heading;}
//h3 {@extend %section-heading;}
//h4 {@extend %sub-heading;}
//h5,h6 {@extend %minor-heading;}
.lead-text {@extend %lead-text;}
//p (@extend %lead-text;)

.main-heading {
	@extend %main-heading;
	* {@extend %main-heading;}
}

.secondary-heading {
	@extend %secondary-heading;
	* { @extend %secondary-heading;}
}

.section-heading {
	@extend %section-heading;
	* {	@extend %section-heading;}
}
.sub-heading {
	@extend %sub-heading;
	* {	@extend %sub-heading;}
}
.minor-heading {
	@extend %minor-heading;
	* {	@extend %minor-heading;}
}
.body-text {
	@extend %body-text;
	* {	@extend %body-text;}
}
