@media print {
    .container {
        min-width: 100%!important;
    }

    title {
        display: none;
    }

    pre {
        white-space: pre-wrap;
    }

    footer {
        display: none;
    }

    .neo-main-content {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    * {overflow: visible; max-width: 100%;word-wrap: normal;}
    img {width: 100%}

    .header {
        display: none;
    }

    .header__spacer {
        display: none;
    }

    .header__spacer--alert {
        display: none!important;
    }

    .site-wide-alert {
        display: none!important;
    }

    a:not(.btn){
        text-decoration: none;
    }

    .rc-anchor, .grecaptcha-badge {
         display: none!important;
    }

    //matrix block page break
    .matrix-block {
        width: 100%;
        break-inside: avoid;
        page-break-inside: avoid;
        *{
            break-inside: avoid;
            page-break-inside: avoid;
        }

        .matrix-block--anchorPoint + & {
            page-break-before: avoid;
            break-inside: avoid;
            *{
                page-break-before: avoid;
                break-inside: avoid;
            }
        }
    }

    div.card, .card-container, .card--show, .card--whole-link, .card--style-arrow {
        page-break-inside: avoid;
        break-inside: avoid;
        *{
            page-break-inside: avoid;
            break-inside: avoid;
        }
    }

    .support-results__button-group:not(.support-results__button-group--mobile){
        display: block;
    }

    .print-only--filter-results {
        .support-finder__card {
            display: block;
            max-width: 100%;
        }
    }

    .support-results__button-group--mobile {
        display: none!important;
    }

    .matrix-block--anchorPoint {
        //page-break-before: always;
        page-break-after: avoid;
        *{
            page-break-after: avoid;
        }

        //avoid title and long block separate
        & + .matrix-block--video
        {
            //page-break-before: avoid;
            //page-break-after: avoid;
        }

        & + .matrix-block--image
        {
            //page-break-after: avoid;
        }

        & + .matrix-block--imageCards {
            //page-break-after: avoid;
        }

        & + .matrix-block--accordions {
            //page-break-after: avoid;
        }

        & + .matrix-block--map {
            //page-break-after: avoid;
        }

        & + .matrix-block--form {
            //page-break-after: avoid;
        }
    }

    //matrix blocks
    .matrix-block--postcodeValidatingCard {
         display: none;
    }

    .matrix-block--numberedListCards {
        .card--number-list {
            margin-bottom: 0;
            margin-top: 0;
        }
    }

    .matrix-block--table {
        td, th {
            border: 1px solid #f3f2f1!important;
        }
    }

    .matrix-block--images {
        .slick-track {
            transform: none!important;
        }
        .slider-arrow {
            display: none;
        }
    }

    .matrix-block--accordions {
        .collapse:not(.show) {
            display: block!important;
        }

        .accordion__header-plus {
            transform: scale(0)!important;
        }

        .accordion__header-minus {
            transform: scale(1)!important;
        }
    }

    .matrix-block:not(.matrix-block--anchorPoint){
        margin-bottom: 60px;
        margin-top: 0;
    }

    .matrix-block--video {
        iframe {
            position: relative;
            width: calc(1024px - 1cm);
            height: calc(576px - 0.5624cm);
        }
    }

    //buttons
    .btn--card {
        border: 1px solid #f3f2f1!important;
    }

    .page-bottom__print{
        display: none!important;
    }

    //page elements
    .breadcrumbs {
        display: none;
    }

    .Visor {
        display: none;
    }

    .page-bottom {
        margin-bottom: 0;
    }

    //bug herd
    .sidebarApplication {
        display: none!important;
    }

    @top-center {
        font-size: 32px;
    }

    @page {
        size: 1024px 1448.2px;
        //margin: 2cm 1cm;
        margin-top: 0.5cm;
        margin-bottom: 2cm;
        margin-right: 1cm;
        margin-left: 1cm;
    }
}
