{% extends "pages/_templates/generalContent" %}

{% block bodyClass %}
	{{ parent() }}
	support-detail
{% endblock %}

{% import "_macros" as macros %}

{% block banner %}

	{% set parentLanding = generalSettings.supportOptionLanding.one() %}
	{% if parentLanding != null %}
		{% set fallBackReferrer = parentLanding.url %}
	{% else %}
		{% set fallBackReferrer = "/" %}
	{% endif %}

	{% include "_elements/banner" with ({
		custom: {
			heading: entry.title,
			media: entry.featuredImage.one(),
			variationClasses: 'banner--simple banner--blue-swirl',
			summary: null,
			buttons: null
		},
		linkBackLink: fallBackReferrer,
		linkBackLinkText: 'Back to results'
	})  %}

{% endblock %}

{% block sidebar %}
	{% include "_elements/sidebar-support-option.html" with {entry: entry} %}
{% endblock %}

{% block postHeadingSection %}
	<div class="post__heading">
		<h1 class="post__heading-text">{{entry.title}}</h1>
		<span class="post__heading-date">{{entry.postDate | date('j F Y')}}</span>
	</div>
{% endblock %}
