{% extends "_layouts/error" %}

{% do seomatic.meta.seoTitle("Page Not Found") %}

{% block errorContent %}
	<h1>Page not found</h1>
	<p>We can't seem to find the page you're looking for. <br>Head back to home, or try search. </p>
{% endblock %}
