{% extends "_layouts/vue" %}

{# make sure it always hightlights "Find Support" link on main navigation #}
{% block mainNav %}
	{% include '_elements/top-main-nav' ignore missing with {entry: generalSettings.supportOptionLanding.one() } %}
{% endblock %}

{% block bodyClass %}
	{{ parent() }}
	support-option-vue might-have-sidebar
{% endblock %}

{% block scriptAtBodyBeginning %}
	{{ parent() }}
	{% do view.registerJsFile("/dist/scripts/support-results.js?v=20210720") %}
{% endblock %}

{% block sidebar %}
	{% include "_elements/sidebar-sticky-callback.html" %}
{% endblock %}

{% set supportLandingPage = generalSettings.supportOptionLanding.one() %}

{% block banner %}
<div class="banner banner--simple banner--no-media banner--blue-swirl">
	<div class="banner__row">
		<div class="support-results__header banner__column banner__column--text banner__column--full-width">
			<div class="support-results__banner-loading">
				<div class="banner__text-content-wrap"><h1 class="banner__text-content-heading dot-dot-dot-animate">Finding results</h1>
			</div>
			</div>
			<div class="banner__text-content-wrap support-results__banner-content">
				<h1 class="banner__text-content-heading">We have found <strong><span id="bannerResultsCount"></span> support options</strong> that meet your search criteria.</h1>
				<a class="btn btn--link-inline-underline banner__link-back support-results__link" href="{{ supportLandingPage?supportLandingPage.url:url("/") }}">Restart your search</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block vueRenderingBoxed %}
	<div class="support-results" id="support-results-vue">
		<div class="container">
			<section aria-labelledby="refine-your-results-section">
				<h2 class="support-results__refine-results" id="refine-your-results-section">Refine your results</h2>
				{# filter buttons #}
				<div class="support-results__button-group-container">
					{% set filters = [
                    {title: "Support types",   slug: "support-types",   paramHandle: "categories", categoryHandle: "supportTypes"},
                    {title: "About me",        slug: "about-me",        paramHandle: null,         categoryHandle: null},
                    {title: "Delivery method", slug: "delivery-method", paramHandle: "delivery",   categoryHandle: "deliveryMethod"},
                    {title: "Referral type",   slug: "referral-type",   paramHandle: "referral",   categoryHandle: "referralType"},
                    {title: "Fees",            slug: "fees",            paramHandle: "fees",       categoryHandle: "fees"},
                ] %}
{#					{title: "Speciality",       slug: "speciality",       paramHandle: "speciality",  categoryHandle: "speciality"},#}

					{% for filter in filters %}
						<div class="support-results__button-group">
							<button class="btn btn--dark-outline GTM-result-filter" {% if filter.paramHandle != null %} :class="{
								                                    'active':
								                                    params.{{ filter.paramHandle }}
								                                    && params.{{ filter.paramHandle }}.length !== 0
								                                }" {% else %} :class="{
								                                    'active':
								                                    params.radius
								                                    && params.radius.length !== 0
								                                    || params.age
								                                    && params.age.length != 0
								                                    || params.community
								                                    && params.community.length !== 0
								                                }" {% endif %} data-toggle="modal" data-target="#modal-{{ filter.slug }}" aria-expanded="false" aria-controls="modal-{{ filter.slug }}">{{ filter.title }}</button>
							{% include "_elements/modal-support-results.html" with {filter: filter} %}
						</div>
					{% endfor %}

					{# mobile filter button #}
					<div class="support-results__button-group support-results__button-group--mobile">
						<button class="btn btn--dark-outline support-results__button-filter-mobile GTM-result-filter" data-toggle="modal" data-target="#modal-refine-your-results" aria-expanded="false" aria-controls="modal-refine-your-results">Refine your results</button>
						{% include "_elements/modal-support-results-mobile.html" with {filters: filters} %}
					</div>
				</div>
			</section>

			{# support option filtered results #}
			<section class="support-results__results-container" aria-labelledby="support-option-results-listing-heading" aria-live="polite">
				<h2 id="support-option-results-listing-heading" class="sr-only">Support option results listing</h2>
				<div class="cards cards--count-1">
					<ol class="support-results__results-lists cards__rows" v-if="!initialising.supportOptions" id="support-results-listing-list">
						<li v-for="supportOption in cappedSupportOptions">
							<a class="card card--whole-link card--style-arrow card--support-connect" :class="{'card--show': !initialising.update }" :href="supportOption.url">
								<div class="card__container">
									<div class="card__body">
										<div class="card__title-link">
											<h3 class="card__title">{* supportOption.title *}</h3>
										</div>
										<div class="card__desc">
											<div class="card__desc-text" v-html="supportOption.summary"></div>
										</div>
										<div class="card__tag-container color-tags">
											{% set tagGroup = [
                                            {color:"blue",category:"deliveryMethod"},
                                            {color:"green",category:"referralType"},
                                            {color:"purple",category:"fees"},
                                        ] %}
											{% for tag in tagGroup %}
												<div class="card__tag color-tags__tag color-tags__tag--{{ tag.color }}" v-if="!initialising.{{ tag.category }}" v-for="tag in categories.{{ tag.category }}.filter(e=>supportOption.{{ tag.category }}.includes(e.id))" :key="tag.id">{* tag.title *}</div>
											{% endfor %}
										</div>
										<div class="card__link">View</div>
									</div>
								</div>
							</a>
						</li>
					</ol>
					<section class="loading" v-else>
						<div class="spinner-wrapper">
							{% include '_elements/spinner' %}
						</div>
					</section>
					<p v-cloak v-if="cappedSupportOptions.length === 0 && !initialising.supportOptions && !initialising.update">No support options found based on your search criteria. Please revise your search or broaden your search terms. Alternatively please get in contact with us so we can help you.</p>
				</div>
			</section>

			<button class="btn btn--primary support-results__show-more-button" :class="{ 'support-results__show-more-button--show': !initialising.supportOptions && !initialising.update }" v-show=" !initialising.supportOptions && supportOptions.length > 6 && cappedSupportOptions.length < filteredSupportOptions.length" @click="loadMore">Show more support options</button>

			<p class="support-results__footer-text" v-cloak>
				<b>Do you represent a service provider?</b>
				<button class="btn btn--link-inline-underline support-results__link GTM-suggest-edit" data-toggle="modal" data-target="#modal-suggest-edit">
					<span class="btn__text GTM-suggest-edit">Add your organisation</span>
				</button>
				to the list.</p>
		</div>
	</div>
{% endblock %}
