{% extends "_layouts/vue" %}

{# make sure it always hightlights "Find Support" link on main navigation #}
{% block mainNav %}
    {% include '_elements/top-main-nav' ignore missing with {entry: generalSettings.supportOptionLanding.one() } %}
{% endblock %}

{% block bodyClass %}
    {{ parent() }} support-option-vue might-have-sidebar
{% endblock %}

{% block scriptAtBodyBeginning %}
    {{ parent() }}
    <script>
        function initAutocomplete(){
            autocomplete = new google.maps.places.Autocomplete(
                document.querySelector('#autocomplete'),
                {
                    types: ["(regions)"],
                    // types: ["address"],
                    componentRestrictions: {'country': ['au']},
                    fields: ["address_components","geometry"],
                }
            );
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ craft.app.config.general.googleMapApiKey }}&libraries=places"></script>
    {% do view.registerJsFile("/dist/scripts/support-finder.js?v=20210720") %}
{% endblock %}

{% set role = craft.app.request.getParam("role") | default("1") %}
{% set roleCategory = craft.categories({group: "userType",roleIndicator: role}).one() %}
{% set pathways = craft.supportconnect.getPathwayFromurl() %}
{% set pathwayCategory = craft.categories({ group: "pathways", roleIndicator: role, pathwayIndicator: pathways }).one() %}

{# fallback is role 1, goal 1, pathway 1 #}
{% if pathwayCategory == null %}
    {% set pathwayCategory = craft.categories({ group: "pathways", roleIndicator: 1, pathwayIndicator: 1 }).one() %}
{% endif %}

{# get role and goal category based on pathway category #}
{% set role = craft.app.request.getParam("role") | default("1") %}
{% set roleCategory = craft.categories({group: "userType",roleIndicator: role}).one() %}
{% set pathways = craft.supportconnect.getPathwayFromurl() %}
{% set goalCategory = craft.categories({group: "userGoal",goalIndicator: pathwayCategory.goalIndicator}).one() %}

{% set supportOptionLanding = generalSettings.supportOptionLanding.one() %}

{% block banner %}
    {% include "_elements/banner-simplify" with ({
        heading: pathwayCategory.label ~"...",
        image: supportOptionLanding.featuredImage.one(),
        classes: 'banner--simple banner--blue-swirl',
        summary: null
    }) %}
{#	{% include "_elements/banner" with ({#}
{#		custom: {#}
{#			heading: pathwayCategory.label,#}
{#			media: bannerImage,#}
{#			variationClasses: 'banner--simple banner--blue-swirl',#}
{#			summary: null,#}
{#			buttons: null#}
{#		}#}
{#	})  %}#}
{% endblock %}

{% block sidebar %}
    {% include "_elements/sidebar-sticky-callback.html" %}
{% endblock %}

{% set supportLandingPage = generalSettings.supportOptionLanding.one() %}

{% block vueRenderingBoxed %}
    <div class="support-finder" id="support-finder-vue" aria-label="support finder section">
        <div class="support-finder__card support-finder__card--goal support-finder__card--show" aria-live="off">
            <h2 class="sr-only">About yourself</h2>
            <img class="support-finder__goal-icon" src="{{ roleCategory.featuredImage.one().url }}" alt="{{ roleCategory.featuredImage.one().title }}" aria-hidden="true"/>
            <div class="support-finder__goal-text-container">
                <div class="support-finder__goal-heading">{{ goalCategory != null? pathwayCategory.title:"I'm looking for support options for myself." }}</div>
                <a href="{{ supportLandingPage?supportLandingPage.url:url("/") }}" class="support-finder__restart-link">Not you? Restart your search</a>
            </div>
        </div>

        <section aria-labelledby="question-review-section" v-if="params.step > 1">
            <h2 class="sr-only" id="question-review-section">Previous question review</h2>
            {% include "_elements/support-finder-q1-review" %}
            {% include "_elements/support-finder-q2-review" %}
            {% include "_elements/support-finder-q3-review" %}
        </section>


        <section class="support-finder__info-bar" aria-labelledby="question-overview-section">
            <h2 class="sr-only" id="question-overview-section">Remaining questions and results found</h2>
            <p class="support-finder__info-text"><b
                    class="support-finder__options-found"
                   :class="{'support-finder__options-found--show':!initialising.supportOptions}"
                >{* countFilteredSupportOptions *}</b> support options found. </p>
            <p class="support-finder__info-text"><b
                    class="support-finder__remain-questions"
                   :class="{'support-finder__remain-questions--show': !initialising.mounting}"
                >{* 5 - params.step *}</b> questions remaining.</p> {# totally we have only 4 question #}
            <a class="btn btn--link-arrow-right support-finder__skip-remain" :href="searchUrl"><span class="btn__text">Skip remaining questions</span></a>
        </section>

        <div aria-live="polite">
            {% include "_elements/support-finder-q1" with {heading: pathwayCategory.heading} %}
            {% include "_elements/support-finder-q2" %}
            {% include "_elements/support-finder-q2-error" %}
            {% include "_elements/support-finder-q3" %}
            {% include "_elements/support-finder-q4" %}
        </div>
    </div>
{% endblock %}
