{% extends "pages/_templates/generalContent" %}

{% if entry.type == "externalResources" %}
    {% if entry.redirectLink is defined and entry.redirectLink %}
        {% set url = craft.yump.generateValidUrl(entry.redirectLink.getUrl()) %}
        {% if url %}
            {% redirect url %}
        {% endif %}
    {% endif %}

    {% exit 404 %}
{% endif %}


{% block bodyClass %}{{ parent() }} resource-detail{% endblock %}

{% block breadcrumb %}
    {% set parentLanding = generalSettings.resourceLanding.one() %}
    {% if parentLanding != null %}
        {% set fallBackReferrer = parentLanding.url %}
    {% else %}
        {% set fallBackReferrer = "/" %}
    {% endif %}
    {% include "_elements/breadcrumbs-back.html" with { fallBackReferrer: fallBackReferrer } %}
{% endblock %}

{% block sidebar %}
    {% if mightHaveSidebar %}
        {% include '_elements/sidebar-anchor-links' with {extraClass:"sidebar--resource-detail"} %}
    {% endif %}
{% endblock %}

{% block fullWidthBodyBottom %}
    {% set relatedCategoryIds = entry.resourceCategory.ids() %}
    {% if relatedCategoryIds | length != 0 %}
        <div class="related-resources">
            <div class="container">
                <h2 class="related-resources__heading">Related resources</h2>
                {% set cards = craft.entries.section("resourceLibrary") %}
                {% set cards = cards.relatedTo(relatedCategoryIds) %}
                {% set cards = cards.andWhere("`elements`.id != "~ entry.id) %} {# exclude itself #}
                {% set cards = cards.orderBy("RAND()") %}
                {% set cards = cards.limit(3) %}
                <div class="cards cards--count-3 cards--related-resources">
                    <div class="cards__rows">
                        {% for card in cards.all() %}
                            <a class="card card--image card--whole-link card--style-arrow" href="{{ card.url }}">
                                <div class="card__container animate-zoom-in animate-when-visible" data-animation-delay>
                                    <div class="card__body">
                                        <div class="card__title-link">
                                            <h4 class="card__title">{{ card.title }}</h4>
                                            <div class="card__link">View</div>
                                        </div>
                                        <div class="card__desc">
                                            <div class="card__desc-text">{{ card.summary | raw }}</div>
                                        </div>
                                        <div class="card__tag-container color-tags">
                                            {% for tag in card.resourceCategory.all() %}
                                                <div class="card__tag color-tags__tag color-tags__tag--white">{{ tag.title }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
