{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * example module for Craft CMS
 *
 * ExampleModuleField Field Settings
 *
 * @author    Yump
 * @copyright Copyright (c) 2019 Yump
 * @link      https://yump.com.au
 * @package   ExampleModule
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("modules\\examplemodule\\assetbundles\\examplemodule\\ExampleModuleAsset") %}

{{ forms.textField({
    label: 'Some Attribute',
    instructions: 'Enter some attribute here.',
    id: 'someAttribute',
    name: 'someAttribute',
    value: field['someAttribute']})
}}
