{#
    This been included in:
    - general-content-bottom-form.twig
    - general-landing-bottom-instruction.twig
    - resource-library-bottom-instruction.twig
    - support-option-bottom-form-instruction.twig

    Please add the pages here when you using this in any other pages
 #}
<p><b>Important Notice: Changing anything in the form and click "quick save" button will directly & instantly update the form on website. </b></p>
<p>Please make sure you fully understand the concept of the forms by reading the <a href="{{ url("/docs/form-entries-and-reports") }}" target="_blank">help docs</a> before you make any changes.</p>
<p>You may not have access to change the form, please ask admin to grant access, if you see an forbidden error message. Or you can contact Yump for technical support.</p>
