<div class="readable">
    <blockquote class="note tip">
        <h3>This category is to set predefined user type across the system.</h3>
        <p>You can add them based on <a style="text-decoration: underline;" href="{{ url("/admin/globals/supportFinderSettings#tab-pathway-mapping-tips") }}" target="_blank">"pathway mapping tips"</a>, at global <a style="text-decoration: underline;" href="{{ url("/admin/globals/supportFinderSettings") }}">"Support Finder User Pathways Widget"</a></p>
    </blockquote>
    <blockquote class="note tip">
        <h3>Which part this category would control on the site.</h3>
        <p>It will be displayed as the following screen shot in body home page and find support page. </p>
        <a href="{{ siteUrl ~ "assets/cp-img/user-type-category-instruction.png" }}" target="_blank"><img style="max-width: 100%;" src="{{ siteUrl ~ "assets/cp-img/user-type-category-instruction.png" }}" alt="User Type Category Instruction"/></a>
        <p>User goals will also get used in the support finder page as the user icon. </p>
        <a href="{{ siteUrl ~ "assets/cp-img/user-type-category-instruction-support-finder.png" }}" target="_blank"><img style="max-width: 100%;" src="{{ siteUrl ~ "assets/cp-img/user-type-category-instruction-support-finder.png" }}" alt="User Type Category Instruction Support Finder"/></a>
        <p><b style="color: red;">(1)</b> Can be edit via "Featured Image" field down below.</p>
        <p><b style="color: red;">(2)</b> <b>Is not a field can be edit in this page.</b> You can edit them at "Categories" -> "User Goal", or you can click <a style="text-decoration: underline;" href="{{ url("/admin/categories/userGoal") }}" target="_blank">here</a></p>
        <p><b>"Title"</b> field down below is just for internal reference, won't displayed anywhere on the website. </p>
        <b>You can click on the image to see a larger version in a new browser tab.</b>
    </blockquote>
</div>
