{% if element.id in generalSettings.resourceLanding.ids() %}
    {# This part is for resource library landing page #}
    <h2>Popup form section</h2>
    <div class="readable">
        <blockquote class="note tip">
            <p>When you click "Suggest resource", a form will popup.</p>
            <p>To open a new tab in browser and manage fields in popup form, click <a href="{{ url("/admin/freeform/forms/9") }}" target="_blank">"Edit form"</a></p>
            {% include "_ui-template/_general-form-warning-message.html" %}
        </blockquote>
    </div>
{% endif %}
