{% if element.id in generalSettings.supportOptionLanding.ids() %}
    {# This part is for support finder page #}
    <h2>Support Finder User Pathways Widget</h2>
    <div class="readable">
        <blockquote class="note tip">
            <p>"Support Finder User Pathways Widget" field modification can be found at "Globals" -&gt; "Support Finder Settings"</p>
            <p>Click here to open a new tab in browser and edit <a href="{{ url("/admin/globals/supportFinderSettings") }}" target="_blank">"Support Finder Settings"</a></p>
        </blockquote>
    </div>
{% elseif element.id in generalSettings.resourceLanding.ids() %}
{# This part is for resource library landing page #}
    <h2>Refine your results section</h2>
    <div class="readable">
        <blockquote class="note tip">
            <p>Refine your results section is automatically rendered based on resources at "Resource Library"</p>
            <p>- To open a new tab in browser and manage resource library, click <a href="{{ url("/admin/entries/resourceLibrary") }}" target="_blank">"Go to resource Library"</a></p>
            <p>- To open a new tab in browser and manage resource category, click <a href="{{ url("/admin/categories/resourceCategory") }}" target="_blank">"Go to resource category"</a></p>
            <p><b>Don't remove a "resource category" before you can make sure none of the resource library is linked to that category. </b></p>
        </blockquote>
    </div>
{% endif %}
