<div class="readable">
    <blockquote class="note tip">
        <p>"Support Finder User Pathways Widget" field modification can be found at "Globals" -&gt; "Support Finder Settings"</p>
        <p>Click here to open a new tab in browser and edit <a href="{{ url("/admin/globals/supportFinderSettings") }}" target="_blank">"Support Finder Settings"</a></p>
    </blockquote>
</div>
