<div class="readable">
    <blockquote class="note tip">
        <p>Anchor links will generate a list of links for each anchor point you added to the page. </p>
{#        {% set entry = craft.entries.id(element.ownerId).one() %}#}
{#        {% if entry != null %}#}
{#            {% set anchorLinks = craft.yump.getAnchorLinks(entry) %}#}
{#            {% if anchorLinks %}#}
{#                <p>The list of anchor points on the page will be displayed below. Click the below link will take you to the site. </p>#}
{#                <div class="anchor-links">#}
{#                    <ul class="anchor-links__list">#}
{#                        {% for anchor in anchorLinks %}#}
{#                            <li class="anchor-links__list-item">#}
{#                                <a href="{{ entry.url ~ "#" ~ anchor.link}}" target="_blank"><b>{{ anchor.label }}</b></a>#}
{#                            </li>#}
{#                        {% endfor %}#}
{#                    </ul>#}
{#                </div>#}
{#            {% endif %}#}
{#        {% endif %}#}
{#        <p><b>When you update the anchor points, please refresh the page to see updated list.</b></p>#}
    </blockquote>
</div>
