<div class="readable">
    <blockquote class="note tip">
        <p>If you have an 'anchor links' block on the page, the system will automatically detect all the anchor points you have defined on the page (including this one) and generate links to those points.</p>
        <p><b>Please make sure no duplicate label is defined on the same page (case insensitive).</b></p>

{#        {% if element.label | length != "" %}#}
{#            {% set ownerEntry = craft.entries.id(element.ownerId).one() %}#}
{#            {% set anchorLabel = craft.yump.createJsFriendlySlug(element.label) %}#}
{#            {% if ownerEntry != null %}#}
{#                <p>Click <a href="{{ ownerEntry.url ~ "#" ~ anchorLabel }}" target="_blank">here</a> to jump to the anchor point in the page.</p>#}
{#                <p><b>To see updated anchor link, just save your current edit, and refresh the page.</b></p>#}
{#            {% endif %}#}
{#        {% endif %}#}
    </blockquote>
</div>
