<div class="readable">
    <blockquote class="note tip">
        <p>This field allows you to select a predefined form and attach it to this page.</p>
        <p>To open a new tab in browser and manage forms, click <a href="{{ url("/admin/freeform/forms") }}" target="_blank">"Manage forms"</a></p>
        {% include "_ui-template/_general-form-warning-message.html" %}
    </blockquote>
</div>
