<h2>Popup form section</h2>
<div class="readable">
    <blockquote class="note tip">
        <p>When you click "Suggest change", a form will popup.</p>
        <p>To open a new tab in browser and manage fields in popup form, click <a href="{{ url("/admin/freeform/forms/7") }}" target="_blank">"Edit form"</a></p>
        {% include "_ui-template/_general-form-warning-message.html" %}
    </blockquote>
</div>
