.oops {
    background: image-url('jpg/error-pages-banner@2x.jpg');
    min-height: 400px;
    display: flex;
    align-items: center;
    margin-bottom: -50px;
    padding-bottom: 50px;

    @include media-breakpoint-up(md){
        min-height: 522px;
    }

    &__container{
        @include make-container();
    }

    &__section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @include media-breakpoint-up(md){
            flex-direction: row;
        }
    }

    &__image {
        order: 1;
        max-width: 260px;
        width: 100%;
        height: auto;
        @include media-breakpoint-up(md){
        }
    }

    &__content {
        order: 2;
        margin-top: 20px;
        margin-left: 0;
        text-align: center;
        color: $white;
        @include media-breakpoint-up(md){
            margin-top: 0;
        }

        h1 {
            @extend %main-heading;
            margin-bottom: 24px;
        }

        p {
            @extend %lead-text;
            font-weight: normal;
            margin-bottom: 24px;
        }
    }

    &__btn {
        @extend %button--primary;
    }
}
