.general-landing {
	.top-section {
		$self: top-section;
		@include fluid-property("margin-bottom", $gap-between-blocks-px, $gap-between-blocks-mobile-px);
		display: flex;
		justify-content: center;

		&__container {
			@extend .container;
		}

		&__row {
			display: flex;
			justify-content: space-between;
			flex-wrap: nowrap;
			flex-direction: column;
			width: 100%;

			@include media-breakpoint-up(lg) {
				//    @include make-col(12);
				flex-direction: row;
				align-items: center;
			}
		}
		&__text-box {
			@include media-breakpoint-up(lg) {
				max-width: 63.8%;
			}
		}
		&__full-width {
			max-width: 100%;
			@include media-breakpoint-up(lg) {
				padding-right: 80px;
			}
		}

		&__heading {
			@extend %main-heading;
			margin-bottom: 40px;
		}

		&__summary {
		}

		&__image {
			height: inherit;
			max-height: 305px;
			width: auto;
		}

		&__image-caption {
			margin-top: 16px;
			font-size: 14px;
			line-height: 1.43;
			display: inline-block;
			color: #21201e;
			padding-left: 14px;
			border-left: 2px solid #023d6a;
		}

		&__might-have-sidebar {
			flex-wrap: wrap;

			.top-section__image {
				max-height: unset;
				width: 100%;
			}
			.top-section__text-box {
				@include media-breakpoint-up(lg) {
					max-width: 100%;
				}
			}
			.top-section__image-box {
				width: 100%;
			}
		}
	}
	.footer {
		margin-top: 0;
		&::before {
			background: none;
		}
	}
	.body-boxed__row {
		justify-content: left;
	}
}
