.general-content {
    .page-heading{
        &__header{
            @extend %main-heading;
            @include fluid-property('margin-bottom', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
        }
        &__tag-container{
            @include fluid-property('margin-bottom', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
            display: flex;
            flex-wrap: wrap;
        }
        &__tag{
            @include apply-recursive-color(24);
            padding: 4px;
            border-radius: 4px;
            margin-right: 8px;
            margin-bottom: 8px;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.43;
            font-size: 14px;
            letter-spacing: normal;
        }
        &__featured-image{
            max-width: 100%;

            &__caption {
                margin-top: 16px;
                font-size: 14px;
                line-height: 1.43;
                display: inline-block;
                color: #21201e;
                padding-left: 14px;
                border-left: 2px solid #023d6a;
            }
        }

        &__summary{
            margin-top: 16px;
            @extend %lead-text;
        }
    }
    .page-bottom{
        $page-bottom: &;
        @extend %body-text;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;

        &__last-updated {
            overflow-x: auto;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 0;
            //margin-top: -30px;
            justify-content: center;
            @include media-breakpoint-up(sm){
                margin-top: 0;
                justify-content: flex-start;
            }
        }

        &__time {
            margin-bottom: 0;
            margin-left: 5px;
        }

        &__text {
            width: auto;
            font-weight: $font-weight-normal;
            margin-bottom: 0;
        }

        &__button {
            margin-left: 5px;
            margin-bottom: 0;
            text-decoration: underline;
            color: $phn-blue;
			font-weight: $font-weight-normal;
            padding: 0;
            font-size: inherit;
            &:hover, &:focus {
                text-decoration: none;
                outline: none;
            }
        }

        &__print-text {
            @extend %body-text;
            font-weight: $font-weight-normal;
            margin-bottom: 0;
            color: $phn-blue;
            //&:hover, &:focus {
            //    text-decoration: none;
            //}
        }

        &__print {
            display: flex;
            margin-top: 20px;
            cursor: pointer;
            text-decoration: underline;
            @include media-breakpoint-up(sm){
                margin-top: 0;
                margin-left: auto;
            }
            &:hover, &:focus {
                text-decoration: none;
            }
        }

        &__print-icon {
            margin-right: 20px;
        }
    }
}

