.template--homepage-homepage {
	#main {
		background: linear-gradient(180deg, $pale-grey 0%, $pale-grey 50%, $white 80%);
	}
	.top-section {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		background-color: $phn-blue;
		background-size: cover;
		position: relative;
		@include media-breakpoint-up(xl) {
			height: 373px;
		}

		@include media-breakpoint-up(xxl) {
			height: 497px;
			background-repeat: no-repeat;
		}

		@media screen and (min-width: 2000px) {
			// background-position: 121% 135px;
		}

		@media screen and (max-width: 991px) {
			background-image: none !important;
		}

		&::after {
			background-image: url("/assets/img/svg/banner-bottom-swirl-light-blue.svg");
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 100%;
			//content: image-url("svg/banner-bottom-swirl-light-blue.svg");
			content: "";
			z-index: 3;
			position: absolute;
			bottom: -1px;
			left: -1px;
			display: block;
			width: calc(100vw + 2px);
			height: calc(100vw / 1919 * 68);
			@include media-breakpoint-up(lg) {
				// margin-top: -13.75vw;
				// height: 23.5vw;
			}
		}

		&__container {
			z-index: 4;
		}

		&__overlay {
			display: none;
			@include media-breakpoint-up($desktop-menu-breakpoint) {
				width: calc(50% + 120px);
				position: absolute;
				left: 0;
				bottom: 0;
				height: 100%;
				//background-image: url(/assets/img/png/left-side-banner@2x.png);
				background-size: cover;
				background-position: 100%;
				display: block;
			}
			@include media-breakpoint-up(xl) {
				width: calc(50% + 200px);
			}
		}

		&__text {
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			width: 100%;
			@include media-breakpoint-up($desktop-menu-breakpoint) {
				height: calc(100% - 61px); 
				justify-content: flex-start;
				flex-direction: row;
				align-items: center;
				text-align: left;
			}
		}

		&__heading-text {
			width: 100%;
			font-size: 3.2rem;
			color: $white;
			line-height: 1.19;
			font-weight: bold;
			display: flex;
			align-items: center;
			margin: 0;
			padding-top: 40px;
			padding-bottom: 40px;
			strong {
				color: $yellow;
			}
			p {
				margin-bottom: 0;
			}
			@include media-breakpoint-up(md) {
				text-align: center;
				// font-size: 2.8rem;
				// height: 22vw;
			}
			@include media-breakpoint-up(lg) {
				text-align: left;
				// height: 26vw;
				// font-size: 3rem;
				width: 40%;
			}
			@media screen and (min-width: 1200px) {
				// font-size: 3.4rem;
				// width: 57%;
			}
			@include media-breakpoint-up(xl) {
				// font-size: 40px;
				// width: 50%;
			}
			@media screen and (min-width: 1600px) {
				// font-size: 44px;
				// width: 60%;
			}
			@include media-breakpoint-up(xxl) {
				// font-size: 46px;
				// width: 62%;
			}
			@media screen and (min-width: 2000px) {
				// height: 30vw;
				// font-size: 51px;
				font-size: 4rem;
				letter-spacing: -1px;
				line-height: 1.4;
				// width: 76%;
			}
			@media screen and (min-width: 2400px) {
				// height: 26vw;
				// font-size: 54px;
				font-size: 4rem;
				// width: 76%;
			}
			@media screen and (min-width: 2600px) {
				// height: 26vw;
				font-size: 4.2rem;
				// width: 76%;
			}
		}

		&__bottom {
			display: flex;
			width: 100%;
			justify-content: space-between;
			flex-wrap: wrap;
			flex-direction: column;
			align-items: center;
			position: relative;
			@include media-breakpoint-up(lg) {
				flex-direction: row;
				align-items: flex-start;
			}
		}

		&__mobile-text {
			display: block;
			color: $white;
			font-size: 20px;
			font-weight: 600;
			margin-bottom: 16px;
			line-height: 1.4;
			text-align: left;
			width: 100%;
			@include media-breakpoint-up(md) {
				text-align: center;
			}
			@include media-breakpoint-up(lg) {
				display: none;
			}
		}

		&__user-type-card {
			@extend %user-type-widget__button;

			@include media-breakpoint-up(lg) {
				margin-top: 0;
				width: 300px;
				&:nth-of-type(1) {
					order: 0;
				}
				&:nth-of-type(2) {
					order: 1;
				}
				&:nth-of-type(3) {
					order: 2;
				}
			}

			@include media-breakpoint-up(xl) {
				width: 400px;
			}
		}

		&__user-type-label {
			@extend %user-type-widget__label;
		}

		&__user-type-image {
			@extend %user-type-widget__image;
		}

		&__user-type-links-wrap {
			@extend %user-type-widget__links-wrap;
		}

		&__user-type-link {
			@extend %user-type-widget__link;
		}
	}

	.search-section {
		&__card {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 0 2.4rem;
			border-radius: 1.6rem;
			width: 100%;
			@include media-breakpoint-up(lg) {
				flex-direction: row;
				height: 5.6rem;
			}
		}

		&__card-search-input {
			@extend %search-input;
			@extend %search-input--large;
			width: 100%;
			background-color: $white;
			border: none;
			box-shadow: 0 7px 12px 2px rgba(0, 0, 0, 0.06);
			@include media-breakpoint-up($desktop-menu-breakpoint) {
				max-width: 441px;
				margin-left: 40px;
			}
		}

		&__label {
			@extend %section-heading;
			font-weight: 600;
			margin-bottom: 20px;
			@include media-breakpoint-up(lg) {
				margin-bottom: 0;
			}
		}

		&__input-text {
			@extend %search-input__text;
			margin-top: 0;
			max-width: 100%;
			min-width: 100%;
			width: 100%;
			@include media-breakpoint-up(lg) {
				min-width: 400px;
				max-width: 441px;
			}
		}

		&__submit {
			@extend %search-input__icon-button;
			width: 40px;
			height: 40px;
		}
	}
}
