.post--thank-you-page {
    .top-section {
        @include fluid-property('padding-top', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
        @include fluid-property('padding-bottom', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
        display: flex;
        justify-content: center;

        &__container {
            @extend .container;
        }

        &__row {
            @include make-col-ready();
            @include make-container();
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
            align-items: center;
            flex-direction: column;

            @include media-breakpoint-up(lg) {
                @include make-col(10);
                flex-direction: row;
            }
            @include media-breakpoint-up(xl) {
                @include make-col(8);
            }
        }

        &__text-box {
            @include media-breakpoint-up(lg) {
                max-width: 63.8%;
            }
        }

        &__full-width {
            width: 100%;
            max-width: 100%;
            @include media-breakpoint-up(lg) {
                padding-right: 80px;
            }
        }

        &__heading {
            @extend %main-heading;
            margin-bottom: 16px;
        }

        &__summary {
        }

        &__image {
            height: inherit;
            max-height: 305px;
            width: auto;
        }
    }
}
