.resource-landing-page {
    background: $pale-grey;
}
.resource-landing {
    @include make-container();
    @include make-container-max-widths();
    //display: flex;
    //justify-content: center;
    //align-items: center;

    &__top-section {
        @include make-col(12);
        @include fluid-property('padding-top', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
        @include fluid-property('padding-bottom', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
        display: flex;
        justify-content: center;
    }

    &__main-container {
        @include make-col(12);
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 40px;
        flex-direction: column;
        @include media-breakpoint-up(xl){
            flex-direction: row;
        }
    }

    &__filter-container {
        width: 100%;
        @include make-col(12);
        @include media-breakpoint-up(xl){
            @include make-col(2);
        }
    }

    &__text-box {
        display: flex;
        flex-direction: column;
        justify-self: stretch;
        justify-content: space-around;
        margin-right: 30px;

        @include media-breakpoint-up(lg) {
            max-width: 63.8%;
        }
        &--full-width {
            max-width: 100%;
            @include media-breakpoint-up(lg) {
                padding-right: 80px;
            }
        }
    }

    &__heading {
        @extend %main-heading;
        margin-bottom: 16px;
    }

    &__summary {
    }

    &__featured-image {
        height: inherit;
        max-height: 300px;
        width: auto;
    }

    &__refine-result-heading {
        @extend %section-heading;
        margin-bottom: 16px;
    }

    //filter group
    &__filter-group {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }

    &__label {
        font-weight: bold;
        color: $black-two;
        font-size: 1.4rem;
        line-height: 1.6rem;
        margin-bottom: 6px;
    }

    &__input-group {
        margin-bottom: 16px;
        margin-right: 16px;
    }

    &__select {
        @extend %body-text;
        display: block;
        background-image: image-url("svg/ic-chevron-down-black.svg");
        background-repeat: no-repeat;
        background-size: 9px 6px;
        background-position: 95% center;
        appearance: none;

        margin: 4px 0 0;
        object-fit: contain;
        border-radius: 4px;
        border: solid 1px $pinkish-grey;
        background-color: $pale-grey-five;
        width: 100%;
        max-width: 260px;
        padding: 12px;
        height: 48px;

        opacity: 0;
        &--show {
            opacity: 1;
            transition: opacity .5s ease;
        }
    }

    &__input {
        @extend %body-text;
        height: 48px;
        margin: 4px 0 0;
        object-fit: contain;
        border-radius: 4px;
        border: solid 1px $pinkish-grey;
        background-color: $pale-grey-five;
        display: block;
        width: 100%;
        max-width: 260px;
        padding: 12px;
        &:focus {
            outline: none;
        }
    }

    &__link {
        @extend %body-text;
        font-weight: normal;
        color: $primary;
        vertical-align: baseline;

        &:hover, &:focus {
            text-decoration: none;
            //color: $primary;
        }
        .btn__text {
            vertical-align: baseline;
            &:hover, &:focus {
                text-decoration: none;
                //color: $primary;
            }
        }

        &--bold {
            font-weight: bold;
        }
    }

    //results
    &__results-container {
        @include make-col(12);
        @include media-breakpoint-up(xl){
            @include make-col(10);
            max-width: $left-section-max-width;
        }
    }

    &__results-lists{
        list-style: none;
        padding: 0;
    }

    &__show-more-button {
        margin-top: 2.4rem;
        opacity: 0;
        width: 100%!important;
        @include media-breakpoint-up(xl) {
            max-width: $left-section-max-width;
        }

        &--show {
            opacity: 1;
            transition: opacity .5s ease;
        }
    }

    &__footer-text {
        @extend %body-text;
        margin-top: 40px;
        text-align: center;
    }
}
