.resource-detail {
    .neo-main-content {
        @include make-col-ready();
        @include media-breakpoint-up(lg) {
            @include make-col(8);
            order: 2;
        }
    }

    .anchor-link-destination__heading {
        @extend %secondary-heading;
    }
}

.related-resources {
    background-color: $white-two;
    padding-top: 80px;
    padding-bottom: 130px;

    &__heading {
        @extend %secondary-heading;
        margin-bottom: 40px;
    }
}
