$search-container-max-width:  1177px;
$mobile-flex-gap: 24px;

.search-page {
    .search-bar {
        &__container {
            @include make-container(0);
            @include make-container-max-widths();
            position: relative;
        }

        &__form {
            @extend .custom-form;
            position: relative;
            width: 100%!important;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
        }

        &__left-column {
            @include make-col-ready(0);
            @include make-col(12);
            @include media-breakpoint-up(lg){
                @include make-col(3);
            }
        }

        &__right-column {
            @include make-col-ready(0);
            @include make-col(12);
            @include media-breakpoint-up(lg){
                @include make-col(9);
            }
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }

        &__input-text {
            @extend %section-heading;
            width: 100%;
            margin-bottom: 24px;
            @include media-breakpoint-up(lg){
                margin-bottom: 0;
                width: auto;
            }
        }

        &__result-count {
            opacity: 0;
            &--show {
                transition: opacity .5s ease;
                opacity: 1;
            }
        }

        &__input {
            width: 100%;
            border-color: $text-dark!important;
            border-radius: 24px!important;
            @include media-breakpoint-up(lg){
                max-width: calc( 100% - 137px ); //leave some space for the button
            }
        }

        &__btn {
            @extend %button--primary;
            position: relative;
            margin-top: $mobile-flex-gap;
            @include media-breakpoint-up(lg) {
                margin-top: 0;
            }
        }
    }

    .search-page-content {
        padding-top: 80px;
        padding-bottom: 150px;
        &__container {
            @include make-container();
            @include make-container-max-widths();
            position: relative;
        }
    }

    .sidebar-search {
        @include make-col-ready();
        @include make-col(12);
        margin-bottom: 4rem;

        @include media-breakpoint-up(lg){
            @include make-col(3);
            margin-bottom: 0;
        }

        &__heading {
            margin-bottom: 2.4rem;
            @include media-breakpoint-up(lg) {
                margin-bottom: 2.8rem;
            }
        }

        &__controls {
            width: 100%;
        }

        &__input-container {
            margin-bottom: 2.4rem;
        }

        &__heading {
            @extend %section-heading;
        }

        &__button {
            margin-top: 40px;
        }
    }

    .search-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        @include media-breakpoint-up(md) {
            margin-top: 52px;
        }

        &__pages {
            @extend %body-text;
            line-height: 31px;
            color: $secondary;
            padding: 0;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin: 6.5px;

            &:hover, &:focus {
                text-decoration: underline;
            }

            &:first-child {
                margin-right: 22px;
            }

            &:last-child {
                margin-left: 22px;
            }

            &--dots {
                font-size: 20px;
                line-height: 32px;
                cursor: default;
                color: $secondary;
                letter-spacing: 1px;
                padding: 0;
            }

            &--current {
                background-color: $secondary;
                color: white;
            }
        }
    }

    .search-results {
        @include make-col-ready();
        @include make-col(12);
        @include media-breakpoint-up(lg){
            @include make-col(9);
        }

        &__results-lists{
            list-style: none;
            padding: 0;
        }
    }
}
