.support-option-vue {
    .body-boxed {
		background-color: $pale-grey;	
        &__row {
            .neo-main-content {
                @include make-col(12);
                //}
                @include media-breakpoint-up(xl){
                    @include make-col(9);
                }
            }
        }
    }
	.body-full-width {
		background-color: $pale-grey;
	}
	.footer {
		margin-top: 0;
		&::before {
			background: none;
		}
	}
}
