.support-option-landing{
    .top-section {
        @include fluid-property('padding-top', 80, 55);
        //@include fluid-property('padding-bottom', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
        @include fluid-property('padding-bottom', 120, 55);
        display: flex;
        justify-content: center;

        &__container {
            @extend .container;
        }

        &__row {
            @include make-col-ready();
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
            align-items: center;
            flex-direction: column;

            @include media-breakpoint-up(lg){
                @include make-col(10);
                flex-direction: row;
            }
            @include media-breakpoint-up(xl){
                @include make-col(8);
            }
        }

        &__heading{
            @extend %main-heading;
            @include fluid-property('margin-bottom', 41, 24);
        }
        &__summary{
            & > *:not(:last-child){
                margin-bottom: 24px;
            }
        }
        &__image{
            height: inherit;
            max-height: 305px;
            width: auto;
        }

        &__bottom {
            margin-top: 40px;
            margin-bottom: 50px;
            display: flex;
            width: 100%;
            justify-content: space-between;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            position: relative;
            @include media-breakpoint-up(lg){
                flex-direction: row;
                align-items: flex-start;
            }
        }

        &__user-type-card {
			@extend %user-type-widget__button;

            @include media-breakpoint-up(md){
                width: 350px;
                height: 115px;
            }
            @include media-breakpoint-up(lg){
                margin-top: 0;
                width: 300px;
                height: 124px;
                &:nth-of-type(1){order: 0;}
                &:nth-of-type(2){order: 1;}
                &:nth-of-type(3){order: 2;}
            }
            @include media-breakpoint-up(xl){
                width: 400px;
                height: 124px;
            }
        }

		&__user-type-image {
			@extend %user-type-widget__image;
		}

        &__user-type-label {
            @extend %user-type-widget__label;
        }

        &__user-type-links-wrap {
			@extend %user-type-widget__links-wrap;
        }

        &__user-type-link {
            @extend %user-type-widget__link;
        }
    }
}
