.urgent-help-page {
    .top-section{
        margin-top: 40px;
        margin-bottom: 0;
    }

    .matrix-block--dividingLine {
        margin-top: 60px;
        margin-bottom: 60px;
    }
}

.urgent-help-header-card {
    margin-top: 0;//offset top section extra bottom margin
    $self: &;
    .card {

        &__container {
            padding: 22px;
            border-radius: 8px;
        }

        &__body {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }

        &__title-link {
            width: 100%;
            margin-bottom: 0;
            * {
                margin-bottom: 0;
            }
        }

        &__desc {
            margin-top: 20px;
        }

        &__desc-text {
            @extend %body-text;
            font-weight: bold;
            max-width: 450px;
        }

        &__link {
            @extend %button--danger;
            font-size: 16px;
            line-height: 24px;
            font-weight: bold;
            border-radius: 25px;
            padding: 13px 27px!important;
            align-self: flex-end;
            .btn__icon-left{
                width: 20px;
                height: 20px;
                margin-top: -5px;
            }
        }
    }
}

.main-heading {
    h2{
        @extend %main-heading;
    }
}
