{#
   Render card HTML
   
   @param [array] card: when including this template, the card param should have already been processed / formatted into an array. See YumpModuleService->translateCardBio() for the attributes in a card array

   cardStyle: default, highlight, arrow-white
   cardType: text-only-card, image-card, number-list-card

   NOTE: when cardTyle is "number-list-card", it will ignore cardStyle and apply a special style defined in /src/styles/content-blocks/_number-list-cards.scss
#}

{% import '_macros' as macros %}

{% set delay = index is defined and index ? index * 0.1 : '' %}
{% set cardClasses = card.cardType ? "card card--" ~ card.cardType ~ ' ' : 'card' %}
{% if card.url %}
    {% set cardClasses = cardClasses ~ " card--whole-link" %}
{% endif %}

{% if cardStyle %}
	{% set cardClasses = cardClasses ~ " card--style-" ~ cardStyle %}
{% endif %}

{% set id = id | default("default-card-id") %}

{% if card.url and cardStyle == 'arrow-white' %}
	<a class="{{cardClasses}}" href="{{ card.url }}" {% if card.ctaTarget %} target="{{ card.ctaTarget }}" {% endif %}>

	{% elseif card.cardType == "number-list" %}
		<li class="{{ cardClasses }}">

	{% else %}
		<div class="{{cardClasses}}">

		{% endif %}
		<div class="card__container {{ additionalClasses|default('') }} animate-zoom-in animate-when-visible"
				 data-animation-delay="{{ delay }}">

			{% if card.cardType == 'image' and not hideFeaturedImage %}
				{% set thumbnailUrl = card.thumbnailUrl | default(craft.yump.getConfig('imageCardPlaceholderUrl')) %}
				{% if thumbnailUrl %}
					<figure class="card__image-wrap">
						<img class="img-fluid" src="{{ thumbnailUrl }}" alt="{{ card.imageCaption }}">
					</figure>
				{% endif %}
			{% endif %}

			<article class="card__body"
					 aria-labelledby="{{ id }}-heading"
					 aria-describedby="{{ id }}-summary">
				<div class="card__title-link">
					{% if card.url and cardStyle != "arrow-white" %}
						<h3><a class="card__title" href="{{ card.url }}" id="{{ id }}-heading">{{ card.heading }}</a></h3>
					{% else %}
						<h3 class="card__title" id="{{ id }}-heading">{{ card.heading }}</h3>
					{% endif %}
				</div>
				<div class="card__desc">
					<div class="card__desc-text" id="{{ id }}-summary">{{ card.summary | raw }}</div>
				</div>
				{% if card.url and cardStyle != 'arrow-white' and card.cardType != "number-list" %}
					<a class="card__link" href="{{ card.url }}"
					   {% if card.ctaTarget | length != 0%}
						   target="_blank"
						   rel="noopener noreferrer"
						{% endif %}
					>
						{% if "tel:" in card.url %}
							{{ macros.svg({
								name: 'ic-phone-white',
								alt: '',
								attributes: {
									'class': 'btn__icon-left',
								}
							}) }}
						{% endif %}
						<span>{{ card.ctaText|default(craft.yump.getConfig('defaultCardCtaText')) }}</span>
					</a>
				{% elseif card.url and cardStyle == 'arrow-white' %}
					<span class="card__link" aria-hidden="true">
						{{ card.ctaText|default(craft.yump.getConfig('defaultCardCtaText')) }}
					</span>
				{% endif %}
			</article>
		</div>

		{% if card.url and cardStyle == 'arrow-white' %}
		</a>
	{% elseif card.cardType == "number-list" %}
	</li>
{% else %}
	</div>
{% endif %}
