{% if pageInfo is defined and pageInfo %}

{% set nearbyDistance = nearbyDistance is defined ? nearbyDistance : 2 %}
{% set showFirstAndLastButtons = nearbyDistance + 1 < pageInfo.totalPages ? true : false %}

<div class="pagination-wrapper"{% if paginationId is defined and paginationId %} id="{{ paginationId }}"{% endif %}>
	<div class="pagination-inner">

		{% if showFirstAndLastButtons %}
			<a class="pagination-item pagination-item-first {% if pageInfo.currentPage == 1 %}disabled{% endif %}" {% if pageInfo.currentPage != 1 %}href="{{ pageInfo.firstUrl }}"{% endif %} title="First Page">&laquo;</a>
		{% endif %}
		
		<a class="pagination-item pagination-item-prev {% if pageInfo.currentPage == 1 %}disabled{% endif %}" {% if pageInfo.currentPage != 1 %}href="{{ pageInfo.prevUrl }}"{% endif %} title="Previous Page">&lt;</a>

		{% for page, url in pageInfo.getPrevUrls(nearbyDistance) %}
		    <a class="pagination-item" href="{{ url }}">{{ page }}</a>
		{% endfor %}

		<span class="pagination-item active">{{ pageInfo.currentPage }}</span>

		{% for page, url in pageInfo.getNextUrls(nearbyDistance) %}
		    <a class="pagination-item" href="{{ url }}">{{ page }}</a>
		{% endfor %}

		<a class="pagination-item pagination-item-next {% if pageInfo.currentPage == pageInfo.totalPages %}disabled{% endif %}" {% if pageInfo.currentPage != pageInfo.totalPages %}href="{{ pageInfo.nextUrl }}"{% endif %} title="Next Page">&gt;</a>

		{% if showFirstAndLastButtons %}
			<a class="pagination-item pagination-item-last {% if pageInfo.currentPage == pageInfo.totalPages %}disabled{% endif %}" {% if pageInfo.currentPage != pageInfo.totalPages %}href="{{ pageInfo.lastUrl }}"{% endif %} title="Last Page">&raquo;</a>
		{% endif %}
	</div>
</div>
{% endif %}