<div class="video-transcript {{wrapperClass}}">
	<div class="cta">
		<a class="cta__link video-transcript__link btn btn--link-arrow-right " data-toggle="collapse" data-target="#transcript-{{block.id}}" aria-expanded="false">
			<span class="btn__text">View Transcript</span>
		</a>
	</div>
	<div id="transcript-{{block.id}}" class="collapse">
		{{videoTranscript}}
	</div>
</div>
