{#  
Sidebar Menu rules, landing page template vs general page template:
---
* Client get to choose between landing template and general template
..* Landing page template:
....* Do not have sidebar menu, the main content will be centred horizontally
....* Maybe let's add a toggle field to landing page template. By default we would automatically populate the children cards + defining the cards section title. But client can turn it off to create the cards by themselves using the Image Cards block if they want.
..* General content page template:
....* It will have a sidebar navigation (on 2nd level and deeper - i.e. 3rd and 4th).
......* On desktop, the sidebar navigation will only show if using main content (article width), because there's no room to put it; it will show on mobile even if no main content is defined.
......* The sidebar navigation will only show siblings (including self) and current page's direct children
......* The sidebar navigation is not togglable, the siblings children will not be shown
......* DO NOT show the sidebar navigation if on 1st level pages, no matter it has children or not, because we can access exactly the same list from the top menu.
......* On mobile, the sidebar navigation becomes a 'Sections' menu, with the same list (consistent between desktop and mobile). It sits underneath the breadcrumb.
......* The sidebar menu will have a title, which is the parent page's title. On mobile, this becomes the default showing label of the dropdown box.
#}

{% extends "pages/_templates/default" %}

{# mightHaveSidebar: if ture, means the page can have the sidebar, unless the mainContent is not present #}
{% set mightHaveSidebar = entry.level != 1 %}

{% block breadcrumb %}
	{% include "_elements/breadcrumbs-arrow-left.html" with {parent: entry.parent} %}
{% endblock %} {# generalContent page doesn't have breadcrumb in design #}

{% block banner %}
	{% include "_elements/banner-simplify" with ({
		heading: entry.title,
		image: entry.featuredImage.one(),
		classes: 'banner--simple banner--blue-swirl',
		summary: null
	}) %}
{% endblock %}

{% block bodyClass %}
	{{ parent() }} general-content
	{% if mightHaveSidebar %}
		might-have-sidebar
	{% endif %}
{% endblock %}

{% block sidebar %}
	{% if mightHaveSidebar %}
		{% include '_elements/sidebar-nav' %}
	{% endif %}
{% endblock %}

{% block pageHeadingInsideBoxSection %}
	{% if entry.summary %}
		<div class="matrix-block matrix-block--rich-text">
			{% include "_content-blocks/richText" with {
				block: {
					richText: entry.summary
				},
				scope:[]
			} %}
		</div>
	{% endif %}
{% endblock %}

{% block afterBoxedArticle %}
	<aside class="page-bottom">
		<div class="page-bottom__last-updated">
			<p class="page-bottom__text">Last updated:</p>
			<p class="page-bottom__time">{{ entry.dateUpdated |date('m/d/Y') }}.</p>
			<button class="btn page-bottom__button GTM-suggest-edit"
			   data-toggle="modal"
			   data-target="#modal-suggest-edit">Suggest changes</button>
		</div>
		<button class="btn page-bottom__print GTM-print" onKeyDown="window.print();" onclick="window.print();" aria-label="Print this page">
			<img class="page-bottom__print-icon" src="{{ url("/assets/img/svg/icon-printer.svg") }}" alt=""/>
			<span class="page-bottom__print-text GTM-print" aria-hidden="true">Print this page</span>
		</button>
	</aside>
{% endblock %}
