{% extends "pages/_templates/default" %}

{# mightHaveSidebar: if ture, means the page can have the sidebar, unless the mainContent is not present #}
{% set mightHaveSidebar = entry.level != 1 %}

{% block breadcrumb %}
	{% include "_elements/breadcrumbs-arrow-left.html" with {parent: entry.parent} %}
{% endblock %}

{% block bodyClass %}
	{{ parent() }} general-landing
	{% if mightHaveSidebar %}
		might-have-sidebar
	{% endif %}
	{% set iNeedUrgentHelp = headerSettings.iNeedUrgentHelpTemplate.one() %}
	{% if iNeedUrgentHelp != null and entry is defined and iNeedUrgentHelp.id == entry.id  %}urgent-help-page{% endif %}
{% endblock %}

{% block sidebar %}
	{% if mightHaveSidebar %}
		{% include '_elements/sidebar-nav' %}
	{% endif %}
{% endblock %}

{% block banner %}
	{% include "_elements/banner-simplify" with ({
		heading: entry.title,
		image: entry.featuredImage.one(),
		classes: 'banner--simple banner--blue-swirl',
		summary: null
	}) %}
{% endblock %}

{% block afterBoxedArticle %}
	{% if entry.automatedChildrenPagesList %}

		<h2 class="sr-only">List of child pages</h2>

		{% set autoChildListTitle = entry.automatedChildrenPagesListTitle ? entry.automatedChildrenPagesListTitle|trim : null %}
		{% include '_elements/section-head' with {
			sectionHeading: autoChildListTitle,
			objHandle: 'cards',
		} only %}
		
		<div class="matrix-block matrix-block--imageCards matrix-block--extra-margin-bottom">
			{% include '_content-blocks/partials/cards' with {
				cards: entry.getChildren().hideFromNavigation('not 1'),
				additionalClasses: 'cards--child-pages',
				hideFeaturedImage: true,
				cardStyle: "arrow-white"
			} only %}
{#			entry["automatedChildrenPagesListHideFeaturedImage"] ?? false #} {# since we don't have image card option, we hide it #}
		</div>
	{% endif %}
{% endblock %}
