{#{% extends 'pages/_templates/generalLanding' %}#}
{% extends "_layouts/vue" %}

{# ignore what type of template user selected, use general landing regardless #}
{% block bodyClass %}
    resource-landing-page
{% endblock %}

{% block banner %}
    {% include "_elements/banner-simplify" with ({
        heading: entry.title,
        image: entry.featuredImage.one(),
        classes: 'banner--simple banner--blue-swirl',
        summary: null
    }) %}
{% endblock %}

{% block scriptAtBodyBeginning %}
    {{ parent() }}
    {% do view.registerJsFile("/dist/scripts/resource-landing.js?v=20210713") %}
{% endblock %}

{% set resouceLibraryUserTypes = craft.categories.group("resourceUserType").all() %}
{% set resouceCategories = craft.categories.group("resourceCategory").all() %}
{% block boxedContainer %}{% endblock %}
{% block vueRenderingFullWidth %}
    <div class="resource-landing" id="resource-landing-vue">
        {# top section #}
        {% set featuredImage = entry.featuredImage.one() %}
        <div class="resource-landing__top-section">
            <div class="resource-landing__text-box {{ featuredImage == null?"resource-landing__text-box--full-width":"" }}">
{#                <h1 class="resource-landing__heading">{{ entry.title }}</h1>#}
                <div class="resource-landing__summary">{{ entry.summary | raw }}</div>
            </div>
            {% if featuredImage != null %}
                <div class="resource-landing__image-box">
                    <img class="resource-landing__featured-image" src="{{ featuredImage.url }}" alt="" aria-hidden="true"/>
                </div>
            {% endif %}
        </div>

        <div class="resource-landing__main-container">
            <div class="resource-landing__filter-container">
                <h2 class="resource-landing__refine-result-heading">Refine your results</h2>

                {# filter options #}
                <div class="resource-landing__filter-group">
                    <div class="resource-landing__input-group">
                        <label class="resource-landing__label" for="resource-category">Resource category</label>
                        <select class="resource-landing__select"
                                :class="{ 'resource-landing__select--show':!initialising.resourceCategory }"
                                id="resource-category"
                                @change="params.categories = $event.target.value; params.cap = null;"
                        >
                            <option value="" :selected="params.categories === null">Choose category</option>
                            <option v-for="category in categories.resourceCategory"
                                    :key="category.id"
                                    :value="category.id"
                                    :selected="params.userType === category.id"
                            >{* category.title *}</option>
                        </select>
                    </div>
                    <div class="resource-landing__input-group">
                        <label class="resource-landing__label" for="resource-search">Keyword</label>
                        <input class="resource-landing__input"
                               type="search"
                               placeholder='Try "Self isolating"'
                               id="resource-search"
                               v-model="params.search"
                        />
                    </div>
                </div>
            </div>

            {# resource library filtered results #}
            <div class="resource-landing__results-container">
                <div class="cards cards--count-1">
                    <ol class="resource-landing__results-lists cards__rows"
                        v-if="!initialising.resource"
                        id="resource-landing-results-lists"
                    >
                        <li v-for="resource in cappedResource">
                            <a class="card card--whole-link card--style-arrow card--resource-library"
                               :class="{
                            'card--show': !initialising.resource && !initialising.update,
                            'card--style-external': resource.isExternal
                        }"
                               :key="resource.id"
                               :href="resource.url"
                               :target="resource.isExternal?'_blank':''"
                               :rel="resource.isExternal?'noopener noreferrer':''"
                            >
                                <div class="card__container">
                                    <div class="card__body">
                                        <div class="card__title-link">
                                            <h2 class="card__title">{* resource.title *}</h2>
                                            <div class="card__link">View</div>
                                        </div>
                                        <div class="card__desc">
                                            <div class="card__desc-text" v-html="resource.summary"></div>
                                        </div>
                                        <div class="card__tag-container color-tags">
                                            {% set tagGroup = [
                                                {color: "red", category: "resourceCategory"}
                                            ] %}

                                            {% for tag in tagGroup %}
                                                <div class="card__tag color-tags__tag color-tags__tag--{{ tag.color }}"
                                                     v-if="!initialising.{{ tag.category }}"
                                                     v-for="tag in categories.{{ tag.category }}.filter(e=>resource.{{ tag.category }}.includes(e.id))"
                                                     :key="tag.id"
                                                >{* tag.title *}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ol>
                    <section class="loading" v-else>
                        <div class="spinner-wrapper">
                            {% include '_elements/spinner' %}
                        </div>

                        {#                    <h3 class="loading-text">Loading...</h3>#}
                    </section>
                    <p v-if="cappedResource.length === 0 && !initialising.resource && !initialising.update">No resource found based on the criteria. </p>
                </div>
                <button class="btn btn--primary resource-landing__show-more-button"
                        :class="{ 'resource-landing__show-more-button--show': !initialising.resource && !initialising.update }"
                        v-show="filteredResource.length > 6 && cappedResource.length < filteredResource.length"
                        @click="loadMore"
                >Show more resources</button>

                <p class="resource-landing__footer-text"><b>Something missing?</b> <button
                            class="btn btn--link-inline-underline resource-landing__link resource-landing__link--bold GTM-suggest-edit"
                            data-toggle="modal"
                            data-target="#modal-suggest-edit"><span
                                class="btn__text GTM-suggest-edit">Suggest resource </span></button> to add to the list.</p>
            </div>
        </div>



    </div>
{% endblock %}
