{% extends 'pages/_templates/generalLanding' %}

{# ignore what type of template user selected #}
{% block bodyClass %}
    support-option-landing
{% endblock %}

{% block banner %}{% endblock %}

{% block boxedContainer %}{% endblock %}

{% import '_macros' as macros %}
{% block beforeContent %}
    <div class="top-section">
        <div class="top-section__container">
            <div class="top-section__row">
                {% set featuredImage = entry.featuredImage.one() %}
                <div class="top-section__text-box {{ featuredImage == null?"top-section__full-width":"" }}">
                    <h1 class="top-section__heading">{{ entry.title }}</h1>
                    <div class="top-section__summary">{{ entry.summary | raw }}</div>
                </div>
{#                {% if featuredImage != null %}#}
{#                    <div class="top-section__image-box">#}
{#                        <img class="top-section__image" src="{{ featuredImage.url }}" alt="" aria-hidden="true"/>#}
{#                    </div>#}
{#                {% endif %}#}
            </div>
            <div class="top-section__bottom">
                {% set targetCount = 0 %} {# use to trigger javascript action #}
                {% set firstLink = true %} {# use to render links wrap div tag #}
                {% set userTypes = supportFinderSettings.userTypes.all() %}
                {% for userType in userTypes %}
                {% if userType.type.handle == 'userType' %}
                {% if loop.index != 1 and firstLink == false %}
            </div>
            <!-- top-section__user-type-links closing tag -->
            {% set firstLink = true %}
            {% endif %}
            {% set targetCount = targetCount + 1 %}
            {% set userTypeCategory = userType.userType.one() %}
            {% set userTypeImage = userType.featuredImage.one() %}
            {% set userTypeLabel = userType.label %}
            {% if userTypeCategory != null %}
                {% set userTypeImage = userTypeCategory.featuredImage.one() %}
                {% set userTypeLabel = userTypeCategory.label %}
            {% endif %}
            <button class="btn top-section__user-type-card" data-target="target-link-{{ targetCount }}" data-action="global-user-type-card">
                {% if userTypeImage != null %}
                    <img class="top-section__user-type-image" src="{{ userTypeImage.url }}" alt="{{ userTypeImage.title }}"/>
                {% endif %}
                <span class="top-section__user-type-label">{{ userTypeLabel }}</span>
            </button>
            {% elseif userType.type.handle == 'links' %}
            {% if firstLink %}
            <!-- top-section__user-type-links opening tag -->
            <div class="top-section__user-type-links-wrap">
                {% set firstLink = false %}
                {% endif %}

                {% set field = userType.cta %}
                {% set link = craft.yump.generateValidUrl(field.url) %}
                {% set queryStringWithoutPath = craft.app.request.getQueryStringWithoutPath() %} {# get posible postcode, lat, lng in params, pass it to the support finder #}
                {% set text = field.text|trim %}
                {% if link and text %}
                    {{ macros.button({
                        text: text,
                        link: link ~ "&" ~ queryStringWithoutPath,
                        tag: 'a',
                        target: field.target,
                        style: 'card',
                        additionalClasses: 'top-section__user-type-link d-none',
                        additionalAttributes: 'data-parent="target-link-'~targetCount ~ '"'
                    }) }}
                {% endif %}
                {% endif %}

                {# check if it's the last round of loop, if it is we close the div here #}
                {% if loop.index == userTypes | length %}
            </div>
            <!-- top-section__user-type-links closing tag -->
            {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block afterBoxedArticle %}{% endblock %}{# remove automatically rendered child blocks, it won't be used #}

{% do view.registerJsFile("/dist/scripts/user-type.js") %}

