.breadcrumbs {
	&__container {
		@extend .container;
		@include make-container();
		margin-top: 18px;
		margin-bottom: 18px;
	}

	&__row {
		@include make-row();
	}

	&__column {
		@include make-col-ready();
		@include make-col(12);
	}

	&--mobile-only {
		display: block;
		@include media-breakpoint-up($desktop-menu-breakpoint){
			display: none;
		}
	}
}
