.color-tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
    margin-bottom: -8px;

    &__tag {
        @extend %tag;

        &--red {
            @include apply-tag-color-by-key(1);
        }

        &--purple {
            @include apply-tag-color-by-key(2);
        }

        &--yellow {
            @include apply-tag-color-by-key(3);
        }

        &--blue {
            @include apply-tag-color-by-key(4);
        }

        &--green {
            @include apply-tag-color-by-key(5);
        }

        &--warm-purple {
            @include apply-tag-color-by-key(6);
        }

        &--dark-green {
            @include apply-tag-color-by-key(7);
        }

        &--grey {
            @include apply-tag-color-by-key(8);
        }

        &--white {
            @include apply-tag-color-by-key(9);
        }
    }
}
