.divider {
	height: 1px;
	width: 100%;
	background-color: $pale-grey-two;

	&--default {
		margin-top: 40px;
		margin-bottom: 40px;
	}

	&--or {
		display: flex;
		&::after {
			content: 'OR';
			display: inline-block;
			padding-left: 10px;
			padding-right: 10px;
			font-weight: 800;
			margin: 0 auto;
			position: relative;
			bottom: 10px;
			background-color: $pale-grey;
			height: 20px;
		}
	}
}
