$blob-corner-breakpoint: 'xl';
.footer {
	background-color: $pale-grey;
	margin-top: 50px;
	border: none;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		overflow-x: hidden;
		background: image-url("svg/footer-swirl-mobile-light.svg") center/cover no-repeat;
		height: calc( 100vw / 360 * 21 );
		margin-top: 1px;
		transform: translateY(-100%);
		width: 100%;

		@include media-breakpoint-up(sm) {
			background: image-url("svg/footer-top-light-blue.svg") center/cover no-repeat;
			height: calc( 100vw / 1440 * 52 );
			margin-top: 1px;
			transform: translateY(-100%);
			width: 100%;
		}
	}

	&__top {
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			padding-bottom: 260px; //to fit the blob
		}
		@include media-breakpoint-up(xl) {
			padding-bottom: calc( 6rem - 2.6rem );
			//@include fluid-property("padding-bottom", 0, 0);
		}
	}

	&__top-logos {
		@include fluid-property("padding-top", 50, 30);
		order: 2;
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			order: 1;
		}
	}

	&__top-funding {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding-top: 20px;
		padding-bottom: 25px;
		margin-top: 80px;
		position: relative;
		background-color: $pale-grey-four;
		&::before {
			content: "";
			display: block;
			position: absolute;
			top: -11.9vw;
			height: 12vw;
			width: 100%;
			background-image: url(/assets/img/svg/footer-swirl-mobile.svg);
			background-repeat: no-repeat;
			// background-position: cover;
			background-size: cover;
			@include media-breakpoint-up($desktop-menu-breakpoint) {
				display: none;
			}	
		}
		@include media-breakpoint-up(md) {
			margin-top: 120px;
		}
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			background-image: url(/assets/img/svg/oval.svg);
			position: absolute;
			width: 475px;
			height: 344px;
			bottom: 0;
			right: 0;
			background-color: transparent;
		}
	}

	&__top-funding-text {
		font-size: 1.4rem;
		color: $black-light;
		margin-top: 30px;
		padding: 0 70px 0 104px;
	}

	&__logo-phn-vic-gov {
		height: 64px;
		margin-right: 18px;
		padding-left: 18px;
	}

	&__top-links {
		@include fluid-property("padding-top", 50, 30);
		flex-wrap: wrap;
		list-style: none;
		order: 1;
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			padding-left: 60px;
			order: 2;
		}
		@include media-breakpoint-down(md) {
			justify-content: flex-start;
		}
	}

	&__top-link {
		margin-bottom: 16px;
		width: 40%;
		min-width: 270px; //current longest is "Information in other language", 260px wide including icon
		display: inline-flex;
		align-items: center;
		color: inherit;
		&:hover,
		&:focus {
			color: inherit;
		}
	}

	&__top-link-icon {
		margin-right: 14px;
	}

	&__top-link-text {
		@extend %body-text;
		color: $phn-blue;
		&:hover,
		&:focus {
			color: $phn-blue;
		}
	}

	&__top-organisation {
		@include fluid-property("margin-bottom", 26, 26);
		display: flex;
		justify-content: flex-start;
		@include media-breakpoint-up(md) {
			align-items: flex-start;
			justify-content: space-between;
		}
	}

	&__top-organisation-image-wrap {
		width: 60px;
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			margin-right: 32px;
			width: 32px;
		}
	}

	&__top-organisation-image {
		width: 32px;
		height: 32px;
		& + & {
			margin-top: 12px;
		}
	}

	&__top-organisation-description {
		color: inherit;
		display: inline;
		font-size: 1.4rem;
		margin-bottom: 0;
		width: 100%;
	}

	//copyright section
	&__copyright {
		background-color: $marine-blue-two;
	}

	&__copyright-text {
		color: $white;
		padding: 17px 0;
		margin-bottom: 0;
		font-size: 1.4rem;
		font-weight: normal;
	}
}
