$header-button-padding-x: 12px;
.header {
	$self: &;
	position: fixed;
	box-shadow: 0 -4px 20px 0 rgba(0, 0, 0, 0.25);
	background-color: $white;
	top: 0;
	width: 100vw;
	z-index: 1030;
	transition: all 0.3s ease-in-out;

	&__main {
		display: flex;
		// flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		order: 1;
		width: 100%;
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			order: unset;
			width: auto;
		}
	}

	&__content {
		width: 100%;
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			width: auto;
		}
	}

	.btn:not(.nav__search-icon) {
		font-size: 1.4rem;
		height: 40px;
		font-weight: $font-weight-normal;
		padding: 8.5px $header-button-padding-x;
		.btn__text {
			font-size: 1.4rem;
		}
		.btn__icon-left,
		.btn__icon-position-left,
		.btn__icon-position-right {
			height: 20px;
			width: 20px;
		}
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			height: 48px;
			padding: 12px $header-button-padding-x;
		}
	}

	&__identity {
		align-items: center;
		order: 2;
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			order: unset;
		}
		&--mobile {
			display: flex;
			width: calc(100vw - 80px);
			padding-left: 12px;
			@include media-breakpoint-up($desktop-menu-breakpoint) {
				display: none;
			}
		}
		&--desktop {
			display: none;
			@include media-breakpoint-up($desktop-menu-breakpoint) {
				display: flex;
			}
		}
	}

	.nav--secondary-right {
		@include media-breakpoint-up(lg) {
			max-width: calc(100vw - 350px);
		}
		@include media-breakpoint-up(xl) {
			max-width: calc(100vw - 450px);
		}
	}

	&--shrink {
		.site-wide-alert {
			height: 0;
			overflow: hidden;
			padding: 0;
		}

		.nav__search-icon {
			height: 32px;
			width: 32px;
		}

		.nav__search-icon-svg {
			height: 16px;
			width: 16px;
		}

		@include media-breakpoint-up($desktop-menu-breakpoint) {
			height: 125px; // (nav--secondary) 62px + (border) 1px + (nav--main) 74px
			.nav--main {
				height: 54px;
			}

			.nav__menu .navbar-nav:not(.sm-collapsible) .nav-item.active .nav-link::after {
				bottom: -15px;
			}
			.nav--secondary {
				height: 62px;
				.btn:not(.nav__search-icon) {
					height: 40px;
					padding: 8px $header-button-padding-x;
				}
			}
			.nav__search-form {
				height: 41px;
			}
			.nav__search-icon {
				height: 40px;
				width: 40px;
			}
			.nav__search-text-input {
				padding: 2px 2px 2px 5px;
			}
		}

		@include media-breakpoint-up(xl){
			.nav__search-icon {
				height: 32px;
				width: 32px;
			}
			.nav__brand-svg {
				&--bmhs {
					height: 60px;
					width: auto;
				}
				&--suicide-prevention {
					height: 60px;
					width: auto;
				}
			}
		}
	}

	&__spacer {
		height: 130px;
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			height: 144px;
		}

		&--alert {
			padding-top: 210px;
			@include media-breakpoint-up(sm) {
				padding-top: 99px;
			}
			@include media-breakpoint-up(md) {
				padding-top: 112px;
			}
			display: none;
		}
	}
}
