.request-a-callback {

    &__wrapper {
        padding: 45px 60px;
        display: flex;

        @include media-breakpoint-down(sm){
            padding: 0;
        }
    }
    &__image-column {
        @include make-col(6);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        @include media-breakpoint-down(sm){
            display: none;
        }
    }

    &__form-column {
        @include make-col(6);
        padding: 20px;

        @include media-breakpoint-down(sm){
            @include make-col(12);
        }
    }
}
