%nav-padding {
	padding: 10px 13px;
	@include media-breakpoint-up($desktop-menu-breakpoint) {
		padding: 10px 30px;
	}
}

$mobile-nav-total-height: 130px; // 60px + 70px
$desktop-nav-total-height: 160px; // 70px + 90px

.nav {
	&--main {
		@extend %nav-padding;
		display: flex;
		justify-content: right;
		align-items: center;
		height: 0;
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			height: 84px;
			padding-bottom: 0;
		}
	}
	&__hamburger {
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		position: absolute;
		bottom: 18px;
		right: 0;
	}
	&__hamburger-text {
		font-size: 16px;
		line-height: 1.5;
		font-weight: bold;
		color: $text-dark;
		margin-right: 7px;
	}
	&__hamburger-bars {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: $phn-blue;
		padding: 11px 11px;
		border-radius: 50%;
	}
	&__hamburger-bar-1,
	&__hamburger-bar-3 {
		display: inline-block;
		width: 18px;
		height: 0.3rem;
		background-color: $white;
		margin: 1.5px 0;
		transition: 0.4s;
	}
	&__hamburger-bar-2 {
		display: inline-block;
		cursor: pointer;
		vertical-align: middle;
		margin: 1.5px 0;
		width: 18px;
		height: 0.3rem;
		font-size: 1.2em;
		background-color: $white;
		transition: 0.4s;
	}

	/* Rotate first bar */
	:not(.collapsed) > &__hamburger-bars > &__hamburger-bar-1 {
		-webkit-transform: rotate(-45deg) translate(-4px, 4px);
		transform: rotate(-45deg) translate(-4px, 4px);
	}

	/* Fade out the second bar */
	:not(.collapsed) > &__hamburger-bars > &__hamburger-bar-2 {
		opacity: 0;
	}

	/* Rotate last bar */
	:not(.collapsed) > &__hamburger-bars > &__hamburger-bar-3 {
		-webkit-transform: rotate(45deg) translate(-4.5px, -4.5px);
		transform: rotate(45deg) translate(-4.5px, -4.5px);
	}

	&__menu {
		position: fixed !important;
		top: $mobile-nav-total-height;
		height: calc(100vh - 13rem); //$mobile-nav-total-height
		overflow-y: auto;
		left: 0;
		background-color: white;
		width: 100vw;
		max-width: 100vw;
		//box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.25);
		z-index: 1040; //make it stay on top of button--danger(urgent help)

		@include media-breakpoint-up($desktop-menu-breakpoint) {
			max-height: unset;
			box-shadow: unset;
			width: auto;
			position: relative !important;
			top: auto;
			left: auto;
			overflow-y: visible;
			height: auto;
		}

		.navbar-nav {
			width: 100%;
			justify-content: flex-start;
			padding: 0 12px;
			//box-shadow: inset 0 14px 14px -20px rgba(0, 0, 0, 25%); //using inset shadow because can't apply shadow to nav--main, as submenu is it's child
			@include media-breakpoint-up($desktop-menu-breakpoint) {
				// width: 900px; // width when margin-right 63px
				padding: 0;
				justify-content: space-evenly;
				box-shadow: unset;
			}
		}

		.nav-link {
			@extend %body-text;
			height: 34px;
			font-weight: 600;
			font-size: 16px;
			color: $black-light;
			//height: 100%;
			&.has-submenu {
				position: unset;
				padding-right: 0;
			}
			&:hover,
			&:focus {
				color: $phn-blue;
				text-decoration: underline;
			}
			@include media-breakpoint-up($desktop-menu-breakpoint) {
				height: auto;
			}
		}

		.nav-item {
			margin-top: 2.2rem;
			display: inline-flex;
			flex-direction: column;
			align-items: center;
			//set sub-menu to extend the background to edge
			&.dropdown {
				margin-left: -12px;
				margin-right: -12px;
			}
			//max-height: calc(100vw - 130px);
			@include media-breakpoint-up($desktop-menu-breakpoint) {
				&.dropdown{
					margin-left: auto;
					margin-right: 12px;
				}
				margin: auto;
				padding: 0;
				border-bottom: unset;
			}
			@include media-breakpoint-up(xl){
				padding: 0 12px;
			}
		}

		.dropdown-menu {
			padding: 0;
			margin: 16px -24px -16px;
			box-shadow: none;
			border: none;
			@include media-breakpoint-up($desktop-menu-breakpoint) {
				margin-top: 40px !important;
				min-width: 100% !important;
				max-width: unset !important;
				box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14);
				border: solid 1px $pale-grey;
				background-color: $white;
				padding: 0;
			}
		}

		//mobile dropdown sub-menu
		.navbar-nav.sm-collapsible .nav-item> .dropdown-menu {
			width: 100%!important;
			background-color: $pale-grey-six;
			padding-top: 28px;
			padding-bottom: 28px;
			.dropdown-item {
				@extend %body-text;
				color: $secondary;
				font-weight: 600;
				background-color: transparent;
				text-align: center;
				padding: 12px;
			}
		}

		.dropdown-item {
			font-size: 16px;
			line-height: 1.5;
			text-align: left;
			padding: 8px 24px;
			background-color: rgba($primary, 0.1);
			&.active,
			&:active {
				color: inherit;
			}
			@include media-breakpoint-up($desktop-menu-breakpoint) {
				color: $greyish-brown;
				background-color: transparent;
				display: inline-block;
				padding: 8px 18px;
				&:hover,
				&:focus {
					background-color: rgba($primary, 0.1);
				}
			}
		}

		//desktop active page, red dot at the bottom of nav-item
		.navbar-nav:not(.sm-collapsible) .nav-item.active .nav-link {
			position: relative;
			&::after {
				content: "";
				display: block;
				width: 100%;
				left: 0;
				height: 6px;
				position: absolute;
				bottom: -20px;
				background-image: url(/assets/img/svg/ic-indicator.svg);
				background-repeat: no-repeat;
				background-position: center center;
			}
		}


		//desktop drop-down menu chevron style
		&:not(.sm-collapsible) .nav-link .sub-arrow {
			display: inline-block;
			margin-left: 6px;
			border: 1px solid $pale-rose;
			vertical-align: 0;
			//padding: 16px 14px;
			//border-radius: 20px;
			&:before {
				 content: image-url("svg/ic-chevron-down-rose.svg");
			}
			@include media-breakpoint-up(xl){
				margin-left: 12px;
			}
		}

		//mobile drop-down chevron animation (hide sub menu)
		.navbar-nav.sm-collapsible .sub-arrow {
			border: 1px solid $pale-rose;
			vertical-align: 0;
			padding: 16px 14px;
			border-radius: 20px;
			width: 40px;
			height: 40px;
			margin: 0 12px 0 0;
			top: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			&:before {
				display: block;
				margin-top: -5px;
				width: 12px;
				height: 8px;
				transition: 0.3s;
				content: image-url("svg/ic-chevron-down-rose.svg");
			}
		}

		//mobile drop-down chevron animation (show sub menu)
		.navbar-nav.sm-collapsible .show > a > .sub-arrow {
			//border: none;
			&:before {
				display: block;
				width: 12px;
				height: 8px;
				transform: rotate(180deg);
				transition: 0.3s;
				margin-top: 8px;
				content: image-url("svg/ic-chevron-down-rose.svg");
			}
		}
	}

	&__brand {
		&--suicide-prevention {
			margin-left: 20px;
			padding-left: 20px;
			border-left: 1px solid $greyish;
			@include media-breakpoint-up($desktop-menu-breakpoint) {
				margin-left: 24px;
				padding-left: 24px;
			}
		}
	}

	&__brand-img {
		margin: 0;
	}

	&__brand-svg {
		&--bmhs {
			height: 33px;
			width: auto;
			transition: all 0.3s ease-in-out;
			@include media-breakpoint-up(lg){
				//height: 33px;
				margin-left: 40px;
			}
			@include media-breakpoint-up(xl){
				height: 52px;
				//width: 173px;
			}
		}

		&--suicide-prevention {
			height: 41px;
			width: auto;
			transition: all 0.3s ease-in-out;
			//@include media-breakpoint-up(lg){
			//	height: 41px;
			//}
			@include media-breakpoint-up(xl){
				height: 64px;
				//width: 173px;
			}
			//@include media-breakpoint-up($desktop-menu-breakpoint) {
			//	height: 64px;
			//	//width: 183px;
			//}
		}
	}

	&--secondary {
		@extend %nav-padding;
		display: flex;
		justify-content: right;
		align-items: center;
		height: 60px;
		width: 100%;
		padding-bottom: 12px;
		margin-bottom: 12px;
		border-bottom: 1px solid $pale-grey-two;
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			height: 60px;
			width: auto;
			border-bottom: none;
			padding-bottom: 0;
			margin-bottom: 0;
		}
		.btn:not(.nav__search-icon) {
			height: 40px;
			@include media-breakpoint-up($desktop-menu-breakpoint) {
				height: 48px;
				line-height: 1.71;
			}
		}
	}

	&--secondary-left {
		display: flex;
		justify-content: center;
		align-items: center;
		a,
		button:first-child {
			margin-right: 8px;
			@include media-breakpoint-up(xl) {
				margin-right: 24px;
			}
		}

		@include media-breakpoint-up($desktop-menu-breakpoint) {
			font-size: 14px;
		}
	}

	&__phone {
		display: flex;
		justify-content: center;
		align-items: center;
		svg.btn__icon-left {
			margin-top: 0;
			margin-right: 7px;
		}
	}

	&--secondary-right {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		& > *:not(:last-child) {
			margin-right: 8px;
		}
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			justify-content: right;
			width: auto;
		}
	}

	&__languages-link {
		//color: $dark;
		font-size: 14px;
		align-items: center;
		display: inline-flex;
		@media screen and (min-width: 1040px) {
			display: inline-flex;
		}
		@include media-breakpoint-up(xl) {
			// display: inline-flex;
			margin-right: 20px;
		}
		svg {
			width: 16px;
			height: 16px;
			margin-right: 5px;
			@include media-breakpoint-up(xl) {
				margin-right: 10px;
			}
		}
	}

	&__languages-desktop-text {
		display: inline-block;
		@media screen and (max-width: 1135px) {
			display: none;
		}
	}

	&__languages-tablet-text {
		display: none;
		@media screen and (max-width: 1135px) {
			display: inline-block;
		}
	}

	&__search-form {
		display: none;
		@extend %search-input;
		@include media-breakpoint-up(xl) {
			display: flex;
			&:focus, &:active, &:focus-within {
				outline: 1px solid $text-dark;
			}
		}
	}

	&__search-icon {
		@extend %search-input__icon-button;
		height: 40px;
		width: 40px;
		&--mobile {
			height: 32px;
			width: 32px;
			position: relative;
			top: 1px;
			@include media-breakpoint-up(lg) {
				height: 46px;
				width: 46px;
				padding: 10px;
			}
			@include media-breakpoint-up(xl) {
				display: none;
			}
		}
	}

	&__search-icon-svg {
		height: 16px;
		width: 16px;
		@include media-breakpoint-up(lg){
			width: 20px;
			height: 20px;
		}
	}

	&__search-text-input {
		@extend %search-input__text;
		@include media-breakpoint-up(lg) {
			width: 90px;
			margin-right: 10px;
		}
		@media screen and (min-width: 1030px) {
			width: 125px;
		}
		@media screen and (min-width: 1400px) {
			width: 200px;
		}
	}

	&--secondary-right-btns {
		display: block;
		.btn:first-child {
			margin-right: 8px;
		}
	}

	//utility
	&__mobile-hide {
		@include media-breakpoint-down(md) {
			display: none;
		}
	}
	&__desktop-hide {
		@include media-breakpoint-up(lg) {
			display: none !important;
		}
	}
}
