.sidebar-support-options{

    &__header {
        @extend %section-heading;
        margin-bottom: 40px;
        margin-top: 56px;
        width: 100%;
        display: inline-block;

        @include media-breakpoint-down(md){
            margin-top: 0;
            text-align: center;
        }
    }

    &__container {
        padding-left: 32px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 100px;
        padding-right: 15px;

        @include media-breakpoint-down(lg){
            padding-left: 15px;
        }
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0;
        margin-bottom: 0;
    }

    &__tag-title {
        //font-weight: bold;
        width: 100%;
        margin-top: 8px;
        margin-bottom: 8px;
    }
}
