.sidebar-nav {
    display: none;
    @include media-breakpoint-up($desktop-menu-breakpoint){
        display: block;
    }

    &__heading {
        @extend %section-heading;
        @include fluid-property('margin-bottom', 26);
        color: $phn-blue;
        a{
            @extend %section-heading;
            color: $phn-blue;
        }
    }

    &__nav {
        list-style-type: none;
        padding-left: 0;

        &--item {
            @extend %sub-heading;
            font-weight: normal;
            border-bottom: 1px solid #e0e0e0;
            padding: 16px 0;
            min-width: 260px;

            span {
                color: $greyish-brown;
                cursor: pointer;
            }

            &:last-child {
                border-bottom: none;
            }

            &.current {
                @extend %sub-heading;
                span {
                    @extend %sub-heading;
                }
            }
        }
    }

    &__subnav {
        padding: 0;
        background-color: $pale-grey;
        border-left: 2px solid $phn-blue;

        &--item {
            @extend %body-text;
            font-weight: normal;
            display: block;
            padding: 12px 24px;
        }
    }
}
