.sidebar-callback{
	@extend %help-block__text-wrap;
	@include media-breakpoint-up(xl) {
		padding-top: 79px!important;
		padding-bottom: 60px!important;
	}

    &__container {
		position: sticky;
		top: 0;
		transition: all 1s ease-in-out;
		max-width: 500px;
		margin: 0 auto 50px;
		@include media-breakpoint-up(xl) {
			max-width: 277px;
			margin: 0 0 0 auto;
		}
    }

    &__heading {
        @extend %help-block__heading;
		@include media-breakpoint-up(lg) {
			margin-bottom: 28px;
		}
    }

    &__summary {
        @extend %body-text;
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 24px;
    }

	&__ctas {
		@extend %help-block__text-content-cta;
	}
}

.header-shrunk #main {
	.sidebar-callback__container {
		top: 160px;
	}
}
