.site-wide-alert {
  $self: &;
  @include make-container();
  position: relative;
  z-index: 1030;
  background-color: $pale-grey-four;
  justify-content: center;
  align-items: center;
  display: none;
  flex-wrap: wrap;
  padding: 13px 10px 13px 13px;

  @include media-breakpoint-up(sm){
      flex-wrap: nowrap;
  }
  @include media-breakpoint-up(lg) {
      padding: 30px;
      justify-content: space-between;
  }

  &__content {
    &:before {
        content: image-url('svg/ic-warning-copy.svg');
        @include media-breakpoint-up(sm){
            position: absolute;
            left: 20px;
        }
        @include media-breakpoint-up(md){
            left: 30px;
        }
        @include media-breakpoint-up(lg){
            left: 40px;
        }
    }
    text-align: center;
    padding-right: 10px;
    @include media-breakpoint-up(sm){
      text-align: left;
      padding-left: 43px;
    }
    p, a {
      @extend %body-text;
      font-weight: normal;
      margin-bottom: 0;
    }
    a {
      color: $dark-primary;
      text-decoration: underline;
      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }

  &__close-btn {
    @extend %button--primary;
    min-width: 126.81px;
    margin-top: 10px;
    @include media-breakpoint-up(md) {
      margin-top: 0;
    }
  }
}
