$left-section-max-width: 918px;
.support-results {
	$self: &;
	min-height: 800px;
	//general
	&__header {
		@extend %main-heading;
		margin-bottom: 16px;
		#{$self}__banner-loading {
			width: 100%;
		}
		#{$self}__banner-content {
			opacity: 0;
			transition: opacity 0.5s ease;
		}
		&--show {
			#{$self}__banner-loading {
				display: none;
			}
			#{$self}__banner-content {
				opacity: 1;
			}
		}
	}

	&__header-number {
		opacity: 0;
		&--show {
			opacity: 1;
			transition: opacity 0.5s ease;
		}
	}

	&__link {
		@extend %body-text;
		font-weight: normal;
	}

	&__refine-results {
		@extend %body-text;
		font-weight: bold;
		margin-top: 22px;
		display: none;
		@include media-breakpoint-up(lg) {
			display: block;
		}
	}

	&__button-group {
		display: none;
		@include media-breakpoint-up(lg) {
			display: block;
		}

		&--mobile {
			width: 100%;
			display: block;
			@include media-breakpoint-up(lg) {
				display: none;
			}
		}
	}

	#{$self}__button-filter-mobile {
		margin-top: 24px;
		width: 100%;
		text-align: center;
	}

	&__button-group-container {
		margin-top: 8px;
		display: flex;
		flex-wrap: wrap;
		& > *:not(:last-child) {
			margin-right: 12px;
		}
		@include media-breakpoint-up(xl) {
			max-width: $left-section-max-width;
		}
	}

	&__modal {
		.modal-content {
			border-radius: 8px;
			max-width: 600px;
		}
		.close {
			padding: 16px;
			margin-top: -16px;
			margin-right: 8px;
			&:focus {
				img {
					outline: 2px solid $phn-blue;
				}
			}
		}
		.modal-header {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 16px;
			border-bottom: 1px solid $grey-three;
		}
		.modal-title {
			@extend %section-heading;
			color: $text-primary;
		}
		.modal-body {
			padding: 40px 60px;
		}
		.modal-footer {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 16px 30px;
			border-top: 1px solid $grey-three;
		}

		&--mobile {
			#{$self}__mobile-filter-close {
				left: 0;
				right: auto;
				margin-top: -24px;
				padding: 16px;
				@include media-breakpoint-up(md) {
					left: 12px;
					margin-top: -18px;
				}
			}
			#{$self}__filter-save {
				padding: 9px 22px;
				right: 12px;
				position: absolute;
				width: auto !important;
				@include media-breakpoint-up(md) {
					right: 24px;
				}
			}
			.modal-dialog {
				@include media-breakpoint-down(sm) {
					margin: 0;
					min-height: 100%;
				}
			}
			.modal-content {
				position: fixed;
				width: 100vw;
				height: 100vh;
				overflow-y: auto;
				margin: auto;
				max-width: 100vw;
				border-radius: 0;
			}
			.modal-header {
				height: 60px;
				@include media-breakpoint-up(md) {
					height: 70px;
				}
			}
			.modal-body {
				padding: 0;
				@include media-breakpoint-up(md) {
					padding: 30px;
				}
			}
		}
	}

	//mobile filter accordion
	&__accordion {
		border-bottom: 1px solid $grey-three;
		display: flex !important;
		flex-direction: column;
	}

	&__accordion-header {
		@extend %section-heading;
		margin-bottom: 0;
		padding: 24px 12px;
		font-size: 2rem !important;
		@include media-breakpoint-up(sm) {
			padding: 24px;
		}
		border: none;
		width: 100%;
		display: flex;
		justify-content: space-between;

		&:focus {
			outline: 2px solid $phn-blue;
		}

		&:after {
			display: inline-block;
			vertical-align: baseline;
			width: 12px;
			height: 8px;
			transform: rotate(180deg);
			transition: 0.3s;
			margin-top: 16px;
			margin-right: 5px;
			content: image-url("svg/ic-chevron-down.svg");
		}

		&.collapsed {
			&:after {
				content: image-url("svg/ic-chevron-down.svg");
				display: inline-block;
				width: 12px;
				height: 8px;
				transform: none;
				margin-top: 0;
				vertical-align: baseline;
				transition: 0.3s;
			}
		}
	}

	&__accordion-body {
		transition-duration: 0.3s;
		transition-property: height, visibility;
		padding: 0 12px 24px 12px;
		@include media-breakpoint-up(sm) {
			padding: 0 24px 24px 24px;
		}

		&.show {
			transition-duration: 0.3s;
			transition-property: height, visibility;
		}
	}

	//forms
	&__form {
		list-style: none;
		padding: 0;
		input[type="checkbox"] {
			position: relative;
			margin-top: 0;
			margin-left: 0;
		}
	}
	&__input-container {
		justify-content: space-between;
		&:not(:last-child) {
			margin-bottom: 24px;
		}

		&--tighter {
			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
	}

	&__form-input {
		width: 100%;
	}

	&__form-title {
		@extend %section-heading;
		margin-bottom: 16px;

		&--label {
			@extend %sub-heading;
			color: $black-two;
			margin-bottom: 6px;
		}
	}

	&__form-input-tooltip {
		position: relative;
		float: right;
		background: $phn-blue;
		height: 24px;
		width: 24px;
		border-radius: 50%;
		padding: 0 8px;
		border: none;
		margin-left: auto;
		&:focus,
		&:focus {
			outline: 2px solid $phn-blue;
		}
	}

	&__label {
		margin-bottom: 0;
		cursor: pointer;
		&:not(:last-child) {
			margin-right: auto;
		}
		&:hover,
		&:focus {
			text-decoration: underline;
		}
		&--input-within {
			display: flex;
			align-items: center;
		}
	}

	&__radio-group {
		display: flex;
		justify-content: flex-start;
		& > *:not(:last-child) {
			margin-right: 40px;
		}
	}

	&__results-lists {
		list-style: none;
		padding: 0;
	}

	//results
	&__results-container {
		margin-top: 40px;
		margin-bottom: 24px;
		@include media-breakpoint-up(xl) {
			max-width: $left-section-max-width;
		}
	}

	&__show-more-button {
		opacity: 0;
		width: 100% !important;
		@include media-breakpoint-up(xl) {
			max-width: $left-section-max-width;
		}

		&--show {
			opacity: 1;
			transition: opacity 0.5s ease;
		}
	}

	&__footer-text {
		@extend %body-text;
		margin-top: 40px;
		padding-bottom: 40px;
		text-align: center;
		margin-bottom: 0;
		@include media-breakpoint-up(xl) {
			max-width: $left-section-max-width;
		}
	}
}
