$max-card-text-length: 460px;
$default-padding: 32px 40px;
$default-padding-mobile: 25px 32px;

.support-finder {
    $self: &;
    padding-top: 40px;
    padding-bottom: 20px;

    @include media-breakpoint-up(xl){
        max-width: 918px;
    }

    //general
    &__header {
        @extend %main-heading;
        margin-bottom: 40px;
    }

    &__summary {
        font-size: 14px;
        line-height: 1.43;
        margin-bottom: 24px;
    }

    //card
    &__card {
        background-color: $white;
        padding: 16px;
        border-radius: 4px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.08);
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        width: auto;
        margin-bottom: 16px;
        opacity: 0;

        &--show {
            opacity: 1;
            transition: opacity .5s ease;
        }

        &--goal {
            justify-content: flex-start;
            align-items: center;
            flex-wrap: nowrap;
			background-color: $pale-grey-four;
            padding: 0;
            position: relative;

            #{$self}__goal-icon {
                height: 9.6rem;
                position: absolute;
                bottom: -1px;
                left: -2px;
                border-bottom-left-radius: 4px;
            }

            #{$self}__goal-text-container {
                min-width: calc( 100% - 12.1rem );
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                min-height: 8rem;
                padding: 0 2.6rem;
                margin-left: 12.4rem;
                @include media-breakpoint-up(md){
                    flex-wrap: nowrap;
                    justify-content: space-between;
                }
            }

            #{$self}__restart-link {
                min-width: 207px;
                text-align: right;
				color: $phn-blue;
            }
        }

        &--question {
            flex-direction: column;
            align-items: flex-start;
            padding: $default-padding-mobile;
            @include media-breakpoint-up(md){
                padding: $default-padding;
            }

            #{$self}__card-heading {
                @extend %secondary-heading;
                margin-bottom: 24px;
            }
            #{$self}__q2-tooltip-icon{
                height: 24px;
                width: 24px;
                margin-top: -2px;
                margin-left: 11px;
            }
            #{$self}__card-summary {
                @extend %body-text;
                font-size: 14px;
                line-height: 1.43;
                margin-bottom: 24px;
            }
            #{$self}__card-text {
                @extend %body-text;
                margin-top: 24px;
                margin-bottom: 16px;
            }
            #{$self}__input-container {
                &:not(:last-child){
                    margin-bottom: 24px;
                }

                &--age-group {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    &>*:not(:last-child){
                        margin-right: 40px;
                    }
                }
            }
            #{$self}__postcode-input {
                padding: 5px 11px;
                border-radius: 5px;
				height: 40px !important;
				background-color: rgba(241, 245, 247, 0.5) !important;
				min-width: 360px;
            }
			::placeholder {
				color: $black-light;
			}
            #{$self}__radio-group {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                &>*:not(:last-child) {
                    margin-right: 40px;
                }
            }
            #{$self}__card-body {
                width: 100%;
                @extend .custom-form;
                input[type="checkbox"] {
                    position: relative;
                    margin-top: 0;
                    margin-left: 0;
                }
            }
            #{$self}__card-buttons {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 32px;

                .btn--link-arrow-right {
                    padding-top: 12px;
                    padding-bottom: 12px;
                }

                @include media-breakpoint-up(sm){
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    margin-top: 40px;
                    &>*:not(:last-child) {
                        margin-right: 24px;
                    }
                }
            }
            #{$self}__refresh-button {
                display: flex;
                align-items: center;
                padding: 12px 0;
                .btn__icon-left {
                    height: 18px;
                    width: 18px;
                    margin-top: 1px;
                }
				.btn__text {
					color: #000;
				}
            }
            #{$self}__external-link {
                @extend %body-text;
                padding: 12px 22px;
                .btn__icon-right {
                    height: 18px;
                    width: 18px;
                    margin-top: -3px;
					g {
						fill: #000;
					}
                }
            }
        }

        &--with-bg {
            //all child block has a maximum width
            &>* {
                max-width: $max-card-text-length;
            }
            @include media-breakpoint-up(md){
                background-image: url(/assets/img/svg/map-background.svg);
                background-repeat: no-repeat;
                background-size: auto;
                background-position: right top;
            }
        }

        &--q2 {
            #{$self}__error {
                margin-top: 16px;
            }
        }

        &--q2-error {
            padding: 0;
            #{$self}__q2-top-img {
                max-width: 100%;
                height: auto;
                &--desktop {
                    display: none;
                    @include media-breakpoint-up(lg){
                        display: block;
                    }
                }
                &--mobile {
                    display: block;
                    @include media-breakpoint-up(lg){
                        display: none;
                    }
                }
            }
            #{$self}__q2-container {
                padding: $default-padding-mobile;
                @include media-breakpoint-up(md){
                    padding: $default-padding;
                }
            }
            #{$self}__q2-error-container {
                margin-top: 40px;
            }
            #{$self}__q2-error-title {
                font-size: 14px;
                line-height: 20px;
                padding: 0;
                color: $text-dark;
                margin-bottom: 10px;
            }
            #{$self}__card-buttons {
                margin-top: 0;
            }
        }

        &--q3 {
            #{$self}__card-body {
                max-width: 100%;
            }
            #{$self}__age-group-input {
                margin-right: 16px;
                &::before {
                    margin-right: 0!important;
                }
            }
        }

        &--previous-step {
            padding: 21px 30px;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: nowrap;
            background-color: $pale-grey-four;

            #{$self}__card-icon {
                margin-right: 16px;
                margin-top: 5px;
            }

            #{$self}__card-body {
                width: auto;
                margin-right: auto;
            }

            #{$self}__card-title {
                margin-top: 0;
                font-weight: bold;
                &:last-child {
                    margin-bottom: 0;
                }
            }

            #{$self}__card-text {
                font-weight: normal;
                margin-top: 0;
                &:last-child {
                    margin-bottom: 0;
                }
            }

            #{$self}__card-list {
                font-weight: normal;
                padding-left: 16px;
                margin-bottom: 0;
            }

            #{$self}__card-link {
                @extend %button--link-arrow-right;
                margin-top: auto;
                margin-bottom: auto;
            }
        }
    }

    &__label {
        &--input-within {
            display: flex;
            align-items: center;
        }
    }

    &__error {
        @extend %body-text;
        color: $lipstick;
        line-height: 22px;

        &:before{
            content: image-url('svg/ic-warning.svg');
            margin-right: 6px;
            vertical-align: middle;
        }
    }

    &__card-link {
        @extend %button--link;
        @extend %link-hover-underline;
        color: $phn-blue;
        .btn__text{
            color: $phn-blue;
        }
        align-items: flex-start;
        padding: 0;
    }

    &__restart-link {
        @extend %button--link;
        @extend %link-underline;
    }

    &__goal-heading {
        @extend %section-heading;
        max-width: calc( 100% - 21.5rem );
    }

    //info-bar section
    &__info-bar {
        margin-top: 24px;
        margin-bottom: 40px;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        @include media-breakpoint-up(md){
            width: auto;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }
    }

    &__info-text {
        margin-bottom: 0;
        margin-left: 3px;
        &:not(:first-child){
            @include media-breakpoint-up(md){
                margin-right: 24px;
            }
        }
    }

    &__skip-remain {
        margin-top: 8px;
        @include media-breakpoint-up(md){
            margin-top: 0;
        }
    }

    &__options-found {
        opacity: 0;
        transition: opacity .5s ease;
        max-width: 30px;
        overflow: hidden;
        max-height: 16px;
        display: inline-block;

        &--show {
            max-width: 100%;
            max-height: 100%;
            display: inline;
            opacity: 1;
            transition: opacity .5s ease;
        }
    }

    &__remain-questions {
        opacity: 0;
        transition: opacity .5s ease;
        max-width: 16px;
        overflow: hidden;
        max-height: 16px;
        display: inline-block;

        &--show {
            max-width: 100%;
            max-height: 100%;
            display: inline;
            opacity: 1;
            transition: opacity .5s ease;
        }
    }
}
