.video-transcript-button-wrapper {
	text-align: left;
	padding: 17px 0 8px;
	color: $phn-blue;

	.video-transcript-link {
		@extend %body-text;
		padding-left: 0;
		padding-right: 0;
		color: $phn-blue;
		font-weight: bold;
		&:hover, &:focus {
			.btn__text{
				text-decoration: underline;
			}
		}
	}
}
