// grey scale
$pepper:            #737373;
$brown-grey:        #979797;
$grey:              #bfbfbf;
$greyish:			#b9b9b9;
$shadow:            #dfdfdf;
$shade:             #dddddd;
$light-grey:        #eef1f1;
$very-light-pink:   #eeeeee;
$grey-two:          #e8e8e8;
$grey-three:        #e0e0e0;
$soap:              #f0f1f2;
$light-white:       #f4f3f2;
$vanilla:           #fafafa;
$pale:              #fef1de;
$pale-grey:         #f2f5f7;
$pale-grey-two:		#d9e2e8;
$pale-grey-three:	#e5ecf0;
$pale-grey-four:	#e4eaee;
$pale-grey-five:	    #eaf1f1;
$pale-grey-six:     #e5ebef;
$pale-rose:         #f6cccd;
$light-purple:      #f0ebf5;
$very-light-pink:   #f1f1f1;
$white:             #ffffff;
$white-two:         #f8f8f8;

//theme color
$light:             #f3f2f1;
$emerald:           #039846;
$denim:				#35757a;
$lipstick:          #d81d3c;
$rouge:             #d63939;
$light-rouge:       #C13333;
$pale-peach:        #fee0a9;
$pale-gold:         #fecd71;
$light-eggplant:    #78459a;
$warm-purple-darker:#622c86;
$marine-blue:       #023d6a;
$marine-blue-two:	#013964;
$marine-blue-three:	#013d69;
$ocean-blue:        #0474b7;
$deep-sea-blue:     #03588b;
$phn-blue:			#003d69;
$phn-blue-dark:     #032035;
$phn-blue-light:	rgba($phn-blue, 0.2);
$phn-blue-light-2:	rgba($phn-blue, 0.1);
$greyish-brown:     #4a4a4a;
$brownish-grey:     #737373;
$black:             #211f1e;
$black-light: 		#393536;
$yellow:			#f2c345;
$pinkish-grey:		#bfbfbf;
$very-light-pink: 	#fcdada;
$blush: 			#f3b7b7;
$brick: 			#a01f1f;

//category label color pallet
$lipstick-red:      #b90027;
$purple-blue:       #5e35b1;
$poo-brown:         #8d5300;
$cobalt:            #1e5683;
$warm-purple:       #8b2666;
$dark-green:        #2e7710;
$black-two:         #21201e;

$faded-pink:        #f3dadf;
$light-purple-blue: #e0d8f0;
$light-khaki:       #f5e5c0;
$duck-egg-blue:     #cee2f5;
$light-blue-grey:   #d3ebe0;
$pale-mauve:        #fee4fa;
$light-green:       #e7f8e0;
$pale-grey-two:     #dee4e9;

// BS Colours
$primary:           $yellow;
$secondary:         $phn-blue;
$success:           $emerald;
$warning:           $pale-peach;
$danger:            $lipstick;

$theme-colors: (
      "primary":    $primary,
      "secondary":  $secondary,
      "danger":     $danger,
      "warning":    $warning
);

// Color Usage
$dark-primary:      lighten($primary, 8%);
$dark-danger:       $rouge;
$dark-secondary:    $warm-purple-darker;

$text-dark:         $black-light;//body text
$text-light:        $greyish-brown;//body text light
$text-primary:      $marine-blue; // body text primary

$bg-light:          $light;//card
$bg-grey:           $pale-grey;
$bg-menu:           rgba($primary, 0.1);

$color-border:      $grey-two;

$body-color: $black-light;
