// link
$link-color:                              $greyish-brown;
// $link-decoration:                         none !default;
$link-hover-color:                        $greyish-brown !default;
$link-hover-decoration:                   underline !default;
// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
// $emphasized-link-hover-darken-percentage: 15% !default;
