// Font Variables
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,800;1,400;1,500&display=swap');


// BS Font Variables
$headings-font-family:      "Raleway", sans-serif;
$font-family-base:          "Raleway", sans-serif;

// // Override BS defaults for Font, line-height, and color for body text, headings, and more here:
// $font-family-sans-serif:      "interstate", "Helvetica Neue", Arial, sans-serif;
// $headings-font-family:        "handOfSean", sans-serif;
// // $font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
// $font-family-base:            $font-family-sans-serif;

$font-size-base:              1.6rem; // Assumes the browser default, typically `16px`
// $font-size-lg:                ($font-size-base * 1.25);
// $font-size-sm:                ($font-size-base * .875);

// $font-weight-light:           300;
$font-weight-normal:          500;
$font-weight-bold:            800;

$font-weight-base:            $font-weight-normal;
$line-height-base:            1.5;

// BS Headings Font Sizes:
$h1-font-size:                $font-size-base * 2.25;
$h2-font-size:                $font-size-base * 1.75;
$h3-font-size:                $font-size-base * 1.25;
$h4-font-size:                $font-size-base;
$h5-font-size:                $font-size-base;
$h6-font-size:                $font-size-base;
