// // Buttons + Forms
// // Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y:           14px !default;
$input-btn-padding-x:           18px !default;
// $input-btn-font-family:       null !default;
$input-btn-font-size:           14px !default;
$input-btn-line-height:         1.43 !default;

// $input-btn-focus-width:       .2rem !default;
 $input-btn-focus-color:        none !default;
 $input-btn-focus-box-shadow:   none !default;

 $input-btn-padding-y-sm:       9.5px !default;
 $input-btn-padding-x-sm:       18px !default;
 $input-btn-font-size-sm:       14px !default;
 $input-btn-line-height-sm:     1.5 !default;

// $input-btn-padding-y-lg:      .5rem !default;
// $input-btn-padding-x-lg:      1rem !default;
// $input-btn-font-size-lg:      $font-size-lg !default;
// $input-btn-line-height-lg:    $line-height-lg !default;

// $input-btn-border-width:      $border-width !default;


// // Buttons
// // For each of Bootstrap's buttons, define text, background, and border color.

// $btn-padding-y:               $input-btn-padding-y !default;
// $btn-padding-x:               $input-btn-padding-x !default;
// $btn-font-family:             $input-btn-font-family !default;
// $btn-font-size:               $input-btn-font-size !default;
// $btn-line-height:             $input-btn-line-height !default;

// $btn-padding-y-sm:            $input-btn-padding-y-sm !default;
// $btn-padding-x-sm:            $input-btn-padding-x-sm !default;
// $btn-font-size-sm:            $input-btn-font-size-sm !default;
// $btn-line-height-sm:          $input-btn-line-height-sm !default;

// $btn-padding-y-lg:            $input-btn-padding-y-lg !default;
// $btn-padding-x-lg:            $input-btn-padding-x-lg !default;
// $btn-font-size-lg:            $input-btn-font-size-lg !default;
// $btn-line-height-lg:          $input-btn-line-height-lg !default;

// $btn-border-width:            $input-btn-border-width !default;

$btn-font-weight:                800 !default;
$btn-box-shadow:                 null !default;
//$btn-focus-width:                $input-btn-focus-width !default;
$btn-focus-box-shadow:           null !default;
// $btn-disabled-opacity:        .65 !default;
$btn-active-box-shadow:          null !default;

// $btn-link-disabled-color:     $gray-600 !default;

// $btn-block-spacing-y:         .5rem !default;

// // Allows for customizing button radius independently from global border radius
$btn-border-radius:             25px;
// $btn-border-radius-lg:        $border-radius-lg !default;
// $btn-border-radius-sm:          10px !default;

// $btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;
