// Tooltips

//$tooltip-font-size:                 $font-size-sm !default;
//$tooltip-max-width:                 200px !default;
//$tooltip-color:                     $white !default;
//$tooltip-bg:                        $black !default;
//$tooltip-border-radius:             $border-radius !default;
//$tooltip-opacity:                   .9 !default;
//$tooltip-padding-y:                 .25rem !default;
//$tooltip-padding-x:                 .5rem !default;
//$tooltip-margin:                    0 !default;
//
//$tooltip-arrow-width:               .8rem !default;
//$tooltip-arrow-height:              .4rem !default;
//$tooltip-arrow-color:               $tooltip-bg !default;

$tooltip-bg:                        $text-primary;
$tooltip-max-width:                 400px;
$tooltip-border-radius:             2px;
$tooltip-opacity:                   1;
$tooltip-arrow-width:               2rem;
$tooltip-arrow-height:              1rem;
$tooltip-padding-x:                 1rem;
$tooltip-padding-y:                 0.8rem;
