// inter-blocks
$gap-between-blocks: 4rem;
$gap-between-blocks-mobile: 3rem;
$gap-between-blocks-px: 40;
$gap-between-blocks-mobile-px: 30;
$gap-big: 5.6rem;
$gap-big-mobile: 4.8rem;
$gap-big-px: 56;
$gap-big-mobile-px: 48;

@mixin apply-block-gap-y($gap-between-blocks: $gap-between-blocks, $gap-between-blocks-mobile: $gap-between-blocks-mobile){
  padding-top: $gap-between-blocks-mobile;
  padding-bottom: $gap-between-blocks-mobile;
  @include media-breakpoint-up(lg){
    padding-top: $gap-between-blocks;
    padding-bottom: $gap-between-blocks;
  }
}

@mixin apply-big-block-gap-y($gap-big: $gap-big, $gap-big-mobile: $gap-big-mobile){
  padding-top: $gap-big-mobile;
  padding-bottom: $gap-big-mobile;
  @include media-breakpoint-up(lg){
    padding-top: $gap-big;
    padding-bottom: $gap-big;
  }
}
