// The search-input is the wrap for an input (__text) and a submit button (__icon-button)
%search-input {
	$self: &;
	display: flex;
	width: auto;
	position: relative;
	border: 1px solid $pinkish-grey;
	border-radius: 25px;
	padding: 7px 28px 7px 7px;
	transition: all 0.3s ease-in-out;
	height: 47px;

	&__icon-button {
		position: absolute;
		padding: 5px !important;
		z-index: 2;
		right: 3px;
		top: 3px;
		background-color: $yellow;
		border-radius: 50%;
		justify-content: center;
		transition: all 0.3s ease-in-out;
		display: flex;
		justify-content: center;
		align-items: center;
		@include media-breakpoint-up(md) {
			margin-left: 5px;
		}
		label {
			margin-bottom: 0;
		}
		&:focus {
			outline: 2px solid $primary;
		}
	}

	&__text {
		border: none;
		padding: 5px 3px;
		@include media-breakpoint-up(md) {
			padding: 5px;
		}
		border-radius: 4px;
		width: auto;
		max-width: calc(100vw - 310px);
		font-size: 14px;
		color: $text-dark;
		cursor: text;

		&::placeholder {
			color: inherit;
			&:hover,
			&:focus {
				visibility: hidden;
			}
		}
		&:focus {
			//outline: 1px solid $text-dark;
			outline: 0;
			&::placeholder {
				visibility: hidden;
			}
		}
	}

	&--large {
		height: 56px;
		#{$self}__icon-button {
			height: 48px !important;
			width: 48px !important;
		}
	}
}
