%button {
	//button components
	&__animation {
		position: relative;
		transition: all 0.3s;
		background-color: transparent;
		overflow-x: hidden;
		overflow-y: hidden;
		z-index: 1;
	}

	&__animation-before {
		content: "";
		position: absolute;
		bottom: 0;
		width: 0;
		left: 0;
		height: 100%;
		transition: all 0.3s;
		z-index: -1;
		color: inherit;
		&:hover,
		&:focus {
			width: 100%;
		}
	}

	&__animation-after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: all 0.3s;
		z-index: -2;
		color: inherit;
	}

	&--lg {
		font-size: 1.6rem;
		line-height: 1.5;
		padding: 1.2rem 3.2rem;
		width: auto;
		.btn__text {
			font-size: 1.6rem;
			line-height: 1.5;
		}
	}

	//button variation
	&--primary {
		@extend %button__animation;
		@extend %button--lg;
		font-weight: bold;
		transition: all 0.3s;
		border: none;
		background-color: $primary;
		color: $black;

		&:before {
			@extend %button__animation-before;
			background-color: $dark-primary;
		}
		&:after {
			@extend %button__animation-after;
			background-color: $primary;
		}
	}

	&--secondary {
		padding: 0;
		@extend %body-text;
		font-size: 16px;

		.btn__text {
			@extend %body-text;
			font-size: 16px;
		}

		&:hover,
		&:focus {
			.btn__text {
				text-decoration: underline;
			}
		}
		&::before {
			content: image-url("svg/ic-chevron-right.svg");
			margin-right: 9px;
		}
	}

	&--callback {
		.btn__icon-left {
			margin-top: -3px;
		}
	}

	&--danger {
		@extend %button__animation;
		color: $white !important;
		font-weight: bold;
		transition: all 0.3s;
		line-height: 22px;
		background-color: $rouge;
		border: none;
		.btn__text {
			line-height: 22px;
		}

		&:before {
			@extend %button__animation-before;
			background-color: $rouge;
		}
		&:after {
			@extend %button__animation-after;
			background-color: $light-rouge;
		}
	}

	&--exit {
		color: $brick;
		border: 2px solid $blush;
		background-color: $very-light-pink;
		padding: 14px 18px;
		transition: all 0.3s ease-in-out;

		&:after {
			content: image-url("svg/open-new-tab-danger.svg");
			display: inherit;
			margin-left: 8px;
			width: 16px;
			height: 24px;
			vertical-align: middle;
		}

		&:hover,
		&:focus {
			color: $dark-danger;
			border-color: $dark-danger;
			&:after {
				content: image-url("svg/open-new-tab-danger-dark.svg");
			}
		}
	}

	&--dulled {
		color: $phn-blue;
		background-color: $pale-grey;
		border: 1px solid $phn-blue-light;
		&::before, &::after {
			background-color: $pale-grey;
		}
		&:hover {
			border: 1px solid $phn-blue-light;
			&::after,
			&::before {
				background-color: $pale-grey;
			}
		}
	}

	&--dark-outline {
		font-size: 14px;
		font-weight: normal;
		color: $phn-blue;
		font-weight: 600;
		border: 1px solid $marine-blue-three;
		background-color: transparent;
		padding: 8px 11px;
		height: 47px;
		min-width: 79px;
		.btn__text {
			font-size: 14px;
		}
		&:hover,
		&:focus {
			background-color: $phn-blue-light-2;
		}
		&.active {
			background-color: $phn-blue-light-2;
			box-shadow: none !important;
			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}

	&--card {
		font-size: 20px;
		line-height: 1.4;
		font-weight: normal;
		background-color: $pale-grey;
		border-radius: 4px;
		max-width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 380px;
		height: 124px;
		padding: 36px 40px;

		.btn__text {
			color: $phn-blue;
			font-weight: $font-weight-bold;
			max-width: 80%;
			height: auto;
			text-align: left;
			font-size: 20px;
			line-height: 1.4;
		}

		&:after {
			content: image-url("svg/ic-chevron-right-large.svg");
			width: 32px;
			height: 32px;
			border-radius: 50%;
			color: white;
			background-color: $primary;
			line-height: 32px;
		}

		&:hover,
		&:focus {
			box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.1);
			.btn__text {
				text-decoration: underline;
			}
		}
	}

	&--link {
		padding: 0;
		//padding-left: 0;
		//padding-right: 0;
		.btn__text {
			@extend %body-text;
			font-size: 16px;
			line-height: 1.5;
		}
		& &:hover,
		&:focus {
			.btn__text {
				text-decoration: underline;
			}
		}
	}

	&--link-external {
		padding: 0;
		//padding-left: 0;
		//padding-right: 0;
		.btn__text {
			@extend %body-text;
			color: $phn-blue;
		}

		&:after {
			content: image-url("svg/external-link-alt-solid.svg");
			height: 11px;
			margin-left: 11px;
		}

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}

	&--link-external-black {
		padding: 0;
		//padding-left: 0;
		//padding-right: 0;
		display: flex;
		.btn__text {
			color: $text-dark;
			font-size: 14px;
			line-height: 20px;
		}
		&:after {
			content: image-url("svg/open-new-tab-primary.svg");
			height: 16px;
			width: 17px;
			margin-left: 3px;
		}
		&:hover,
		&:focus {
			text-decoration: underline;
			.btn__text {
				text-decoration: underline;
			}
		}
	}

	&--back-to-results {
		padding: 0;
		&:before {
			content: image-url("svg/ic-chevron-white-left-large.svg");
			width: 32px;
			height: 32px;
			background-color: $primary;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			margin-right: 8px;
		}

		.btn__text {
			font-size: 14px;
			line-height: 32px;
			font-weight: normal;
			color: $text-dark;
		}

		&:hover,
		&:focus {
			.btn__text {
				text-decoration: underline;
			}
		}
	}

	&--link-arrow-right {
		padding: 0;
		//padding-left: 0;
		//padding-right: 0;
		@extend %body-text;
		font-size: 16px;

		.btn__text {
			@extend %body-text;
			font-size: 16px;
		}

		&:hover,
		&:focus {
			.btn__text {
				text-decoration: underline;
			}
		}
		&::after {
			content: image-url("svg/ic-chevron-right.svg");
			margin-left: 9px;
		}
	}

	&--link-arrow-left {
		padding: 0;
		@extend %body-text;
		font-size: 16px;

		.btn__text {
			@extend %body-text;
			font-size: 16px;
		}

		&:hover,
		&:focus {
			.btn__text {
				text-decoration: underline;
			}
		}

		&:before {
			content: image-url("svg/ic-blue-arrow-left.svg");
			margin-right: 8px;
		}
	}
}
