/**
 * Custom fonts inclusion example:
 */
// // Gilroy
// @include font-face(Gilroy, "/vendor/fonts/Gilroy/Gilroy-Regular", $weight: 400, $file-formats: woff woff2); //Gilroy Regular
// @include font-face(Gilroy, "/vendor/fonts/Gilroy/Gilroy-Italic", $weight: 400, $style: italic, $file-formats: woff woff2); //Gilroy Regular Italic
// @include font-face(Gilroy, "/vendor/fonts/Gilroy/Gilroy-Medium", $weight: 600, $file-formats: woff woff2); //Gilroy Medium
// @include font-face(Gilroy, "/vendor/fonts/Gilroy/Gilroy-Bold", $weight: 700, $file-formats: woff woff2); //Gilroy Bold
// @include font-face(Gilroy, "/vendor/fonts/Gilroy/Gilroy-BoldItalic", $weight: 700, $style: italic, $file-formats: woff woff2); //Gilroy Bold Italic
// @include font-face(Gilroy, "/vendor/fonts/Gilroy/Gilroy-ExtraBold", $weight: 800, $file-formats: woff woff2); //Gilroy Extra Bold
// @include font-face(Gilroy, "/vendor/fonts/Gilroy/Gilroy-ExtraBoldItalic", $weight: 800, $style: italic, $file-formats: woff woff2); //Gilroy Extra Bold Italic

// See _ds-vars-typography.scss for the maps for these components

%main-heading {
	@include fluid-type($main-heading);
	font-weight: 800;
	&--small {
		@include fluid-type($main-heading--small);
		font-weight: 800;
	}
}

%secondary-heading {
	@include fluid-type($secondary-heading);
	@include fluid-property('margin-bottom', 16);
	font-weight: 800;
}

%section-heading {
	@include fluid-type($section-heading);
	font-weight: 800;
}

%sub-heading {
	@include fluid-type($sub-heading);
	font-weight: 800;
}

%minor-heading {
	@include fluid-type($minor-heading);
	font-weight: 800;
}

%lead-text {
	@include fluid-type($lead-text);
}

%body-text {
	@include fluid-type($body);
	font-family: $font-family-base;
	&--small {
		font-size: 14px;
		line-height: 20px;
	}
}

%link-underline {
	@include fluid-type($body);
	color: $primary;
	text-decoration: underline;
	&:hover, &:focus {
		color: $primary;
		text-decoration: none;
	}
}

%link-hover-underline {
	@include fluid-type($body);
	color: $primary;
	text-decoration: none;
	&:hover, &:focus {
		color: $primary;
		text-decoration: underline;
	}
}

%section-head {
	&__heading {
		@include fluid-type($section-heading);
		@include fluid-property('margin-bottom', 24);
		color: $text-primary;
		font-weight: bold;
	}
	&__summary {
		@include fluid-type($body);
		@include fluid-property('margin-bottom', 24);
	}
}
