// these two define the breakpoint together, they should be changed together if one of them needs to be changed
$rich-media-breakpoint-up: lg;
$rich-media-breakpoint-down: md;

$rich-media-text-desktop-max-widths: (
	md: 356px,
	lg: 540px,
	xl: 666px,
);

%banner {
	background: $secondary;
	color: $white;
	position: relative;
	&::after {
		@include media-breakpoint-up(lg) {
			content: "";
			display: block;
			width: 100%;
			height: calc(100vw / 1440 * 51);
			//height: 29%;
			position: absolute;
			bottom: -1px;
			left: 0;
			background-size: cover;
			background-repeat: no-repeat;
			background-image: url(/assets/img/svg/banner-bottom-swirl-white.svg);
		}
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
		@include media-breakpoint-down($rich-media-breakpoint-down){
			align-content: center;
		}
	}
	&__column {
		@include media-breakpoint-up($rich-media-breakpoint-up) {
			flex: 0 0 50%;
		}
		&--media {
			//@include make-col-ready(0);
			@include make-col(12);
			order: 0;

			@include media-breakpoint-up($rich-media-breakpoint-up) {
				@include make-col(5);
				order: 2;
				//display: none;
				// media column always goes first on mobile / portrait view, otherwise (desktop / landscape view), respect the initial order (set in CMS)
				//order: 1;
				//flex: 0 0 100%;
				//max-width: 100%;
			}
		}
		&--text {
			//@include make-col-ready(0);
			@include make-col(12);
			@include make-container();
			@include make-container-max-widths();
			order: 1;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin: auto;
			padding-top: $gap-between-blocks-mobile;
			padding-bottom: $gap-between-blocks-mobile;
			@include media-breakpoint-up($rich-media-breakpoint-up) {
				@include align-container-all('padding', 'left');
				@include make-col(7);
				order: 1;
				display: flex;
				justify-content: flex-start;
				align-items: center;
			}
		}
		&--full-width {
			@include make-container();
			@include make-container-max-widths();
			@include make-col(12);
			padding-top: 40px;
			padding-bottom: 40px;
			//width: 100%;
			//max-width: 100%;
			justify-content: flex-start;
			//flex: 0 0 100%;
		}
	}

	&__text-content-wrap {
		order: 0;
		@include media-breakpoint-up($rich-media-breakpoint-up) {
			@include make-container-max-widths($rich-media-text-desktop-max-widths);
		}
	}

	&__media {
		&--image {
			// we need to make sure the image itself is cropped 16/9
			position: relative;
			height: 100%;
			min-height: calc(100vw * 9 / 16);
			background-size: cover;
			@include media-breakpoint-up($rich-media-breakpoint-up) {
				min-height: calc(50vw * 9 / 16);
			}
			@include media-breakpoint-up(xl) {
				min-height: calc(22vw * 9 / 16);
			}
		}
	}
}
