%help-block {
	max-width: 350px;
	margin-left: auto;
	margin-right: auto;
	@include media-breakpoint-up(md) {
		max-width: initial;
	}
	&__main-content {
		@include media-breakpoint-up(md) {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
	}

	&__heading {
		@extend %secondary-heading;
		text-align: center;
		margin-bottom: 26px;
		@include media-breakpoint-up(md) {
			margin-bottom: 36px;
		}
		@include media-breakpoint-up(lg) {
			margin-bottom: 56px;
		}
	}

	&__text-wrap {
		text-align: center;
		@include media-breakpoint-up(md) {
			padding-left: 20px;
			padding-right: 20px;
		}
		@include media-breakpoint-up(lg) {
			padding-left: 80px;
			padding-right: 80px;
		}
		//&:first-child {
		//	@include media-breakpoint-up(md) {
		//		border-right: 1px solid $pale-grey-two;
		//	}
		//}
		& + & {
			margin-top: 40px;
			@include media-breakpoint-up(md) { 
				margin-top: 0;
			}
		}
	}

	&__text-content-heading {
		@extend %section-heading;
		margin-bottom: 16px;
	}

	&__text-content-cta {
		margin-top: 24px;
		width: auto !important;
	}
}
