%tag {
	padding: 4px 8px;
	border-radius: 14px;
	margin-right: 8px;
	margin-bottom: 8px;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.43;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: normal;
}
