//Fluid Typography - adapated from https://css-tricks.com/snippets/css/fluid-typography/
//the widths to shrink/grow between default to Bootstrap SM and LG
//Set min (mobile - bs-sm) and max (desktop bs-xl) font-sizes/line-heights:
//Used primarily in components here src\styles\base\design-system\_ds-typography.scss then extended to content blocks
$main-heading: (
	font-size-dt: 36px,
	font-size-mobile: 24px,
	line-height-dt: 43px,
	line-height-mobile: 32px
);
$main-heading--small: (
	font-size-dt: 32px,
	font-size-mobile: 24px,
	line-height-dt: 48px,
	line-height-mobile: 32px
);
$secondary-heading: (
	font-size-dt: 28px,
	font-size-mobile: 20px,
	line-height-dt: 38px,
	line-height-mobile: 28px
);
$section-heading: (
	font-size-dt: 20px,
	font-size-mobile: 18px,
	line-height-dt: 28px,
	line-height-mobile: 24px
);
$sub-heading: (
	font-size-dt: 16px,
	font-size-mobile: 16px,
	line-height-dt: 24px,
	line-height-mobile: 24px
);
$minor-heading: (
	font-size-dt: 16px,
	font-size-mobile: 16px,
	line-height-dt: 24px,
	line-height-mobile: 24px
);
$lead-text: (
	font-size-dt: 20px,
	font-size-mobile: 18px,
	line-height-dt: 28px,
	line-height-mobile: 24px
);
$body: (
	font-size-dt: 16px,
	font-size-mobile: 16px,
	line-height-dt: 24px,
	line-height-mobile: 24px
);
