$desktop-menu-breakpoint: 'lg';
$mobile-menu-breakpoint: 'md';

$big-card-padding-x: 40px;
$big-card-padding-y: 40px;
$big-card-border-radius:  16px;
//$spacing-unit: 6px;
//$spacing-s: 16px;
//$spacing-m: 24px;
