%user-type-widget {
	&__button {
		border-radius: 30px 10px 10px 30px;
		box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.08) !important; //prevent button shadow kick in
		background-color: $white;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 11px 20px;
		cursor: pointer;
		margin-top: 16px;
		width: 100%;
		height: 126px;
		order: unset;
		text-align: left;
		position: relative;
		&:hover,
		&:focus {
			text-decoration: underline;
		}

		@include media-breakpoint-up(sm) {
			width: 390px;
		}

		@include media-breakpoint-up(lg) {
			width: 336px;
		}

		&.active {
			border-radius: 10px 10px 0 0;
			box-shadow: none !important;
		}

		&.active,
		&.inactive {
			.top-section__user-type-image {
				border-bottom-left-radius: 0px;
			}
		}

		&.inactive {
			@include media-breakpoint-up(lg) {
				border-radius: 10px 10px 0 0;
				background-color: $pale-grey-three;
				box-shadow: none !important;
				&:before {
					content: "";
					width: inherit;
					height: inherit;
					position: absolute;
					left: auto;
					top: auto;
					border-radius: 10px 10px 0 0;
				}
			}
		}
	}

	&__image {
		width: 134px;
		position: absolute;
		bottom: -1px;
		left: -2px;
		border-bottom-left-radius: 16px;
	}

	&__label {
		font-size: 19px;
		font-weight: 800;
		color: $phn-blue;
		line-height: 1.47;
		margin-left: 140px;
		margin-bottom: 0;
	}

	&__links-wrap {
		border-radius: 0 0 10px 10px;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.1);

		@include media-breakpoint-up(lg) {
			order: 3;
			flex-direction: row;
			width: 100%;
			position: absolute;
			margin-top: 124px;
		}
	}

	&__link {
		width: 336px;
		border-radius: 0;
		background-color: $white;
		.btn__text {
			color: $black-light;
			font-weight: 600;
		}
		&:not(:last-child) {
			border-right: 1px solid $pale-grey-two;
		}
		@include media-breakpoint-up(md) {
			width: 350px;
		}
		@include media-breakpoint-up(lg) {
			width: calc(100% / 3);
		}
	}
}
