{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

{% extends '_layouts/bootstrap/base' %}

{% block css %}
	{{ parent() }}
{% endblock %}

{% block header %}
	<header class="header">
		{% block notification %}
			{% include "_elements/top-notification" ignore missing %}
		{% endblock %}
		{% block nav %}
			{% import '_macros' as macros %}
			<div class="header__main">
				{% include '_elements/header-identity' with { variation: 'desktop' } %}
				<div class="header__content">
					{% include '_elements/top-secondary-nav' ignore missing %}
					{% block mainNav %}
						{% include '_elements/top-main-nav' ignore missing %}
					{% endblock %}
				</div>
			</div>
		{% endblock %}
	</header>

	{% if generalSettings.alertEnabled is defined and generalSettings.alertEnabled %}
		<div class="header__spacer--alert"></div>
	{% endif %}

	<div class="header__spacer"></div>
{% endblock %}

{% block body %}
	{% block breadcrumb %}{% endblock %}
	{% block banner %}{% endblock %}

	{% block content %}

		<main id="main">
			{% block beforeContent %}{% endblock %}

			{% set mainContent = null %}
			{% set secondaryContent = null %}

			{% if entry is defined and entry and entry['body'] is defined and entry.body %}
				{% for childBlock in entry.body.level(1).all() %}
					{% if childBlock.type == 'mainContent' %}
						{% set mainContent = childBlock %}
					{% elseif childBlock.type == 'secondaryContent' %}
						{% set secondaryContent = childBlock %}
					{% endif %}
				{% endfor %}
			{% endif %}

			{% block boxedContainer %}
				<div class="body-boxed{{ mainContent ? '' : ' no-boxed-section' }}">
					<div class="body-boxed__container container">
						<div class="body-boxed__row">
							{% block boxed %}
								{% block beforeBoxed %}{% endblock %}
								<article class="neo-main-content">
									<div class="neo-main-content__content">
										{% block pageHeadingInsideBoxSection %}{% endblock %}
										{% if mainContent %}
											{% include "_content-blocks/partials/neo_child_block" with {blockSet: mainContent.children, scope: ['mainContent']} %}
										{% endif %}
										{% block afterBoxedArticle %}{% endblock %}
									</div>
								</article>
								{% block sidebar %}{% endblock %}
							{% endblock %}
						</div>
					</div>
				</div>
			{% endblock %}

			<div class="body-full-width neo-secondary-content">
				{% block beforeFullWidthBody %}{% endblock %}
				{% block fullWidthBody %}
					{% if secondaryContent %}
						{% include "_content-blocks/partials/neo_child_block" with {blockSet: secondaryContent.children, scope: ['secondaryContent']} %}
					{% endif %}
				{% endblock %}
				{% block fullWidthBodyBottom %}{% endblock %}
			</div>

			{% block afterContent %}{% endblock %}
		</main>
	{% endblock %}
{% endblock %}

{% block footer %}
	{% include '_elements/footer' ignore missing %}
{% endblock %}

{% block customJsFooter %}
	{{ parent() }}
	{# Our custom JS scripts... #}
{% endblock %}

{% block googleMapJsLibrary %}{% endblock %}
