{% header "X-Robots-Tag: noindex" %}

{% extends "_layouts/compact" %}

{% block content %}
	<main id="main">
		<article class="oops">
			<div class="oops__container">
				<div class="oops__section">
					<div class="oops__content">
						{% block errorContent %}{% endblock %}
						<a class="oops__btn btn" href="{{ url("/") }}">Home</a>
					</div>
				</div>
			</div>
		</article>
	</main>
{% endblock %}
