{# 
	Use this template for sections like news article, event details, thank you pages if they share similarity and have different layout than the general content pages.
#}

{% extends "_layouts/default" %}

{% block bodyClass %}{{ parent() }} post{% endblock %}

{% block banner %}{% endblock %}

{% block beforeBoxed %}

	<section class="before-boxed">
		{% block postHeadingSection %}{% endblock %}

		{% block featuredImageSection %}
			{% set featuredImage = entry.featuredImage.one() %}
			{% if featuredImage %}
				<div class="post__featured-image">
					{% include '_content-blocks/image' with {
						image: featuredImage
					} only %}
				</div>
			{% endif %}
		{% endblock %}
	</section>
{% endblock %}

{% set initGoogleMapjs %}
	function initGoogleMap() {
		if(typeof initMap !== "undefined")initMap();
		if(typeof initAutocomplete !== "undefined")initAutocomplete();
	}
{% endset %}
{# https://docs.craftcms.com/api/v3/craft-web-view.html#method-registerjs #}
{% do view.registerJs(initGoogleMapjs, 3) %}

{% block googleMapJsLibrary %}
	{#	force google map to load after endBody scripts, to wait initGoogleMap function to be defined #}
	<script async src="https://maps.googleapis.com/maps/api/js?key={{ craft.app.config.general.googleMapApiKey  }}&libraries=places&callback=initGoogleMap&v=weekly"></script>
{% endblock %}
