{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

{% extends '_layouts/default' %}

{% block css %}
	{{ parent() }}
{% endblock %}

{% block scriptAtBodyBeginning %}
	{% if craft.app.config.general.devMode %}
		{% do view.registerJsFile("https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js") %}
	{% else %}
		{% do view.registerJsFile("https://cdn.jsdelivr.net/npm/vue@2.6.11") %}
	{% endif %}
	{% do view.registerJsFile("https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js") %}
	{#    {% do view.registerJsFile("https://unpkg.com/axios/dist/axios.min.js") %}#}
{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block content %}
	<main id="main">
		{% block beforeContent %}{% endblock %}
		{% set mainContent = null %}

		{% block boxedContainer %}
			<div class="body-boxed">
				<div class="body-boxed__container container">
					<div class="body-boxed__row">
						{% block boxed %}
							{% block sidebar %}{% endblock %}
							<article class="neo-main-content">
								<div class="neo-main-content__content">
									{% block vueRenderingBoxed %}{% endblock %}
								</div>
							</article>
						{% endblock %}
					</div>
				</div>
			</div>
		{% endblock %}

		<div class="body-full-width neo-secondary-content">
			{% block vueRenderingFullWidth %}{% endblock %}
		</div>

		{% block afterContent %}{% endblock %}
	</main>
{% endblock %}


{% block footer %}
	{% include '_elements/footer' ignore missing %}
{% endblock %}

{% block customJsFooter %}
	{{ parent() }}
	{# Our custom JS scripts... #}
{% endblock %}
