@mixin align-container-all($property: 'padding', $side: 'left'){
	@each $grid-breakpoint, $grid-width in $grid-breakpoints {
		@if $grid-breakpoint != 'xs' {
			@each $width, $container-max-width in $container-max-widths{
				@media (min-width: #{$grid-width}){
					@if $width == $grid-breakpoint {
						#{$property}-#{$side}: calc((100vw - #{$container-max-width}) / 2);
					}
				}
			}
		}
	}
}

@mixin align-container($property: 'padding', $side: 'left', $breakpoint: 'xl'){
	@each $width, $container-max-width in $container-max-widths{
		@if $width == $breakpoint {
			#{$property}-#{$side}: calc((100vw - #{$container-max-width}) / 2);
		}
	}
}
