@mixin apply-number-list-content($max-loop: 25){
    @for $i from 1 through $max-loop{
        &:nth-child(#{$i}){
            .card__container{
                &:before{
                    content: '#{$i}';
                }
            }
        }
    }
}
