$recursive-color: (
    color-1: $lipstick-red,
    color-2: $purple-blue,
    color-3: $poo-brown,
    color-4: $cobalt,
    color-5: $denim,
    color-6: $warm-purple,
    color-7: $dark-green,
    color-8: $black-two,
    color-9: $black-two,
);

$recursive-bg-color: (
    bg-1: $faded-pink,
    bg-2: $light-purple-blue,
    bg-3: $light-khaki,
    bg-4: $duck-egg-blue,
    bg-5: $pale-grey-five,
    bg-6: $pale-mauve,
    bg-7: $light-green,
    bg-8: $pale-grey-two,
    bg-9: $white,
);

@mixin apply-recursive-color($max-loop: 24, $colors: $recursive-color, $bg-colors: $recursive-bg-color) {
    @for $i from 1 through $max-loop {
        @if ($i / 8 <= 1) {
            &:nth-child(#{$i}){
                color: map_get($recursive-color, "color-#{$i}");
                background-color: map_get($recursive-bg-color, "bg-#{$i}");
            }
        }@else{
            $current: $i % 8;
            @if ($current == 0){
                $current: 8;
            }
            &:nth-child(#{$i}){
                color: map_get($recursive-color, "color-#{$current}");
                background-color: map_get($recursive-bg-color, "bg-#{$current}");
            }
        }
    }
}

@mixin apply-tag-color-by-key($key: 1, $colors: $recursive-color, $bg-colors: $recursive-bg-color) {
    color: map_get($recursive-color, "color-#{$key}");
    background-color: map_get($recursive-bg-color, "bg-#{$key}");
}
