{# 
Settings:
- tag: HTML tag - 'a', 'button', or 'submit' (submit will be printed as <button type="submit">); if omitted, will be 'a' by default.
- icon: null, 'arrow', 'star', 'heart', 'search', 'envelop', 'lock', etc. Determine both the icon <img> tag class and the file path. Default is null, which means no icon.
- style: define the button style. if omitted, will be primary by default. Possible value: primary, secondary, link.
- link: URL for the href attribute
- id
- text: mandantory
- additionalClasses: e.g. 'class-1 class-2 class-3'
- additionalAttributes: e.g. 'data-location="Melbourne"'
#}
{% import '_macros' as macros %}

{% if text is defined and text|trim %}

	{% set type = style | default('primary') %}

	{# tag #}
	{% if tag is not defined or not tag %}
		{% if type == "callback" %}
			{% set tag = 'button' %}
		{% elseif link is defined or link %}
			{% set tag = 'a' %}
		{% else %}
			{% set tag = 'button' %}
		{% endif %}
	{% endif %}

	{% switch tag %}

		{% case "button" %}
		<button

		{% case "submit" %}
		<button type="submit"
		
		{% default %}
		<a

	{% endswitch %}

	{% set icon = icon is defined and icon ? icon : null %}
	{% set iconPosition = iconPosition??'left' %}
	{% if type == 'callback' %}
		{% set GTMClass = GTMClass | default("GTM-body-callback") %}
	{% else %}
		{% set GTMClass = GTMClass | default("") %}
	{% endif %}

	{# button class #}
	class="btn btn--{{ type }}{% if icon %} btn__icon-position-{{ iconPosition }}{% endif %}{% if additionalClasses is defined and additionalClasses %} {{ additionalClasses }}{% endif %} {{ GTMClass }}"

	{# link #}
	{% if link is defined and link and type != 'callback' %}
		href="{{ link }}"
	{% endif %}

	{# id #}
	{% if id is defined and id %}
		id="{{ id }}"
	{% endif %}

	{% if tag == 'a' and target is defined and target %}
		target="{{ target }}"
	{% endif %}

	{% if type == 'callback' %}
		data-toggle="modal"
		data-target="#request-a-callback"
		aria-controls="request-a-callback"
		aria-expanded="false"
	{% endif %}

	{# additional attributes #}
	{% if additionalAttributes is defined and additionalAttributes %}
		{{ additionalAttributes|raw }}
	{% endif %}
	>
		{# leadingText #}
		{% if leadingText is defined and leadingText | length != 0 %}
			<span class="btn__leading-text">{{ leadingText }}</span>
		{% endif %}

		{# icon #}
		{% if icon and iconPosition == 'left' %}
			{{ macros.svg({
				name: icon,
				alt: '',
				attributes: {
					'class': 'btn__icon-left'
				}
			}) }}
		{% elseif type == 'callback' %}
			{{ macros.svg({
				name: 'ic-callback',
				alt: '',
				attributes: {
					'class': 'btn__icon-left'
				}
			}) }}
		{% elseif type == 'phone' %}
			{{ macros.svg({
				name: 'ic-phone',
				alt: '',
				attributes: {
					'class': 'btn__icon-left',
				}
			}) }}
		{% endif %}

		{# text #}
		<span class="btn__text {{ GTMClass }}">{{ text|trim|raw }}</span>

		{# icon #}
		{% if icon and iconPosition == 'right' %}
			{{ macros.svg({
				name: icon,
				alt: '',
				attributes: {
					'class': 'btn__icon-right'
				}
			}) }}
		{% endif %}

	{# closure of tag #}
	{% switch tag %}

		{% case "button" %}
		</button>

		{% case "submit" %}
		</button>
		
		{% default %}
		</a>

	{% endswitch %}
{% endif %}
