{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * yump module for Craft CMS
 *
 * YumpModuleWidget Widget Settings
 *
 * @author    Yump
 * @copyright Copyright (c) 2019 Yump
 * @link      https://yump.com.au
 * @package   YumpModule
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("modules\\yumpmodule\\assetbundles\\yumpmodule\\YumpModuleAsset") %}

{{ forms.textField({
    label: 'Message',
    instructions: 'Enter a message here.',
    id: 'message',
    name: 'message',
    value: widget['message']})
}}
