{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * yump module for Craft CMS
 *
 * YumpModuleWidget Widget Body
 *
 * @author    Yump
 * @copyright Copyright (c) 2019 Yump
 * @link      https://yump.com.au
 * @package   YumpModule
 * @since     1.0.0
 */
#}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@yump-module/assetbundles/yumpmodulewidgetwidget/dist', true) ~ '/img/YumpModuleWidget-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>{{ message }}</p>
