{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (it's this file if the section template setting is left empty or set to 'index'). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{# if homepage has several unique fields #}
{# {% extends "_layouts/default" %} #}

{# if homepage's field settings are the same as general content page #}
{% extends "_layouts/default" %}
{% import '_macros' as macros %}

{% block boxedContainer %}{% endblock %}{# remove the empty space of this block#}

{% block beforeContent %}
	{% set featuredImage = entry.featuredImage %}
	<style>
		.top-section {
			{{macros.thumbnail( {imageField: featuredImage,imagerSettings: {width: 1919,height: 417},outputAsBackgroundImage: true})}}
		}
	</style>
    <div class="top-section">
		<div class="top-section__overlay"></div>
        <div class="top-section__container container">
			<div class="top-section__text">
				<h1 class="top-section__heading-text">
					{{ entry.richHeading|default(entry.title) }}
				</h1>
	            <div class="top-section__mobile-text">How can we help you today?</div>
			</div>
            <div class="top-section__bottom" role="navigation">
                {% set targetCount = 0 %} {# use to trigger javascript action #}
                {% set firstLink = true %} {# use to render links wrap div tag #}
                {% set userTypes = supportFinderSettings.userTypes.all() %}
                {% for userType in userTypes %}
                    {% if userType.type.handle == 'userType' %}
                        {% if loop.index != 1 and firstLink == false %}
                            </div>
                            <!-- top-section__user-type-links closing tag -->
                            {% set firstLink = true %}
                        {% endif %}
                        {% set targetCount = targetCount + 1 %}
                        {% set userTypeCategory = userType.userType.one() %}
                        {% set userTypeImage = userType.featuredImage.one() %}
                        {% set userTypeLabel = userType.label %}
                        {% if userTypeCategory != null %}
                            {% set userTypeImage = userTypeCategory.featuredImage.one() %}
                            {% set userTypeLabel = userTypeCategory.label %}
                        {% endif %}
                        <button class="btn top-section__user-type-card"
                                data-target="target-link-{{ targetCount }}"
                                data-action="global-user-type-card"
                                aria-haspopup="true"
                                aria-expanded="false"
                                aria-labelledby="top-section-label-{{ targetCount }}"
                                id="top-section-{{ targetCount }}"
                        >
                            {% if userTypeImage != null %}
                                <img class="top-section__user-type-image" src="{{ userTypeImage.url }}" alt="{{ userTypeImage.title }}" aria-hidden="true"/>
                            {% endif %}
                            <span class="top-section__user-type-label" id="top-section-label-{{ targetCount }}">{{ userTypeLabel }}</span>
                        </button>
                    {% elseif userType.type.handle == 'links' %}
                        {% if firstLink %}
                            <!-- top-section__user-type-links opening tag -->
                            <div class="top-section__user-type-links-wrap" aria-labelledby="top-section-{{ targetCount }}">
                            {% set firstLink = false %}
                        {% endif %}

                        {% set field = userType.cta %}
                        {% set link = craft.yump.generateValidUrl(field.url) %}
                        {% set text = field.text|trim %}
                        {% if link and text %}
                            {{ macros.button({
                                text: text,
                                link: link,
                                tag: 'a',
                                target: field.target,
                                style: 'card',
                                additionalClasses: 'top-section__user-type-link d-none',
                                additionalAttributes: 'data-parent="target-link-'~targetCount ~ '"'
                            }) }}
                        {% endif %}
                    {% endif %}

                    {# check if it's the last round of loop, if it is we close the div here #}
                    {% if loop.index == userTypes | length %}
                        </div>
                        <!-- top-section__user-type-links closing tag -->
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

	<div class="top-section-divider">
		<div class="container">
			<div class="divider divider--default divider--or"></div>
		</div>
	</div>

    <section class="search-section" aria-labelledby="search-section-title">
        <h2 class="sr-only" id="search-section-title">Site-wide search form</h2>
        <div class="container">
            <form class="search-section__card" role="search" action="{{ url("/search") }}">
                <label class="search-section__label" for="home-search-box">Looking for something in particular?</label>
				<div class="search-section__card-search-input">
					<input type="text" id="home-search-box" class="search-section__input-text" name="q" placeholder='Try searching "counselling"' required/>
					<button type="submit" class="btn search-section__submit">
					{{ macros.svg({
						name: 'ic-search-bmhs',
						alt: 'Search Button',
						additionalClasses: 'search-section__card-search-submit-icon'
					}) }}
				</div>
            </form>
        </div>
    </section>

	<div class="container">
		<div class="divider divider--default "></div>
	</div>
	
{% endblock %}

{% do view.registerJsFile("/dist/scripts/user-type.js") %}
