{% extends "_layouts/vue" %}

{% block bodyClass %}
    {{ parent() }} support-option-vue
{% endblock %}

{% block scriptAtBodyBeginning %}
    {{ parent() }}
    {% do view.registerJsFile("/dist/scripts/search.js") %}
{% endblock %}

{% block boxedContainer %}{% endblock %} {# remove content in boxed section #}

{% set query = craft.app.request.getParam('q') | trim %}

{% import "_macros" as macros %}
{% block vueRenderingFullWidth %}
    <div class="search-page" id="search-vue">

        {% set searchForm %}
            <div class="search-bar">
                <div class="search-bar__container">
                    <form class="search-bar__form" role="search" action="{{ url('/search') }}">
                        <div class="search-bar__left-column">
                            <div class="search-bar__input-text">Showing <span
                                        class="search-bar__result-count"
                                        :class="{'search-bar__result-count--show':!initialising.update }"
                                        v-html="filteredEntries.length"></span> results for:</div>
                            <label class="sr-only" for="search-bar-input">Search Site for:</label>
                        </div>
                        <div class="search-bar__right-column">
                            <input id="search-bar-input" class="search-bar__input" type="search" name="q" placeholder="{{query | default("I am searching for...")}}">
                            <button class="btn search-bar__btn" type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        {% endset %}

        <h1 class="sr-only">Search Page</h1>
        {% include "_elements/banner-simplify" with ({
            heading: null,
            image: null,
            classes: 'banner--simple banner--search banner--blue-swirl',
            summary: searchForm
        }) %}

        <div class="search-page-content">
            <div aria-live="polite" class="container search-page-content__container">
                <div class="row search-page-content__body">
                    <aside class="sidebar-search">
                        <div class="sidebar-search__inner">
                            <h3 class="sidebar-search__heading">Filter by</h3>
                            <div class="sidebar-search__controls custom-form">
                                <fieldset>
                                    <legend class="sr-only">Refine your search</legend>
                                    <div class="sidebar-search__input-container">
                                        <label for="search-refine-support">
                                        <input name="support"
                                               v-model="params.support"
                                               @click="params.page = null"
                                               type="checkbox"
                                               id="search-refine-support"
                                        >Support services</label>
                                    </div>
                                    <div class="sidebar-search__input-container">
                                        <label for="search-refine-resource">
                                        <input name="resource"
                                               v-model="params.resource"
                                               @click="params.page = null"
                                               type="checkbox"
                                               id="search-refine-resource"
                                        >Resources</label>
                                    </div>
                                    <div class="sidebar-search__input-container">
                                        <label for="refine-search-others">
                                        <input name="other"
                                               v-model="params.others"
                                               @click="params.page = null"
                                               type="checkbox"
                                               id="refine-search-others"
                                        >Other</label>
                                    </div>
{#                                    <button class="btn btn--primary btn--lg sidebar-search__button" id="search-button">Update</button>#}
                                </fieldset>
                            </div>
                        </div>
                    </aside>
                    <section class="search-results">

                        <h1 class="sr-only">Search results</h1>

                        <section class="loading" v-if="initialising.entries">
                            <h3 class="loading-text">Loading...</h3>
                        </section>

                        <template v-else>
                            <div class="cards cards--count-1">
                                <ul class="cards__rows search-results__results-lists"
                                    id="search-results-list"
                                >
                                    <li v-for="entry in paginateEntries">
                                        <a class="card card--whole-link card--style-arrow"
                                           :class="{
                                            'card--support-connect' : entry.type === 'support',
                                            'card--resource-library' : entry.type === 'resource',
                                            'card--other-entry' : entry.type === 'others',
                                            'card--show': !initialising.update,
                                            'card--style-external': entry.isExternal
                                       }"
                                           :href="entry.url"
                                           :target="entry.isExternal?'_blank':''"
                                           :rel="entry.isExternal?'noopener noreferrer':''"
                                        >
                                            <div class="card__container">
                                                <article class="card__body">
                                                    <div class="card__title-link">
                                                        <h2 class="card__title">
                                                            <span>{* entry.title *}</span>
                                                            <span class="card__icon card__icon--support"
                                                                  v-if="entry.type === 'support'"
                                                            >Support service</span>
                                                            <span class="card__icon card__icon--resource"
                                                                  v-if="entry.type === 'resource'"
                                                            >Resource</span>
                                                        </h2>
                                                        <div class="card__link">View</div>
                                                    </div>
                                                    <div class="card__desc">
                                                        <div class="card__desc-text" v-html="entry.summary"></div>
                                                    </div>
                                                    <div class="card__tag-container color-tags">
                                                        {% set tagGroup = [
                                                            {color:"blue",category:"deliveryMethod"},
                                                            {color:"green",category:"referralType"},
                                                            {color:"purple",category:"fees"},
                                                            {color:"red",category:"resourceCategory"},
                                                        ] %}
                                                        {% for tag in tagGroup %}
                                                            <div class="card__tag color-tags__tag color-tags__tag--{{ tag.color }}"
                                                                 v-if="entry.taggedCategories.{{ tag.category }}"
                                                                 v-for="(tag,index) in entry.taggedCategories.{{ tag.category }}"
                                                                 :key="'{{ tag.category }}-'+ entry.id +'-'+index"
                                                            >{* tag *}</div>
                                                        {% endfor %}
                                                    </div>
                                                </article>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <p v-if="filteredEntries.length === 0 && !initialising.entries && !initialising.update">No Support Options found based on the criteria. </p>
                            </div>
                            <div class="search-pagination" v-if="maxPage !== 1 && maxPage !== 0" aria-label="pagination" role="navigation">
                                <button class="btn search-pagination__pages" @click="prevPage" aria-label="Return to previous page">Prev</button>
                                <button class="btn search-pagination__pages" @click="switchPage(1)" v-if="parseInt(params.page) >= 2" aria-label="Go to page 1">{* 1 *}</button>
                                <span class="search-pagination__pages--dots" v-if="parseInt(params.page) >= 3" aria-hidden="true">...</span>
                                <button class="btn search-pagination__pages"
                                        :class="{'search-pagination__pages--current': page === parseInt(params.page)  || (page === 1 && params.page === null) }"
                                        @click="switchPage(page)"
                                        v-for="page in pageList"
                                        :data-value="page"
                                        :key="page"
                                        :aria-label="'Go to page '+ page"
                                >{* page *}</button>
                                <span class="search-pagination__pages--dots" v-if="parseInt(params.page) < (parseInt(maxPage) - 2) && (parseInt(maxPage) - 2 > 0)" aria-hidden="true">...</span>
                                <button class="btn search-pagination__pages" @click="switchPage(maxPage)" v-if="parseInt(params.page) < parseInt(maxPage) - 1 && parseInt(maxPage) - 2 > 0" :aria-label="'Go to Page' + maxPage">{* maxPage *}</button>
                                <button class="btn search-pagination__pages" @click="nextPage" aria-label="Go to next page">Next</button>
                            </div>
                        </template>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
