{% extends "_layouts/compact" %}

{% set referrer = craft.app.request.referrer %}
{% block content %}
    <main id="main">
        <article class="thank-you-pages">
            <div class="thank-you-pages__container">
                <div class="thank-you-pages__section">
                    <div class="thank-you-pages__content">
                        <h1>{{ entry.title }}</h1>
                        <div>{{ entry.summary | raw }}</div>
                        {% if referrer %}
                            <a class="btn btn--primary thank-you-pages__btn" href="{{ url(referrer) }}">Go Back</a>
                        {% endif %}
                        <a class="btn btn--primary thank-you-pages__btn" href="{{ url("/") }}">Home</a>
                    </div>
                </div>
            </div>
        </article>
    </main>
{% endblock %}
