{# Web font loader (if loading from Google / Typekit, etc). Reference: https://github.com/typekit/webfontloader #}
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script>
  WebFont.load({
    google: {
      families: ['Open Sans:400,400i,600,600i', 'Lato:700,700i']
    }
  });
</script>

<script src="/dist/scripts/main.js?20220131"></script>
