{% if tooltip %}
    <button class="btn support-results__form-input-tooltip"
            data-toggle="tooltip"
            data-placement="top"
            title="{{ tooltip }}">
        <img src="{{ url("assets/img/svg/ic-questionmark.svg") }}" aria-hidden="true" alt="Tooltip icon question mark"/>
    </button>
{% endif %}
