{% css formCss %}

{{ form.renderTag }}

{% js at endBody %}
    +$(function(){
        const form = document.querySelector('[data-id="{{ form.anchor }}"]');
        if(form) {
            $.ajax({
                // Specify the form handle in the GET parameters
                url: '/dynamic?form={{ form.handle }}',
                type: 'get',
                dataType: 'json',
                success: function (response) {
                    // Update the Form Hash
                    form.querySelector('input[name=formHash]').value = response.hash;

                    // Update the JS Honeypot (ONLY when JS Enhancement setting is ON)
{#                    const honeypot = response.honeypot;#}
{#                    const honeypotInput = form.querySelector('input[name^="freeform_form_handle"]');#}
{#                    honeypotInput.setAttribute('id', honeypot.name);#}
{#                    honeypotInput.setAttribute('name', honeypot.name);#}
{#                    honeypotInput.value = honeypot.hash;#}

                    // Locate and update the CSRF input
                    const csrf = response.csrf;
                    form.querySelector('input[name=' + csrf.name + ']').value = csrf.value;
                },
            });

            form.addEventListener("freeform-ready", function (event) {
                var freeform = event.target.freeform;

                freeform.setOption("errorClassBanner", ["errors"]);
                freeform.setOption("errorClassList", ["errors"]);
                freeform.setOption("errorClassField", ["input--has-error"]);
                freeform.setOption("successClassBanner", ["alert", "alert-success", "form-success"]);
            });

            // Find the form element
            // Do something on a successful ajax submit
            form.addEventListener('freeform-ajax-success', function(event) {
                // Redirect the user
                if(event.response.returnUrl && event.response.returnUrl !== "")
                    window.location.href = event.response.returnUrl;
            });

            form.addEventListener("freeform-stripe-styling", function (event) {
                event.detail.base = {
                    fontSize: "16px",
                    fontFamily: "-apple-system,BlinkMacSystemFont,\"Segoe UI\",Roboto,\"Helvetica Neue\",Arial,sans-serif,\"Apple Color Emoji\",\"Segoe UI Emoji\",\"Segoe UI Symbol\",\"Noto Color Emoji\"",
                }
            });
        }
    });
{% endjs %}

{% js at endBody %}
    const pageUrlInputs = $("input[name='currentPageUrl']");
    const updateInputsBasedOnUrl = () => {
        pageUrlInputs.each(function () {
            $(this).val(window.location.href);
        });
    };
    window.addEventListener('popstate', updateInputsBasedOnUrl);
    +$(function(){
        updateInputsBasedOnUrl();
    });
{% endjs %}

{% if form.pages|length > 1 %}
    <ul class="nav nav-tabs">
        {% for page in form.pages %}
            <li class="nav-item">
                <span class="nav-link{{ form.currentPage.index == page.index ? ' font-weight-bold active' : ' disabled' }}">{{ page.label }}</span>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{# does not need success message as we redirect user to correct page #}
{#{% if not form.ajaxEnabled and form.submittedSuccessfully %}#}
{#    <div class="success-message">#}
{#        {{ form.successMessage | t }}#}
{#    </div>#}
{#{% endif %}#}

{% if form.hasErrors %}
    <div class="errors">
        {{ form.errorMessage | t }}
        {% if form.errors|length %}
            <ul class="mb-0">
                {% for error in form.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endif %}

{% for row in form %}
    <div class="row freeform-row {{ form.customAttributes.rowClass }}">
        {% for field in row %}

            {% set width = (12 / (row|length)) %}

            {% set isCheckbox = field.type in ["checkbox","mailing_list"] %}

            {% set columnClass = "form-group" %}
            {% set columnClass = columnClass ~ form.customAttributes.columnClass %}
            {% set columnClass = columnClass ~ " col-sm-" ~ width ~ " col-12" %}

{#            {% set columnClass = "freeform-column " ~ form.customAttributes.columnClass %}#}
            {% if field.type == "submit" %}
                <div class="col-sm-12 text-recaptcha">This form is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service</a> apply.</div>
                {% set columnClass = columnClass ~ " submit-align-" ~ field.position %}
            {% endif %}

            {% if field.handle == "currentPageUrl" %}
                <input type="hidden" name="currentPageUrl">
            {% else %}
                {% set columnClass = columnClass ~ (field.type == "checkbox_group"? " freeform-checkbox-group":"") %}
                {% set columnClass = columnClass ~ (field.type in ["checkbox","mailing_list"]? " freeform-checkbox":"") %}
                <div class="{{ columnClass }}"{{ field.rulesHtmlData }}>
                {% set inputClass = field.type not in ["submit", "signature"] ? "freeform-input" : "" %}
                {% if field.hasErrors %}
                    {% set inputClass = inputClass ~ " input--has-error" %}
                {% endif %}

                {% if field.type in ["checkbox", "mailing_list"] %}

                    <label class="{{ "freeform-label"
                    ~ (field.inputOnly ? " freeform-input-only-label" : "")
                    ~ (field.required ? " freeform-required" : "") }}"
                           for="{{ form.hash ~ "-" ~ field.handle }}"
                           aria-label="{{ field.label }}"
                    ><input type="checkbox"
                            class="{{ inputClass }}"
                            name="{{ field.handle }}"
                            id="{{ form.hash ~ "-" ~ field.handle }}"
                            {{ field.checked?"checked":"" }}>
                        <span aria-hidden="true">{{ field.label }}</span>
                        {% if field.instructions %}{% include "_freeform/_tooltip.twig" with {tooltip: field.instructions } %}{% endif %}
                    </label>
                    {{ field.renderErrors({ errorClass: "invalid-feedback" }) }}

                {% elseif field.type == "checkbox_group" %}

                    <span class="freeform-label">{{ field.label }}{% if field.instructions %}{% include "_freeform/_tooltip.twig" with {tooltip: field.instructions } %}{% endif %}</span>
                    {{ field.renderInstructions() }}
                    {% for index, option in field.options %}
                        <label for="{{ field.idAttribute }}-{{ index }}" aria-label="{{ field.label }}">
                            <input class="freeform-input{{ field.hasErrors ? " is-invalid" }}"
                                   name="{{ field.handle }}[]"
                                   type="checkbox"
                                   id="{{ field.idAttribute }}-{{ index }}"
                                   value="{{ option.value }}"
                                    {{ option.checked ? "checked" : "" }}
                            ><span aria-hidden="true">{{ option.label|t|raw }}</span>
                        </label>
                    {% endfor %}
                    {{ field.renderErrors({errorClass: "invalid-feedback"}) }}

                {% else %}

                    {{ field.render({
                        class: inputClass,
                        labelClass: "freeform-label"
                                    ~ (field.inputOnly ? " freeform-input-only-label" : "")
                                    ~ (field.required ? " freeform-required" : ""),
                        id: form.hash ~ "-" ~ field.handle,
                        instructionsClass: "freeform-instructions",
                    }) }}

                {% endif %}
                {# FOR FREEFORM PAYMENTS #}
                {% if field.layoutRows is defined %}
                    {% for layoutRow in field.layoutRows %}
                        <div class="freeform-row {{ form.customAttributes.rowClass }}">
                            {% for layoutField in layoutRow %}
                                <div class="{{ columnClass }}">
                                    {{ layoutField.render({
                                        class: inputClass,
                                        labelClass: "freeform-label"
                                                    ~ (layoutField.inputOnly ? " freeform-input-only-label" : "")
                                                    ~ (layoutField.required ? " freeform-required" : ""),
                                        id: form.hash ~ "-" ~ field.handle,
                                        instructionsClass: "freeform-instructions",
                                    }) }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}

{{ form.renderClosingTag }}
