{% if block.accordions and block.accordions.count() %}

    {% include '_elements/section-head' with {
        obj: block,
        objHandle: 'accordion',
    } only %}

    {% set accordionId = block.id ? block.id : craft.yump.getMicrotimeAsId() %}
    
    <div class="accordion" id="accordion-{{ accordionId }}">
        {% for accordionEntry in block.accordions.all() %}
            {% set accordionEntryId = accordionEntry.id ? accordionEntry.id : craft.yump.getMicrotimeAsId() %}
            <div class="accordion__item">
                <button class="btn accordion__header"
                     id="accordion-header-{{ accordionId }}-{{ accordionEntryId }}"
                     data-toggle="collapse"
                     data-target="#accordion-body-{{ accordionId }}-{{ accordionEntryId }}"
                     aria-expanded="false"
                     aria-labelledby="heading-{{ accordionId }}-{{ accordionEntryId }}"
                     aria-controls="accordion-body-{{ accordionId }}-{{ accordionEntryId }}">
                    <span class="accordion__header-icons" aria-hidden="true">
                        <span class="accordion__header-plus"></span>
                        <span class="accordion__header-minus"></span>
                    </span>
                    <span class="accordion__header-content"
                          id="heading-{{ accordionId }}-{{ accordionEntryId }}"
                          role="heading"
                          aria-level="3">{{ accordionEntry.accordionHeading|trim }}</span>
                </button>
                <div id="accordion-body-{{ accordionId }}-{{ accordionEntryId }}"
                     class="collapse accordion__body"
                     data-parent="#accordion-{{ accordionId }}">
                    <div class="accordion__body-content">{{ accordionEntry.accordionContent }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
