{# The Destination for an Anchor Link #}
{% if block.label %}
    <div class="anchor-link-destination">
        <h2 id="{{craft.yump.createJsFriendlySlug(block.label)}}" class="anchor-link-destination__heading">{{block.label}}</h2>
    </div>
{% endif %}
