{% import '_macros' as macros %}
{% set fileToDownload = block.resources.one() %}
{% set defaultDownloadIcon = {
	url: "/assets/img/svg/ic-download.svg",
	title: "Download illustration icon"
} %}
{% if fileToDownload %}
	<div class="download-box" data-action="click-child-button" aria-label="download section for file {{ fileToDownload.title }}">
		{% set illustrationImage = block.image.one() %}
		{% if illustrationImage == null %}
			{% set illustrationImage = {
				url: "/assets/img/svg/ic-download.svg",
				title: "Download illustration icon"
			} %}
		{% endif %}
		{% set illustrationImage = {
			url: "/assets/img/svg/ic-download.svg",
			title: "Download illustration icon"
		} %}
		<div class="download-box__image-container download-box__image-container--desktop">
			<img class="download-box__image" src="{{ illustrationImage.url }}" alt="{{ illustrationImage. title }}" aria-label="{{ fileToDownload.title }} file illustration image"/>
		</div>
		<div class="download-box__file-container">
			<div class="download-box__file-name">
				{{ fileToDownload.title }}
			</div>
			<div class="download-box__file-info-container">
				<span class="download-box__file-size">
					{{ (fileToDownload.size / 1024) | number_format(1, '.', ',') }}
					KB
				</span>
				<div class="download-box__file-type">
					[<span class="download-box__file-type-text">{{ fileToDownload.kind }}</span>
					file]
				</div>
			</div>
		</div>
		{# Don't add .btn__text here because GTM manager can't get file name if it's triggered by click .btn__text #}
		<a class="btn btn--primary GTM-body-download" href="{{ fileToDownload.getUrl() }}" data-action="child-button" target="_blank" download>{{ block.label|default('Download') }}</a>
		<div class="download-box__image-container download-box__image-container--mobile">
			<img class="download-box__image" src="{{ illustrationImage.url }}" alt="{{ illustrationImage. title }}" aria-label="{{ fileToDownload.title }} file illustration image"/>
		</div>
	</div>
{% endif %}
