{% set form = block.form ?? null %}
{% if form %}
	<div class="custom-form-wrapper">
		<div class="container">
			{% include '_elements/section-head' with {
				obj: block,
				objHandle: 'form',
			} only %}

			<div class="custom-form">
				
				{{ craft.freeform.form(form.handle).render() }}

			</div>
		</div>
	</div> 
	
{% endif %}
