{% import '_macros' as macros %}
{# don't allow only 1 column #}
{% set twoColumnsValid = block.children.count() == 2  %}

{% if twoColumnsValid %}
	<div class="container">
		<div class="help-block help-block--{{ block.blockBackgroundColour.value }}">
			{% set heading = block.heading ?? null %}
			{% if heading %}
				<h2 class="help-block__heading">{{heading}}</h2>
			{% endif %}
			<div class="help-block__main-content">
				{% for column in block.children.all() %}
					{% set columnType = column.type.handle %}
					<article class="help-block__text-wrap">
						{% if column.heading %}
							<h2 class="help-block__text-content-heading">{{ column.heading }}</h2>
						{% endif %}
						{% if column.summary %}
							<div class="help-block__text-content-summary">{{ column.summary | raw }}</div>
						{% endif %}
						{% set buttons = column.getChildren().all() %}
						{% if buttons|length > 0 %}
							<div class="help-block__text-content-ctas">
								{% for button in buttons %}
									{{ macros.cta({
									tag: 'a',
									field: button.cta,
									style: button.buttonStyle,
									leadingText: button.label,
									additionalClasses: 'btn--primary help-block__text-content-cta',
								}) }}
								{% endfor %}
							</div>
						{% endif %}
					</article>
				{% endfor %}
			</div>
		</div>
	</div>
{% endif %}
