{# See src\styles\content-blocks\_image-slider.scss #}
{% import '_macros' as macros %}

{% set images = block.images.all() %}
{% set imageCount = images | length %}
{% if imageCount %}
    <div class="container images-container {% if imageCount > 1 %}slider{% endif %}">
        {% if imageCount > 1 %}
            <div class="image-slider-wrap slider__container">
        {% else %}
            <div class="single-image-wrap">
        {% endif %}
            {% set imageBlocks = block.images.all() %}
            {% for image in imageBlocks %}
                {% set imagerSettings = {
                    width: image.width != 0?image.width:1200,
                } %}

                {% set imageCaption = image.imageCaption ?? null %}

                <div class="slider-item {% if imageCaption %} slider-item__has-caption{% endif %}">
                    {{ macros.thumbnail({
                        image: image,
                        imagerSettings: imagerSettings,
                        altTag: image.title is defined and image.title ? image.title : 'image',
                        additionalClasses: 'slider-item__image'
                    }) }}
                    {% if imageCaption and imageCaption != image.title %}
                        <div class="slider-item__caption" aria-label="image caption for slide image named {{ image.title | default("slide image") }}">
                            {{ imageCaption }}
                        </div>
                    {% endif %}
                    {% if imageCount > 1 %}
                        <div class="slider-item__count" aria-label="Slide {{ loop.index }} of {{ imageCount }}" aria-hidden="true">
                            {{ loop.index }}/{{ imageCount }}
                        </div>
                    {% endif %}
                </div>

            {% endfor %}
            </div>

            <div class="slider__captions--container" data-action="caption-container"></div>
        </div>
{% endif %}
