{% set topBottomPaddingClass = craft.yump.getSectionTopBottomPaddingClass(block) %}
{% set sectionLayout = craft.yump.getSectionContainerClass(block) %}

<section class="main-content{% if topBottomPaddingClass %} {{ topBottomPaddingClass }}{% endif %}">
    <div class="main-content__inner{% if sectionLayout %} {{ sectionLayout }}{% endif %}">
        <div class="section__body">
            {% for childBlock in block.children %}
                {% include '_content-blocks/' ~ childBlock.type ignore missing with {'block': childBlock} %}
            {% endfor %}
        </div>
    </div>
</section>
