{% import '_macros' as macros %}
{% set map = block.mapBlock.one() %}
<section class="map-block">
    <div class="map-block__information {% if map.map.address | length == 0 %}map-block__information--full-width{% endif %}">
        <h3 class="map-block__heading">{{ map.heading | default("Contact Information") }}</h3>
{#        {% if map.heading %}#}
{#            <h3 class="map-block__heading">{{ map.heading | default("Contact Information") }}</h3>#}
{#        {% else %}#}
{#            <h3 class="sr-only">Contact information and map section</h3>#}
{#        {% endif %}#}
        {% if map.phone %}
            <p class="map-block__phone">
                <b>Phone</b><br/>
                <a href="tel:{{ craft.yump.sanitisePhoneNumber(map.phone) }}" target="_blank" rel="noopener noreferrer">{{ map.phone }}</a>
            </p>
        {% endif %}

        {% if map.email %}
            <p class="map-block__email">
                <b>Email</b><br/>s
                <a class="map-block__email" href="mailto:{{ map.email }}" target="_blank" rel="noopener noreferrer">{{ map.email }}</a>
            </p>
        {% endif %}

        {% if map.website.link %}
            {% set field = map.website %}
            {% set link = craft.yump.generateValidUrl(field.url) %}
            {% set text = field.text|trim %}
            {% if link %}
                {% set id = link["customBlockId"] is defined?link.customBlockId:null %}
                {% set additionalClasses = "" %}
                {% if link["customWrapperClass"] is defined %}
                    {% set additionalClasses = additionalClasses ~ link.customWrapperClass %}
                {% endif %}

                {% if field.type == 'tel' %}
                    {# Trim out any brackets or spaces that an admin puts in a telephone number #}
                    {% set link = link|replace({' ':'', '(':'', ')':''}) %}
                {% endif %}
                <p class="map-block__cta">
                    <b>Website</b><br/>
                    {{ macros.button({
                        tag: 'a',
                        link: link,
                        text: text|default("Visit our website"),
                        target: field.target,
                        style: "link",
                        id: id|default(null),
                        additionalClasses: additionalClasses|default(null),
                        GTMClass: "GTM-referral"
                    }) }}
                </p>
            {% endif %}
        {% endif %}
    </div>
    {% if map.map.address | length %}
        <div class="map-block__map" id="map-{{ map.id }}"></div>
    {% endif %}
</section>

{# force it to load after endbody #}

