<script>
{% set autoCompleteJs %}
    let autocomplete, lat, lng, postcode;
    const autoCompleteElement = document.querySelector('#autocomplete');
    function initAutocomplete(){
        autocomplete = new google.maps.places.Autocomplete(
            autoCompleteElement,
            {
                types: ["(regions)"],
                // types: ["address"],
                componentRestrictions: {'country': ['au']},
                fields: ["address_components","geometry"],
            }
        );

        autocomplete.addListener("place_changed", () => {
            const place = autocomplete.getPlace();
            postcode = "";
            if(typeof place !== "undefined"){
                for (const component of place.address_components) {
                    const componentType = component.types[0];
                    if(componentType === "postal_code") {
                        postcode = `${component.long_name}${postcode}`;
                        autoCompleteElement.value = postcode;
                    }
                }
            }

            if(typeof place != "undefined" && typeof place.geometry != "undefined"){
                lat = place.geometry.location.lat();
                lng = place.geometry.location.lng();
            }
        });
    }
{% endset %}
</script>
{% import "_macros" as macros %}
{% do view.registerJs(autoCompleteJs, 3) %}
{% do view.registerJsFile("/dist/scripts/postcode-checker.js") %}
<div class="card card--style-form card--postcode-validating-card card--postcode-validating-card-active" id="postcode-card-1">
    <div class="card__container">
        <div class="card__body">
            <div class="card__title-link">
                <h3 class="card__title">Postcode {{ macros.svg({
                        name: 'ic-question-tooltip',
                        alt: 'Question tooltip',
                        attributes: {
                            "class":"card__postcode-tooltip-icon",
                            "aria-hidden":'"true"',
                            "tabindex":'"-1"'
                        }
                    }) }}</h3>
            </div>
            <div class="card__desc custom-form">
                <label class="sr-only" for="autocomplete">Postcode</label>
                <input type="text"
                       name="postcode-input"
                       id="autocomplete"
                       placeholder="Your postcode or suburb"
                       class="form-input card__input"
                />
            </div>
			<div class="card__desc-text">Please note: this information will be kept private and confidential and will only be used to help identify support services that are closest to you.</div>
            <button class="btn btn--primary card__link" data-action="validate-postcode">Next</button>
        </div>
    </div>
</div>

<div class="card card--style-form card--postcode-validating-card" id="postcode-card-2">
    <div class="card__container">
        <div class="card__body">
            <div class="card__title-link">
                <h3 class="card__title">Postcode <span id="covered-postcode"></span> is covered. Find mental health and drugs or alcohol support services nearby</h3>
            </div>
{#            <div class="card__body">#}
{#                Click the button below to find supports that you need.#}
{#            </div>#}
            <form action="/find-support" method="get">
                <input type="hidden" id="valid-postcode" name="postcode">
                <input type="hidden" id="valid-lat" name="lat">
                <input type="hidden" id="valid-lng" name="lng">
                <button class="btn btn--primary card__link" type="submit">Next</button>
            </form>
        </div>
    </div>
</div>

{% import "_macros" as macros %}
{#card--postcode-validating-card-active#}
<div class="card card--style-form card--postcode-validating-card" id="postcode-card-3">
    <div class="card__container">
        <div class="card__body">
            <div class="card__title-link">
                <h3 class="card__title">Postcode <span id="outside-postcode"></span> is not in the WVPHN catchment. </h3>
            </div>
            <div class="card__body">
                If you need help accessing or navigating mental health and drugs or alcohol services in your region, please visit health.gov.au to find your local PHN or call the team on 9800 1071 and we can help navigate you to your local PHN catchment.
            </div>
            <div class="card__button-group">
                <a href="https://www1.health.gov.au/internet/main/publishing.nsf/Content/PHN-Locator" class="btn btn--primary">Take me to health.gov.au</a>
                {{ macros.button({
                    tag: 'button',
                    style: 'link',
					additionalClasses: 'btn--text-dark',
                    text: 'Try a different postcode',
                    icon: 'ic-red-arrow-circle',
                    iconPosition: 'left',
                    additionalAttributes: 'data-action="restart-postcode"',
                }) }}
            </div>
        </div>
    </div>
</div>
