{% set quote = block.quote.one() %}
{% import '_macros' as macros %}
{% if quote %}
    <section class="block-quote" aria-labelledby="{{ quote.id }}-body">
        <figure aria-hidden="true">
            {{
                macros.svg({
                    name: 'ic-quote',
                    alt: 'Image of a quote icon',
                    attributes: { 'class' : 'block-quote__icon' }
                })
            }}
        </figure>
        <aside class="block-quote__author-block" aria-label="Quote author">
			<p class="block-quote__body" id="{{ quote.id }}-body">
				{{ quote.quote | raw }}
			</p>
            <div class="block-quote__author">
                {{ quote.author }}
            </div>
            <div class="block-quote__author-title">
                {{ quote.authorTitle }}
            </div>
        </aside>
    </section>
{% endif %}
