{# The following elements / blocks sort of extend rich media, so they share similar structure / css classes. Make sure you manually 'sync' the changes when necessary.
	1. Banner (_elements/banner)
#}

{% import '_macros' as macros %}

{# Check if we have both textColumn and mediaColumn. The CMS is configured to have maximum two blocks (columns), so we won't have situation that having two textColumn or mediaColumn #}
{% set twoColumnsValid = false %}
{% set image = null %}
{# don't allow only 1 column #}
{% if block.children.count() == 2 %}
	{% set hasMediaColumn = false %}
	{% set hasTextColumn = false %}
	{% for column in block.children.all() %}
		{% set columnType = column.type.handle %}
		{% if columnType == 'image' %}
			{% set image = column.image.one() %}
			{% set hasMediaColumn = image?true:false %}
		{% elseif columnType == 'textWithButtons' %}
			{% set hasTextColumn = true %}
		{% endif %}
	{% endfor %}
	{% set twoColumnsValid = hasTextColumn and hasMediaColumn %}
{% endif %}

{% if twoColumnsValid %}
	<div class="rich-media rich-media--with-image rich-media--{{ block.blockBackgroundColour.value }}">
		{% for column in block.children.all() %}
			{% set columnType = column.type.handle %}
			{% if columnType == 'image' %}
				{# Not currently available to Admin but we will leave it here in case they want this in the future #}
				<figure class="rich-media__media-wrap rich-media__media-wrap--image">
					{{ macros.thumbnail({
						image: image,
						imagerSettings: {
							width: image.imageWidth?image.imageWidth:"350",
						},
						outputAsBackgroundImage: false,
						additionalClasses: 'rich-media__image'
					}) }}
					{% if image.imageCaption %}
						<figurecaption class="sr-only" aria-label="Image caption for {{ image.title }}">{{ image.imageCaption }}</figurecaption>
					{% endif %}
				</figure>
			{% elseif columnType == 'textWithButtons' %}
				<article class="rich-media__text-wrap">
					{% if column.heading %}
						<h2 class="rich-media__text-content-heading">{{ column.heading }}</h2>
					{% endif %}
					{% if column.summary %}
						<div class="rich-media__text-content-summary">{{ column.summary | raw }}</div>
					{% endif %}
					{% set buttons = column.getChildren().all() %}
					{% if buttons|length > 0 %}
						<div class="rich-media__text-content-ctas">
							{% for button in buttons %}
								{{ macros.cta({
									tag: 'a',
									field: button.cta,
									style: button.buttonStyle,
									leadingText: button.label,
									additionalClasses: 'rich-media__text-content-cta',
								}) }}
							{% endfor %}
						</div>
					{% endif %}
				</article>
			{% endif %}
		{% endfor %}
	</div>
{% endif %}
