{% import '_macros' as macros %}

{% if block.getChildren() and block.getChildren().count() %}
    {% set accordionId = block.id ? block.id : craft.yump.getMicrotimeAsId() %}
    <div class="accordion rich-accordion" id="accordion-{{ accordionId }}">
        {% for accordionEntry in block.getChildren().all() %}
            {% set accordionEntryId = accordionEntry.id ? accordionEntry.id : craft.yump.getMicrotimeAsId() %}
            <article class="rich-accordion__item">
                {% for childBlock in accordionEntry.getChildren().all() %}
                    {% if childBlock.type == "richAccordionHead" %}
                        {% set headerBlock = childBlock %}
                        {% set headerImage = headerBlock.featuredImage.one() %}
                        <button class="btn rich-accordion__header {{ headerBlock.heading | length or headerImage !=null?"rich-accordion__header-thicker" }}"
                                id="accordion-header-{{ accordionId }}-{{ accordionEntryId }}"
                                data-toggle="collapse"
                                data-target="#accordion-body-{{ accordionId }}-{{ accordionEntryId }}"
                                aria-expanded="false"
                                aria-controls="accordion-body-{{ accordionId }}-{{ accordionEntryId }}">
                            <span class="rich-accordion__header-icons">
                                <span class="rich-accordion__header-plus"></span>
                                <span class="rich-accordion__header-minus"></span>
                            </span>
                            <span class="rich-accordion__header-container">
                                <span class="rich-accordion__header-text">
                                    {% if headerBlock.heading | length %}
                                        <span class="rich-accordion__header-heading" role="heading" aria-level="3">{{ headerBlock.heading }}</span>
                                    {% endif %}
                                    <span class="rich-accordion__header-content">{{ headerBlock.label }}</span>
                                </span>
                                {% if headerImage != null %}
                                    <figure class="rich-accordion__header-image-container">
                                        <img class="rich-accordion__header-image" src="{{ headerImage.url }}" alt="{{ headerImage.title }}"/>
                                        {% if headerImage.imageCaption %}
                                            <figcaption class="sr-only" aria-label="Image caption for {{ headerImage.title }}">{{ headerImage.imageCaption }}</figcaption>
                                        {% endif %}
                                    </figure>
                                {% endif %}
                            </span>
                        </button>
                    {% endif %}
                {% endfor %}
                <div id="accordion-body-{{ accordionId }}-{{ accordionEntryId }}" class="collapse rich-accordion__body" aria-labelledby="accordion-header-{{ accordionId }}-{{ accordionEntryId }}" data-parent="#accordion-{{ accordionId }}">
                    <div class="rich-accordion__body-container">
                        {% for childBlock in accordionEntry.getChildren().all() %}
                            {% if childBlock.type == "richAccordionBody" %}
                                {% set bodyBlocks = childBlock.richAccordionBody.all() %}
                                {% for bodyBlock in bodyBlocks %}
                                    {% if bodyBlock.type == "onlyText" %}
                                        <div class="rich-accordion__body-content">{{ bodyBlock.summary | raw }}</div>
                                    {% elseif bodyBlock.type == "cards" %}
                                        <div class="rich-accordion__body-content-card{{ bodyBlocks|length>1 ?"s":"" }}">
                                            {% set bodyIcon = bodyBlock.icon.one() %}
                                            {% if bodyIcon != null %}
                                                <div class="rich-accordion__body-content-card{{ bodyBlocks|length>1 ?"s":"" }}__icon-wrapper">
                                                    <img class="rich-accordion__body-content-card__icon" src="{{ bodyIcon.url }}" alt="{{ bodyIcon.title }}"/>
                                                </div>
                                            {% endif %}
                                            <div class="rich-accordion__body-content-card{{ bodyBlocks|length>1 ?"s":"" }}__heading">{{ bodyBlock.heading }}</div>
                                            <div class="rich-accordion__body-content-card{{ bodyBlocks|length>1 ?"s":"" }}__link">
                                                {{ macros.cta({
                                                    tag: 'a',
                                                    field: bodyBlock.firstLink,
                                                    style: bodyBlock.firstLinkStyle
                                                }) }}
                                            </div>
                                            <div class="rich-accordion__body-content-card{{ bodyBlocks|length>1 ?"s":"" }}__link">
                                                {{ macros.cta({
                                                    tag: 'a',
                                                    field: bodyBlock.secondLink,
                                                    style: bodyBlock.secondLinkStyle
                                                }) }}
                                            </div>
                                            <div class="rich-accordion__body-content-card{{ bodyBlocks|length>1 ?"s":"" }}__summary">{{ bodyBlock.summary | raw }}</div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </article>
        {% endfor %}
    </div>
{% endif %}
