{% import "_macros" as macros %}
<article class="text-with-buttons">
    {% if block.heading %}
        <h3 class="text-with-buttons__heading">{{ block.heading }}</h3>
    {% endif %}
    {% if block.summary %}
        <div class="text-with-buttons__summary">{{ block.summary | raw }}</div>
    {% endif %}
    {% for button in block.getChildren().all() %}
        {{ macros.cta({
            tag: 'a',
            field: button.cta,
            style: button.buttonStyle,
            leadingText: button.label,
            additionalClasses: 'text-with-buttons__text-content-cta',
        }) }}
    {% endfor %}
</article>
