// avoid having nested blocks with paddings on left and right
.container {
	.container {
		padding-left: 0;
		padding-right: 0;
	}
}

body.compact-page .body-boxed__row {
	display: block !important;
}

body {
	.body-boxed {
		&__row {
			@include make-row();
			justify-content: space-between;
			//justify-content: center;

			.sidebar {
				@include make-col-ready();
				@include fluid-property('padding-top', $gap-big-px, $gap-big-mobile-px);

				@include media-breakpoint-up(lg) {
					@include make-col(3);
					//@include fluid-property('padding-right', 48);
					padding-bottom: 48px;
					padding-left: 48px;
				}
				@include media-breakpoint-up(xl) {
					//max-width: 327px;
				}
				// more space when neo-boxed shows alongside a sidebar
				+ .neo-main-content {
					//@include media-breakpoint-up(lg) {
						//@include fluid-property('padding-left', 72);
					//}
				}

				&--right {
					@include make-col(12);
					@include media-breakpoint-up(xl){
						@include make-col(3);
					}
					// overflow: hidden; position sticky doesnt work with this - not sure what its for though
					padding: 0;
					order: 2; //main content has order: 2; put sidebar after it.
				}

				&--left {
					@include make-col(12);
					@include media-breakpoint-up(xl){
						@include make-col(3);
					}
					order: 1; //main content has order: 2; put sidebar after it.
				}

				&--resource-detail {
					@include fluid-property('padding-top', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
				}
			}
			.neo-main-content {
				@include make-col-ready();
				@include media-breakpoint-up(lg) {
					@include make-col(9);
				}
			}
		}

		position: relative;
		&__split-background {
			display: none;

			@include media-breakpoint-up(lg) {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				display: flex;
				&--sidebar {
					flex: 0 0 32.5%;
					max-width: 32.5%;
				}
			}
		}
	}
}

body:not(.support-option-vue){
	.body-boxed {
		&__row {
			.sidebar {
				@include make-col(12);
				@include media-breakpoint-up(lg){
					@include make-col(3);
				}
			}
			.neo-main-content {
				@include make-col(12);
				@include make-col-ready();
				@include media-breakpoint-up(lg) {
					@include make-col(9);
				}
			}
		}
	}
}

.has-sidebar {
	.body-boxed {
		position: relative;
		&__layout-background-if-sidebar {
			display: none;

			@include media-breakpoint-up(lg) {
		        position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				width: 50%;
				display: flex;
		    }

		}
		.neo-main-content {
			//@include media-breakpoint-up(lg) {
		    //    padding-left: 32px;
		    //}
		    //@include media-breakpoint-up(xl) {
		    //    padding-left: 72px;
		    //}
		}
	}
}

/**
 * Define all matrix-block level margin top / bottom here instead of doing it in individual block's scss. The reason is we need the .matrix-block:first-child at the end of this code block which overwrite the individual ones' margin-top if they are the first of siblings.
 *
 * Also, keep the margin on block level, instead of the child elements nested inside it.
 */
.matrix-block {
	max-width: 100%;
	//margin-bottom: 1.6rem;
	@include fluid-property('margin-bottom', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
	.rich-text {
		& > *:last-child {
			margin-bottom: 0;
		}
	}
	.btn {
		&.btn--danger,&.btn--primary,&.btn--secondary{
			@extend %button--lg;
		}
	}
	&--dividingLine {
		@include fluid-property('margin-top', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
		@include fluid-property('margin-bottom', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
	}
	&--buttons {
		@include fluid-property('margin-top', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
		@include fluid-property('margin-bottom', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
	}
	&--imageCards {
		@include fluid-property('margin-top', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
		@include fluid-property('margin-bottom', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
	}
	&--textOnlyCards {
		@include fluid-property('margin-top', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
		@include fluid-property('margin-bottom', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
	}
	&--accordions {
		@include fluid-property('margin-top', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
		@include fluid-property('margin-bottom', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
	}
	&--images {
		@include fluid-property('margin-top', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
		@include fluid-property('margin-bottom', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
	}
	&--video {
		@include fluid-property('margin-top', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
		@include fluid-property('margin-bottom', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
	}
	&--twoColumns {
		@include fluid-property('margin-top', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
		@include fluid-property('margin-bottom', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
	}
	&--form {
		@include fluid-property('margin-top', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
		@include fluid-property('margin-bottom', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
	}
	&--profile {
		@include fluid-property('margin-top', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
		@include fluid-property('margin-bottom', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
	}

	&--postcodeValidatingCard{
	    overflow-y: hidden;
	}

	&--anchorPoint{
		margin-bottom: 16px;
		& + *{
			margin-top: 0;
		}
	}

	&--no-gap-top {
		margin-top: 0;
	}

	&--no-gap-bottom {
		margin-bottom: 0;
	}

	/** Leave this at the end of this code block, because we need it to overwrite the individual ones' margin-top */
	&:first-child {
		&:not(.matrix-block--scope-reusableSnippets) {
			margin-top: 0;
		}
	}
}

.neo-main-content {
	//@include fluid-property('padding-top', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
	//@include fluid-property('padding-bottom', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
	@include fluid-property('padding-top', $gap-big-px, $gap-big-mobile-px);
	@include fluid-property('padding-bottom', $gap-big-px, $gap-big-mobile-px);
	&__content {
		& > .matrix-block--testimonial {
			&:not(:first-child) {
				@include fluid-property('margin-top', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
				@include fluid-property('margin-bottom', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
			}
		}
		& > .matrix-block {
			&:last-child {
				margin-bottom: 0; // disable margin-bottom of the last child under article content, because article content has its own padding bottom
			}
		}

		.matrix-block--extra-margin-bottom {
			margin-bottom: 100px!important;
		}
	}
}

.neo-secondary-content {
	 & > .matrix-block:last-child {
		 &:not(.matrix-block--with-background):not(.matrix-block--reusableSnippetsSecondary):not(.matrix-block--extra-margin-bottom) {
			 margin-bottom: 125px;
		 }
	}

	.matrix-block--with-background {
		margin-bottom: 0;
		margin-top: 0;
		& > * {
			@include fluid-property('padding-top', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
		}
		&:last-child > * {
			margin-top: 0;
			margin-bottom: -50px;
			padding-bottom: 125px;
		}
	}

	.matrix-block--reusableSnippetsSecondary:last-child {
		.matrix-block--with-background {
			margin-bottom: -50px;
			margin-top: 0;
			padding-bottom: 0;
			& > * {
				@include fluid-property('padding-top', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
				margin-top: 0;
				//margin-bottom: -50px;
				padding-bottom: 125px;
			}
		}
	}

	.matrix-block--extra-margin-bottom {
		margin-bottom: 200px;
	}
}

.body-boxed {
	&.no-boxed-section {
		& + .body-full-width {
			& > .matrix-block {
				&:first-child {
					&:not(.matrix-block--with-background) {
						margin-top: 0;
						padding-top: 0;
					}
				}
				&.matrix-block--dividingLine {
					display: none;
				}
			}
		}
	}
}
