$accordion-border-color: $grey;

.accordion {
	@extend %body-text;
	$self: &;
	&__item {
		border: 0;
		display: block;
		border-radius: 0;
		border-bottom: 1px solid $light-white;
		padding: 0;
	}

	&__header-icons {
		margin-right: 32px;
		min-width: 24px;
		height: 24px;
		position: relative;
		display: block;
		//display: flex;
	}

	&__header-plus {
		text-align: center;
		transform-origin: center;
		display: block;

		&:before {
			content: image-url('svg/ic-expand.svg');
			background-color: $yellow;
			color: $black;
			border-radius: 50%;
			display: flex;
			width: 24px;
			height: 24px;
			justify-content: center;
			align-items: center;
			font-size: 20px;
			font-weight: bold;
			line-height: 24px;
			position: absolute;
			left: auto;
			top: auto;
		}
	}

	&__header-minus {
		text-align: center;
		transform-origin: center;
		display: block;
		//width: 24px;
		//position: relative;

		&:before {
			content: image-url('svg/ic-collapse.svg');
			background-color: $yellow;
			//color: $black;
			border-radius: 50%;
			width: 24px;
			height: 24px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 32px;
			position: absolute;
		}
		//&:after {
		//	content: '';
		//	background-color: $black;
		//	position: absolute;
		//	left: auto;
		//	top: auto;
		//	margin-top: 11px;
		//	margin-left: -5.5px;
		//	height: 2px;
		//	width: 11px;
		//}
	}

	&__header {
		padding: 13px 18px 13px 0;
		display: flex;
		width: 100%;
		border-bottom: 0;
		cursor: pointer;

		#{$self}__header-minus {
			//&:before, &:after{display: none;}
			transform: scale(0);
			transition: 0.5s;
		}

		#{$self}__header-plus {
			transform: scale(1);
			transition: 0.5s;
		}

		&[aria-expanded="true"] {
			#{$self}__header-content {
				border-bottom: 0;
				border-bottom-right-radius: 0;
				color: $phn-blue;
			}
			#{$self}__header-minus {
				transform: scale(1);
				transition: 0.5s;
			}

			#{$self}__header-plus {
				transform: scale(0);
				transition: 0.5s;
			}
		}

		&:hover, &:focus {
			#{$self}__header-content {text-decoration: underline;}
			#{$self}__header-plus {&:before{background-color: darken($yellow, 10%)}}
			#{$self}__header-minus {&:before{background-color: darken($yellow, 10%)}}
		}
	}

	&__header-content {
		@extend %body-text;
		color: $phn-blue;
		font-weight: $font-weight-bold;
		flex-basis: 100%;
		display: block;
		margin-bottom: 0;
		text-align: left;
	}
	
	&__body-content {
		padding: 24px 16px 24px 40px;
		background-color: $pale-grey;
		& > * {
			&:last-child {
				margin-bottom: 0;
			}
		}
		img {
			max-width: 100%;
		}
	}
}
