// When this block is not the first block, give it more margin 
// this is to visually separate it from the top section as its a menu for the rest of the page
.matrix-block + .matrix-block-anchorLinks {
	margin-top: 8rem;
}

.matrix-block-anchorPoint + .matrix-block {
	@include fluid-property("margin-top", 24);
}

.anchor-link-destination {
	&__heading {
		@extend %section-heading;
		margin-bottom: 16px;
	}
}

.anchor-links {
	$self: &;

	
	&__heading {
		@extend %section-heading;
		margin-bottom: 24px;
	}
	
	&__list {
		list-style: none;
		margin-left: 0;
		padding: 0;
	}

	&__list-item {
	}
	
	&__link {
		@extend %body-text;
		background-color: transparent;
		border: none;
		padding: 0;
		color: $phn-blue;
		line-height: 1.5;
		display: block;
		padding: 17px 23px;
		border-left: 4px solid $soap;
		height: 100%;
		
		&:visited,
		&:active,
		&:focus {
			font-weight: bold;
			background: none;
			border: 0;
			outline: none;
			border-radius: 0;
			box-shadow: none;
			border-left: 4px solid $yellow;
		}
		&:hover, &:focus {
			text-decoration: underline;
			font-weight: bold;
			border-left: 4px solid $yellow;
		}
	}
	&__link-icon {
		display: none;
	}
}
