/* 
* @type This is a the main banner in the header
* @related src\styles\content-blocks\_rich-media.scss
* @extends banner from src\styles\base\design-system\_ds-banner.scss.
*/

$banner-background-color: $secondary;
$banner-text-color: $white;
$banner-bottom-border: $grey;

$simple-banner-container-max-widths: (
	sm: 540px,
	md: 600px,
	lg: 600px,
	xl: 600px,
);

.banner {
	@extend %banner;
	background: $phn-blue;
	color: $white;
	//min-height: 264px;
	$self: &;


	&__row {
		@extend %banner__row;
		min-height: 264px;
		@include media-breakpoint-up(xxl){
			min-height: 380px;
		}
		@include media-breakpoint-up(xxxl){
			min-height: 540px;
		}
	}

	&__media {
		&--image {
			@extend %banner__media--image;
		}
		&--image-decoration {
			&--desktop {
				max-height: 100%;
				height: 100%;
				width: auto;
				position: absolute;
				left: -2px;
				top: 0;
				display: none;
				@include media-breakpoint-up(lg){
					display: block;
				}
			}
			&--mobile {
				max-width: 100%;
				width: 100%;
				height: auto;
				position: absolute;
				bottom: -2px;
				left: 0;
				display: block;
				@include media-breakpoint-up(lg){
					display: none;
				}
			}
		}
	}

	&__text-content-wrap {
		@extend %banner__text-content-wrap;
	}

	&__column {
		@extend %banner__column;
		&--media {
			@extend %banner__column--media;
		}
		&--text {
			@extend %banner__column--text;
		}
		&--full-width {
			@extend %banner__column--full-width;
			#{$self}__text-content-wrap {
				@include make-container-max-widths;
			}
			#{$self}__text-content-heading {
				@extend %main-heading;
				margin-bottom: 0;
			}
		}
	}

	&__text-content-heading {
		@extend %main-heading--small;
		line-height: 1.33;
		strong {
			color: $yellow;
		}
		@include media-breakpoint-up(xxl){
			font-size: 4rem;
		}
		@include media-breakpoint-up(xxxl){
			font-size: 4.8rem;
		}
	}

	&__link-back {
		color: $white;
		font-weight: normal;
		margin-top: 14px;
		&:hover,
		&:focus {
			text-decoration: none;
			color: $white;
		}
	}

	&--with-media {
		background: $banner-background-color;
		color: $banner-text-color;
		#{$self}__column--media {
			order: 0;
			@include media-breakpoint-up(lg) {
				order: 2;
			}
		}
		#{$self}__column--text {
			@include align-container-all('padding', 'left');
			position: relative;
			&::after {
				@include media-breakpoint-up($desktop-menu-breakpoint) {
					content: "";
					display: block;
					width: 167px;
					height: 100%;
					position: absolute;
					bottom: 0;
					right: -166px;
					background-size: cover;
					background-repeat: no-repeat;
					//background-image: url(/assets/img/svg/banner-bottom-swirl-light-blue.svg);
					background-image: url(/assets/img/svg/swirl-left-side-swirl.svg);
				}
			}
		}
	}

	&--no-media {
		display: flex;
		align-items: center;
		#{$self}__row {
			width: 100%;
		}
		#{$self}__column {
			@include make-container;
			@include make-container-max-widths;
			justify-content: flex-start;
		}
	}

	&--search {
		#{$self}__column--text {
			width: 100%;
		}
		#{$self}__text-content-wrap {
			width: 100%;
		}
	}

	&--blue-swirl {
		&::after {
			background-image: url(/assets/img/svg/banner-bottom-swirl-light-blue.svg);
		}
	}
}
