.block-quote{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
	background-color: $pale-grey;
	padding: 39px;
	border-radius: 8px;

    @include media-breakpoint-up(lg){
        flex-wrap: nowrap;
    }

    &__icon {
        margin-top: 40px;
        @include fluid-property('margin-bottom', 24, 24);
        content: image-url('svg/ic-quote.svg');
        margin-right: 24px;
        @include media-breakpoint-up(sm){
            margin-top: 5px;
        }
    }
    &__body {
        @extend %lead-text;
        @include fluid-property('margin-bottom', 24, 24);
        font-style: italic;
        line-height: 1.4;
        min-width: 40px;
        &::after{
            content: '"';
            display: inline;
            @extend %lead-text;
        }
    }

    &__author-block{
        min-width: 286px; // 262px + 14px
    }

    &__author {
        @extend %body-text;
        color: $denim;
    }

    &__author-title {
        font-size: 14px;
        line-height: 1.4;
        padding: 6px 14px;
    }
}
