.card {
    $self: &;
    //margin-bottom: $card-gutter-width-vertical;
    @include apply-transition-delay();
    &:focus, &:focus-visible {
        outline-offset: 1px;
        outline: 1px auto $primary;
    }

    &__container {
        display: flex;
        flex-direction: column;
        min-width: 0; // See https://github.com/twbs/bootstrap/pull/22740#issuecomment-305868106
        width: 100%;
        height: 100%;
        word-wrap: break-word;
        background-clip: border-box;
        background-color: $card-bg;
        border: $card-border-width solid $card-border-color;
        padding: $card-spacer-x $card-spacer-y;

        @include border-radius($card-border-radius);
        @include media-breakpoint-up(sm) {
            & > .card__link {
                flex: 0 0 auto;
            }
        }
    }

    &__body {
        flex: 1 1 auto;
        // Workaround for the image size bug in IE
        // See: https://github.com/twbs/bootstrap/pull/28855
        min-height: 1px;
        //padding: $card-spacer-x;
        //max-width: calc(100% - 200px);
        color: $card-color;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    &__title-link {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 16px;
    }

    &__image-wrap {
        overflow: hidden;
        img {
            transition: all 0.3s;
            &:hover, &:focus {
                transform: scale(1.1);
            }
        }
    }

    &__desc-text{
        p{
            margin-bottom: 0;
        }
        .lead-text {
            @extend %body-text;
        }
    }

    &__title,
    &__title a {
        @extend %secondary-heading;
        color: $phn-blue;
    }

    &__title a{
        &:hover, &:focus {
            @extend %secondary-heading;
            text-decoration: underline;
        }
    }

    &:not(.card--whole-link):not(.card--style-arrow) {
        &__title-link {
            @extend %secondary-heading;
            &:hover, &:focus {
                &__title {
                    @extend %secondary-heading;
                    text-decoration: underline;
                }
            }
        }
    }

    &__tag-container {
        display: flex;
        flex-wrap: wrap;
        padding-top: 18px;
        margin-top: auto;
        margin-bottom: -8px;
    }

    &__tag {
		@extend %tag;

        &--blue {
            @include apply-tag-color-by-key(4);
        }

        &--green {
            @include apply-tag-color-by-key(5);
        }

        &--purple {
            @include apply-tag-color-by-key(2);
        }

        &--red {
            @include apply-tag-color-by-key(1);
        }
    }

    &--whole-link {
        display: flex;
        &:hover, &:focus {
            text-decoration: none;
        }
        #{$self}__container{
            transition: 0.3s;
            &:hover, &:focus {
                *:not(#{$self}__title){
                    text-decoration: none;
                }
                transition: 0.3s;
                //box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.08);
                box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.1);
                //box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
            }
        }
    }

    //card - default
    &--style-default {
        #{$self}__container {
            background-color: $pale-grey;
            padding: 30px 20px;
            @include media-breakpoint-up(sm){
                padding: 40px;
            }
        }

        #{$self}__body {
            @extend %body-text;
            align-items: flex-start;
        }

        #{$self}__link{
            @extend .btn;
            @extend %button--primary;
            @extend %button--lg;
            @extend %body-text;
            border-radius: 12px;
            margin-top: 24px;
            width: 100%;
            @include media-breakpoint-up(sm){
                width: auto;
            }
        }
    }

    //card-style-highlight
    &--style-highlight {
        #{$self}__container {
            background-color: $pale-peach;
            padding: 30px 20px;
            @include media-breakpoint-up(sm){
                padding: 40px;
            }
        }

        #{$self}__body {
            @extend %body-text;
            align-items: flex-start;
        }

        #{$self}__link {
            @extend .btn;
            @extend %button--secondary;
            @extend %button--lg;
            @extend %body-text;
            border-radius: 12px;
            margin-top: 24px;
            width: 100%;
            @include media-breakpoint-up(sm){
                width: auto;
            }
        }
    }

    &--style-form {
		#{$self}__container {
			border-radius: 4px;
            padding: 40px 60px;
            @include media-breakpoint-down(sm){
                padding: 18px;
            }
        }

        #{$self}__body {
            @extend %body-text;
            align-items: flex-start;
        }

        #{$self}__desc-text {
            font-size: 14px;
            line-height: 1.43;
            color: $black-two;
			margin-top: 24px;
        }

        #{$self}__input {
            @extend %body-text;
            width: 301px!important;
            height: 40px!important;
            padding: 8px 10px!important;
            border-radius: 5px;
        }

        #{$self}__postcode-tooltip-icon{
            height: 20px;
            width: 20px;
            margin-top: -4px;
        }

        #{$self}__title {
            @extend %section-heading;
            color: $black-light;
            margin-bottom: 8px;
        }

        #{$self}__title-link {
            margin-bottom: 0;
        }

        #{$self}__link {
            @extend .btn;
            @extend %button--primary;
            @extend %button--lg;
            @extend %body-text;
            margin-top: 24px;
            width: 100%;
            @include media-breakpoint-up(sm){
                width: auto;
            }
        }

        #{$self}__button-group {
            margin-top: 40px;
			.btn {
				margin-bottom: 20px;
			}
            &>*:not(:last-child){
                margin-right: 30px;
            }
        }
    }

    //card-style-arrow
    &--style-arrow, &--style-arrow-white {
        position: relative;
        //#{$self}__container{}
        &:hover, &:focus {
            text-decoration: none;
        }

		#{$self}__body {
            max-width: 745px;
		}

        #{$self}__title,
        #{$self}__title a {
            @extend %section-heading;
            max-width: calc(100% - 88px); // minus the link-view length and a 30px gap
            margin-bottom: 0;
            span:not(:last-child){
                margin-right: 15px;
            }
        }

        #{$self}__desc-text {
            //max-height: 96px;//4 lines height
            overflow-y: auto;
        }

		#{$self}__tag-container {
			padding-right: 74px;
		}

        #{$self}__link {
            @extend %sub-heading;
            //margin-left: 30px;
            //min-width: 74px;
            color: $phn-blue;
			position: absolute;
			right: 28px;
			top: 28px;
            &:after{
                content: image-url('svg/ic-chevron-right.svg');
                margin-left: 8px;
            }
        }
    }

	&--style-arrow-white {
		#{$self}__container {
			background-color: $white;
            padding: 32px 28px;
            border-radius: 8px;
		}
		#{$self}__title {
			color: $phn-blue;
		}
		#{$self}__link {
			position: static;
			margin-left: 0;
			margin-top: auto;
			color: $phn-blue;
		}
		#{$self}__desc-text {
			margin-bottom: 20px;
		}
	}

    &--style-external {
        #{$self}__link {
            @extend %sub-heading;
            margin-left: 30px;
            min-width: 74px;
            color: $black-two;
            &:after{
                content: image-url('svg/open-new-tab-danger.svg');
                margin-left: 8px;
            }
        }
    }

    //the blow used in search, resource landing page, support finder, support results page
    &--support-connect {
        opacity: 0;
        //transition: opacity .5s ease;
        //@include apply-transition-delay();
		
        #{$self}__container{
			box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.08);
            background: $white;
        }
    }

    &--resource-library {
        opacity: 0;
        //transition: opacity .5s ease;
        //@include apply-transition-delay();

        #{$self}__container{
            background: $white;
        }
    }

    &--other-entry {
        opacity: 0;
        //transition: opacity .5s ease;
        //@include apply-transition-delay();

        #{$self}__container {
            background: white;
            transition: 0.3s;

            &:hover, &:focus {
                transition: 0.3s;
                box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.08);
                //box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
            }
        }
    }

	&--postcode-validating-card {
		display: none;
		pointer-events: none;
		max-width: 100%;
		overflow-x: hidden;
		top: auto;
		z-index: 0;
		
		#{$self}__container {
			background-color: $pale-grey;
		}

		#{$self}__button-group {
			display: flex;
			flex-wrap: wrap;
		}

		&.card--postcode-validating-card-active {
			position: relative;
			pointer-events: auto;
			display: block;
			z-index: 1;
		}
	}

    &__icon {
        display: inline-block;
        font-size: 14px;
        line-height: 1.43;
        font-weight: bold;
        color: $black-two;
        vertical-align: baseline;

        &--support {
            &:before {
                content: image-url('svg/ic-heart.svg');
                width: 12px;
                height: 12px;
                margin-right: 7px;
            }
        }

        &--resource {
            &:before {
                content: image-url('svg/ic-resource.svg');
                width: 12px;
                height: 12px;
                margin-right: 7px;
            }
        }
    }

    &--show {
        opacity: 1;
        @include apply-transition-delay();
    }
}
