.download-box {
	$self: &;
	width: 100%;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	background-color: $pale-grey;
	padding: 16px 16px 102px;
	border-radius: 8px;
	position: relative;
	cursor: pointer;
	//padding-bottom: 102px;

	@include media-breakpoint-up(sm) {
		height: 9.4rem;
		padding: 0;
		align-items: center;
		flex-direction: row;
	}

	&__image-container {
		display: flex;
		align-items: center;
		padding: 24px;
		background-color: $marine-blue;

		&--desktop {
			display: none;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				height: 100%;
				display: block;
				width: 13px;
				background-image: url(/assets/img/svg/swirl-download.svg);
				background-size: contain;
				background-repeat: no-repeat;
				right: -11px;
				top: 0;
			}
			@include media-breakpoint-up(sm){
				display: block;
			}
		}

		&--mobile {
			display: flex;
			position: absolute;
			justify-content: center;
			align-items: center;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 102px;
			&::before {
				content: '';
				position: absolute;
				bottom: 102px;
				width: 100%;
				left: 0;
				height: 8vw;
				background-image: image-url("svg/swirl-up-mobile-blue.svg");
				background-size: cover;
				background-repeat: no-repeat;
			}

			@include media-breakpoint-up(sm){
				display: none;
			}
		}
	}

	&__image {
		height: 48px;
		width: auto;
		overflow: scroll;
	}

	&__file-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 16px;
		text-align: left;
		@include media-breakpoint-up(sm) {
			margin-top: 0;
			padding: 0 40px;
		}
	}

	&__file-name {
		@extend %section-heading;
		color: $phn-blue;
		margin-bottom: 0;
	}

	&__file-info-container {
		font-size: 14px;
		line-height: 1.43;
		color: $text-dark;
		display: inline-block;
	}

	&__file-size {
		display: inline;
	}

	&__file-type {
		display: inline;
	}

	&__file-type-text {
		text-transform: uppercase;
	}

	.btn.btn--primary {
		width: 100%;
		margin-top: 16px;
		@include media-breakpoint-up(sm) {
			width: auto;
			margin-top: 0;
			margin-left: auto;
			margin-right: 24px;
		}
	}

	&:hover,
	&:focus {
		#{$self}__file-name {
			text-decoration: underline;
		}
		.btn {
			border-color: $dark-primary;
			&:before {
				width: 100%;
			}
			@include media-breakpoint-up(sm){
				width: auto;
			}
		}
	}
}
