.custom-form-wrapper{
    padding: 30px 18px;
    background-color: $pale-grey;
    border-radius: 4px;

    @include media-breakpoint-up(sm){
        padding: 40px;
    }

    .custom-form {
        label {
            font-size: 14px;
            line-height: 1.14;
        }
        button[type="submit"]{
            padding: 12px 32px;
            margin-top: 15px;
        }
    }
}


