.help-block {
	@extend %help-block;
	&__main-content {
		@extend %help-block__main-content;
	}

	&__heading {
		@extend %help-block__heading;
	}

	&__text-wrap {
		@extend %help-block__text-wrap;
	}

	&__text-content-heading {
		@extend %help-block__text-content-heading;
	}

	&__text-content-cta {
		@extend %help-block__text-content-cta;
	}
}
