.matrix-block--image {
    .img-fluid {
        border-radius: 8px;
    }
    figure {
        margin-bottom: 0;
    }
}

.matrix-block--images {
    // make caption always appear on second line
    .img-fluid {
        display: block;
    }
}
