// see templates\_content-blocks\images.html
@import "slick.scss";

$slider-dot-color: $white;
$image-caption-text-color: $text-dark;

.image-slider-wrap {
	position: absolute;
	visibility: hidden;

	// @include make-row();
	.img-fluid {
		width: 100%;
	}
}
.slider {
	.slider-item__caption {
		display: none; // we handle slider caption different using javascript
	}
	.slider-item__count {
		display: none;
	}
}

.slider__captions--container {
	display: none;
}

.slider {
	.slick-arrow {
	    //opacity: 0.8;
	    cursor: pointer;
	    position: absolute;
	    top: 50%;
		transform: translateY(-50%);
		overflow-x: hidden;
		height: 90px;
		width: 45px;
		padding: unset!important;
		display: flex;
		border-radius: unset!important;
		border: none;

		&:before{
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			height: 90px;
			width: 90px;
			background-color: $yellow;
			border-radius: 50%;
		}

		img {
			width: 10px;
			height: 15px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	.slick-arrow:hover,.slick-arrow:focus {
		&:before {
			background-color: $yellow;
		}
	}
	.slick-arrow:focus {
	  outline: 0;
	  box-shadow: 0 0 0 5px #09F;
	}
	.slick-arrow:active {
	  opacity: 1;
	}
	.arrow-previous {
		left: 0;
		z-index: 1;
		-webkit-appearance: none;
		&:before {
			left: -45px;
		}
		img {
			transform: rotate(-180deg) translateY(50%);
			left: 18px;
		}
	}
	.arrow-next {
		right: 0;
		-webkit-appearance: none;
		img {
			right: 18px;
		}
	}

	.slick-dots {
		position: absolute;
		bottom: 16px;
		left: 50%;
		transform: translateX(-50%);

		list-style-type: none;
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		li {
			button {
				display: none;
				-webkit-appearance: none;
				box-shadow: none;
				border: none;
			}

			width: 4px;
			height: 4px;
			border-radius: 50%;
			background-color: $slider-dot-color;
			&:not(:last-child) {
				margin-right: 8px;
			}
			&.slick-active {
				width: 12px;
				height: 12px;
			}
		}
	}
}

.slider-item__caption {
	margin-top: 16px;
	font-size: 14px;
	line-height: 1.43;
	display: inline-block;
	color: $image-caption-text-color;
	padding-left: 14px;
	border-left: 2px solid $yellow;
}
.slider__captions--container{
	display: flex;
	justify-content: space-between;
	margin-top: 16px;
	align-items: center;

	.slider-item__caption {
		margin-top: 0;
		display: inline-block;
	}

	.slider-item__count {
		font-size: 16px;
		line-height: 1.5;
		display: inline-block;
		color: $image-caption-text-color;
		min-width: 50px;
		text-align: right;
	}
}

