/*Our Impact - Stats Section*/
.impact-track {
	background: url(../img/impact/terrain.jpg);
	background-size: cover;
}
.our-impact {
	padding: 80px 0;
	background: white;
	text-align: center;
	text-transform: uppercase;
	color: #555555;
}
.our-impact h3 {
	font-size: 26px;
	font-weight: bold;
	text-transform: none;
	margin-bottom: 8px;
}
.our-impact h4 {
	text-transform: none;
	color: #555555;
	font-weight: normal;
	margin-bottom: 35px;
}
.our-impact span.impact-number {
	font-size: 60px;
	font-weight: bold;
	display: block;
	/*margin-bottom: 10px;*/
	line-height: 1;
}
.our-impact .container .row > div {
	border-left: 1px solid #d7d7d7;
}
.our-impact .container .row > div:first-of-type {
	border: none;
}
