.map-block {
    background-color: $pale-grey;
    padding: 18px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.43;
    @include media-breakpoint-up(sm){
        padding: 32px;
    }

    &__information {
        width: 100%;
        @include media-breakpoint-up(md){
            width: 33%;
            padding-right: 24px;
            &--full-width {
                width: 100%;
            }
        }
    }

    &__heading {
        @extend %section-heading;
        margin-bottom: 24px;
        font-size: 20px;
        line-height: 28px;
    }

    &__address-summary {
        position: relative;
        padding-left: 25px;
        margin-bottom: 24px;
        &:before {
            content: image-url('svg/ic-location.svg');
            position: absolute;
            left: 0;
        }
    }

    &__opening-hours-wrapper {
        position: relative;
        width: 100%;
        padding-left: 25px;
        margin-bottom: 24px;
        &:before {
            content: image-url('svg/ic-time.svg');
            position: absolute;
            left: 0;
            top: 5px;
        }
    }

    &__opening-hours {
        width: 100%;
        margin-top: -4px;
        td {
            padding: 4px;
        }
    }

    &__phone {
        display: block;
        position: relative;
        padding-left: 25px;
        margin-bottom: 24px;
        &:before {
            content: image-url('svg/ic-phone-blue.svg');
            position: absolute;
            left: 0;
        }
    }
    &__email {
        display: block;
        position: relative;
        padding-left: 25px;
        margin-bottom: 24px;
        &:before {
            content: image-url('svg/ic-email.svg');
            position: absolute;
            left: 0;
        }
    }
    &__cta {
        position: relative;
        padding: 0 0 0 25px!important;
        //color: $phn-blue;
		font-weight: $font-weight-normal;
        &:hover, &:focus {
            .btn__text {
                text-decoration: none;
            }
        }
        .btn__text {
            b{
                text-decoration: none;
            }
            font-size: 14px;
            line-height: 1.43;
            color: $phn-blue;
            text-decoration: underline;
            text-align: left;
            &:first-letter {
                text-transform: none;
            }
        }
        &:before {
            content: image-url('svg/ic-online.svg');
            position: absolute;
            left: 0;
        }
    }
    &__map {
        margin-top: 24px;
        width: 100%;
        height: 343px;
        @include media-breakpoint-up(md){
            margin-top: 0;
            width: 67%;
            min-height: 460px;
            height: auto;
        }
    }
}
