
.number-list-cards.cards{
    .cards__rows{
        grid-template-columns: 1fr!important;
        list-style: none;
        padding: unset;
    }
    .card{
        background-color: $light-white;
        //margin-bottom: 16px;
        @include apply-number-list-content(25);
        &__container{
            padding: 20px;
            flex-direction: column;
            align-items: flex-start;
            @include media-breakpoint-up(sm){
                padding: 35px 45px;
                flex-direction: row;
                align-items: center;
            }
            &:before{
                @extend %body-text;
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 28px;
                line-height: 80px;
                min-width: 80px;
                margin-right: 40px;
                height: 80px;
                border-radius: 50%;
                border: solid 3px $marine-blue;
                color: $marine-blue;
            }
        }

        &__body {
            @include fluid-property('margin-top', 0, 20);
        }

        &__title-link {
            margin-bottom: 0;
        }

        &__title {
            @extend %section-heading;
            max-width: 100%;
            margin-bottom: 16px;
        }
        &__desc-text {
            @extend %body-text;
        }
    }
}
