.rich-text {
	// use .container class instead
	img {
		max-width: 100% !important;
		height: auto !important;
	}
	h1, h2, h3, h4 {
		font-weight: 700;
	}
	p {
		@extend %body-text;
		margin-bottom: 20px;
		&.lead-text{
			@extend %lead-text;
		}
	}

	h1 {
		@extend %main-heading;
	}
	h2 {
		@extend %secondary-heading;
	}
	h3 {
		@extend %sub-heading;
	}
	h4 {
		@extend %minor-heading;
	}
	ul{
		padding-left: 16px;
	}
	li{
		@extend %body-text;
		margin-bottom: 16px;
	}
	a[href] {
		@extend %button--link;
		color: $phn-blue;
		text-decoration: underline;
		.btn__text {
			color: $phn-blue;
		}

		&:hover, &:focus {
			color: $phn-blue;
			text-decoration: none;
		}
	}
	figcaption {
		margin-top: 16px;
		font-size: 14px;
		line-height: 1.43;
		display: inline-block;
		color: $text-dark;
		padding-left: 14px;
		border-left: 2px solid $text-primary;
	}
}

// If a Rich Text block is put under Secondary Content, its width will be restricted to be 2/3 of the maximum width above certain screen sizes
.neo-secondary-content {
	& > .matrix-block--richText,
	.matrix-block--reusableSnippetsSecondary > .matrix-block--richText {
		.rich-text {
			@include media-breakpoint-up(lg) {
			    max-width: 66.6666%;
			}
		}
	}
}
