.rich-accordion {
    @extend %body-text;
    $self: &;
    $accordion: '.accordion';

    &__item {
        @extend #{$accordion}__item;
        &:last-child {
            border-bottom: none;
        }
    }

    &__header {
        @extend #{$accordion}__header;
        font-weight: normal;
        text-align: left;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }

    &__header-thicker {
        padding-top: 40px;
        padding-bottom: 30px;
    }

    &__header-icons {
        @extend #{$accordion}__header-icons;
    }

    &__header-plus {
        @extend #{$accordion}__header-plus;
    }

    &__header-minus {
        @extend #{$accordion}__header-minus;
    }

    &__header-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        @include media-breakpoint-up(sm){
            justify-content: space-between;
            flex-wrap: nowrap;
        }
    }

    &__header-content {
        @extend %body-text;
        margin-bottom: 0;
        &:first-child {
            font-weight: bold;
            color: $phn-blue;
        }
    }

    &__header-text {
        padding-right: 40px;
    }

    &__header-heading {
        @extend %secondary-heading;
        font-weight: bold;
        color: $phn-blue;
        margin-bottom: 8px;
        display: block;
    }

    &__header-image-container {
        min-width: 160px;
        width: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__header-image {
        width: 100%;
        height: auto;
    }

    &__body-content {
        width: 100%;
        text-align: left;
    }

    &__body-container {
        @extend #{$accordion}__body-content;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 56px;
        padding-right: 56px;
        flex-direction: row;
        position: relative;
        flex-wrap: wrap;
        @include media-breakpoint-up(md){
            flex-wrap: nowrap;
        }

        &>*:not(:first-child){
            margin-top: 15px;
            margin-left: 0;
            @include media-breakpoint-up(md){
                margin-top: 0;
                margin-left: 15px;
            }
        }
    }

    &__body-content-card {
        width: 100%;
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        &__heading {
            @extend %body-text;
            font-weight: bold;
            color: $text-dark;
            width: 100%;
            text-align: left;
            order: 1;
            margin-bottom: 10px;
        }

        &__icon-wrapper {
            order: 2;
            margin-right: 8px;
        }

        &__link {
            margin-right: 24px;
            .btn--phone-no-icon{
                padding: 0;
                .btn__text {
                    @extend %secondary-heading;
                    margin-bottom: 0;
                }
            }
            &:nth-last-child(2) {
                justify-self: flex-end;
                align-self: flex-end;
                margin-right: 0;
                margin-left: auto;
            }
        }

        &__summary {
            @extend %body-text;
            width: 100%;
            text-align: left;
            margin-top: 10px;
        }

        *:nth-child(3){order: 3;}
        *:nth-child(4){order: 4;}
        *:nth-child(5){order: 5;}
    }

    &__body-content-cards {
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: white;
        border: 1px solid #eee;
        border-radius: 16px;
        box-shadow: 0 2px 8px 0 rgba(0,0,0,0.08);
        padding: 18px;
        min-width: 255px; // rich to extreme at break point 992px
        min-height: 220px;
        width: 100%;

        //@include media-breakpoint-up(md){
        //    width: auto;
        //}

        @include media-breakpoint-up(xl){
            padding: 40px;
        }

        &__heading {
            @extend %body-text;
            font-weight: bold;
            color: $text-dark;
            margin-bottom: 17px;
            text-align: center;
        }

        &__link {
            width: 100%;
            margin-bottom: 12px;
            display: flex;
            justify-content: center;
            align-items: center;

            .btn--phone-no-icon{
                padding: 9px 0;
                .btn__text {
                    @extend %secondary-heading;
                    margin-bottom: 0;
                }
            }
        }

        &__icon-wrapper {
            margin-bottom: 8px;
        }

        &__summary {
            text-align: center;
        }
    }
}
