/* 
* @type This is a secondary content area banner.
*/
$rich-media-breakpoint-up: lg;
$rich-media-breakpoint-down: md;

$rich-media-text-desktop-max-widths: (
	sm: 345px,
	md: 466px,
	lg: 345px,
	xl: 566px
);

$rich-media-text-main-content-desktop-max-widths: (
	sm: 336px,
	md: 389px,
	lg: 389px,
	xl: 442px
);

.rich-media {
	$self: &;
	margin-top: $gap-between-blocks-mobile;
	position: relative;
	overflow: hidden;
	@include media-breakpoint-up($rich-media-breakpoint-up){
		margin-top: $gap-between-blocks;
	}
	display: flex;
	justify-content: center;
	align-items: stretch;
	align-items: stretch;
	flex-direction: column;

	@include media-breakpoint-up($rich-media-breakpoint-up){
		flex-direction: row;
	}

	&__media-wrap {
		display: flex;
		width: auto;
		margin: 0;
		order: 0;
		@include make-container-max-widths($rich-media-text-desktop-max-widths);
		@include media-breakpoint-up($rich-media-breakpoint-up){
			order: unset;
		}
	}

	&__image {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	&__text-wrap {
		order: 1;
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: left;
		align-items: flex-start;
		position: relative;

		@include make-container-max-widths($rich-media-text-desktop-max-widths);
		@include media-breakpoint-up($rich-media-breakpoint-up){
			&:first-child {
				padding-left: 40px;
			}
			&:last-child{
				margin-left: 16px;
			}
			order: unset;
		}

	}

	&__text-content-heading {
		@extend %secondary-heading;
		margin-bottom: 23px;
	}

	&__text-content-summary {
		@extend %body-text;
		color: $text-dark;
		margin-bottom: 24px;
		*:last-child{
			margin-bottom: 0;
		}
		max-height: calc( 24px * 3 );//3 lines
		text-overflow: ellipsis;
		overflow: hidden;
		//@include media-breakpoint-up($rich-media-breakpoint-up){
		//	margin-bottom: 30px;
		//}
	}

	&__text-content-ctas{
		.btn {
			margin-right: 10px;
			margin-bottom: 12px;
			@include media-breakpoint-up($rich-media-breakpoint-up) {
				margin-right: 20px;
				margin-left: 0;
			}
		}
	}

	&--transparent {
		background-color: transparent;
		#{$self}__text-wrap {
			padding: 32px 24px;
		}
		#{$self}__text-content-heading {
			color: $phn-blue;
		}
		#{$self}__text-content-cta {
			.btn {
				&__text {
					color: $phn-blue;
				}
			}
		}
	}

	&--grey {
		align-items: stretch;
		background-color: $pale-grey;
		#{$self}__text-wrap:last-child {margin-left: 16px;}
		#{$self}__text-wrap:first-child {padding-left: 40px;}
		#{$self}__text-wrap {
			padding: 32px 24px;
		}
		#{$self}__media-wrap:last-child{
			position: relative;
			&::before {
				content: '';
				position: absolute;
				display: none;
				left: -2px;
				top: -2px;
				height: calc(100% + 2px);
				width: 43px;
				background-repeat: no-repeat;
				background-size: cover;
				background-image: image-url("svg/swirl-vertical-banner.svg");
			}

			@include media-breakpoint-up(lg){
				&::before{ display: block;}
			}
		}
		#{$self}__media-wrap {
			&::after {
				content: '';
				position: absolute;
				display: block;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 40px;
				background-repeat: no-repeat;
				background-size: cover;
				background-image: image-url("svg/swirl-mobile-grey.svg");
				@media screen and (min-width: 400px) {
					height: 55px;
				}
			}

			@include media-breakpoint-up(lg){
				&::after{ display: none;}
			}
		}
	}
}

.neo-main-content {
	.rich-media {
		justify-content: space-between;
		&__media-wrap {
			@include make-container-max-widths($rich-media-text-main-content-desktop-max-widths);
		}
		//&__text-wrap {
			//@include make-container-max-widths($rich-media-text-main-content-desktop-max-widths);
		//}
		&__text-content-heading {
			@extend %section-heading;
		}
	}
}
.neo-secondary-content {
	.rich-media {
		padding: 4rem 1.2rem;
		margin-top: 0;
		margin-bottom: 0;
	}
}
