.text-with-buttons {
    &__heading {
        //@extend %section-heading;
        margin-bottom: 16px;
        line-height: 1.4;
        font-size: 20px;
        font-weight: 800;
        color: $marine-blue;
    }

    &__summary {
        color: $greyish-brown;
        *:not(:last-child){
            margin-bottom: 16px;
        }
    }
}
