.table-wrapper{
	width: 100%;
	overflow-x: auto;
}
table.table {
	min-width: 700px;
	margin-top: calc(40px - 16px);
	& th, & td{
		padding: 10px 16px;
		border: none;
	}
	& thead th{
		@extend %body-text;
		border: none;
		font-weight: bold;
	}
	tr {
		border: none;
		td {
			@extend %body-text;
			.table_title {
				display: none;
			}
		}
	}
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: $pale-grey;
}
