.neo-two-columns {
	.matrix-block--column {
		// margin should be within the blocks within the columns and on the parent block
		margin-bottom: 0;
		.neo-column-inner {
			width: 100%; // need this to fix the video not showing issue
			.rich-text {
				display: block;
				figure {
					@include media-breakpoint-down(sm) {
						margin-bottom: 24px;
					}
				}
			}
		}
	}
	&--top {
		.matrix-block--column {
			display: flex;
			align-items: flex-start;
		}
	}
	&--center {
		.matrix-block--column {
			display: flex;
			align-items: center;
		}
	}
	&--bottom {
		.matrix-block--column {
			display: flex;
			align-items: flex-end;
		}
	}
}
