.video-iframe-wrapper {
    width: 100%;
    margin: 0 auto;
}

.aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; // 16:9;
}

.aspect-ratio-4-3 {
    padding-bottom: 75%;
}

.aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
}

.matrix-block--column {
    position: relative;
    .matrix-block--video {
        @include media-breakpoint-up(md) {
            width: 100%;
        }
    }
}
.neo-two-columns {
    .matrix-block--video {
        margin-top: 0;
    }
}
